@use '../common/' as c;
@use 'sass:map';

$navbarOptions: (
  'default': (
    'overflow': hidden,
    'background-color': c.$blue-600,
    '.ae.navlinks': (
      'display': flex,
      'margin': 0,
      'padding': 0,
      'overflow': hidden,
      '& li': (
        'display': inline-block,
      ),
      '.ae.navlink': (
        'display': inline-block,
        'text-align': center,
        'text-decoration': none,
        '&:hover': (
          'background-color': c.$blue-700,
        ),
        '.ae.typography': (
          'padding': 1rem,
          'color': c.$white,
        ),
      ),
      '.ae.nav-dropdown': (
        '.ae.nav-dropdown-content': (
          'display': none,
          'position': absolute,
          'min-width': 160px,
          'z-index': 1,
          '.ae.navlink': (
            'box-shadow': c.$box-shadow-1,
            'background-color': c.$blue-100,
            'text-align': left,
            'display': block,
            '&:hover': (
              'background-color': c.$blue-200,
            ),
            '.ae.typography': (
              'color': c.$text-primary,
            ),
          ),
        ),
        '&:hover': (
          '.ae.dropdown-label': (
            'background-color': c.$blue-700,
          ),
          '.ae.nav-dropdown-content': (
            'display': block,
          ),
        ),
      ),
      '.ae.responsive-icon': (
        '.ae.navlink': (
          'display': none,
        ),
      ),
    ),
  ),
  'open': (
    '.ae.navlinks': (
      'position': relative,
      'flex-direction': column,
      '.ae.navlink': (
        'display': block,
      ),
      '.ae.nav-dropdown': (
        '&:hover': (
          '.ae.nav-dropdown-content': (
            'position': relative,
          ),
        ),
      ),
      '.ae.responsive-icon': (
        'position': absolute,
        'right': 0,
        'background-color': c.$blue-700,
        '.ae.navlink': (
          'display': block,
        ),
      ),
    ),
  ),
);

$navbarResponsiveOptions: (
  '.ae.navlinks': (
    '.ae.navlink': (
      'display': none,
    ),
    '.ae.responsive-icon': (
      '.ae.navlink': (
        'display': block,
      ),
    ),
    '.ae.nav-dropdown': (
      '.ae.nav-dropdown-content': (
        '.ae.navlink': (
          'box-shadow': none,
        ),
      ),
    ),
  ),
);

@mixin configure($options) {
  @if ($options) {
    @if (map.get($options, 'navbarOptions')) {
      $navbarOptions: map.get($options, 'navbarOptions') !global;
    }
    @if (map.get($options, 'navbarResponsiveOptions')) {
      $navbarResponsiveOptions: map.get(
        $options,
        'navbarResponsiveOptions'
      ) !global;
    }
  }
}

@mixin styles {
  .ae.navbar {
    @include c.set-variations($navbarOptions);

    @media screen and (max-width: c.$desktop-width) {
      @include c.set-values($navbarResponsiveOptions);
    }

    &.force-responsive:not(.open) {
      @include c.set-values($navbarResponsiveOptions);
    }
  }
}
