@use '../Common' as c;

$cell-padding: 0.25rem 0.75rem;

$tableHeaderOptions: (
  'default': (
    'display': grid,
    '.ae.table-cell': (
      'cursor': pointer,
      'user-select': none,
      'padding': $cell-padding,
      'padding-left': 0.75rem,
      'background-color': c.$transparent,
      'color': c.$textPrimary,
      'font-weight': bold,
      'word-wrap': break-word,
      'transition': 0.2s c.$cubic-bezier,
      '&:hover': (
        'background-color': c.$grey-100,
      ),
    ),
  ),
);

$tableRowOptions: (
  'default': (
    'display': grid,
//    'width': 100%,
    'padding': $cell-padding,
    '--fa-primary-color': c.$gray-700,
    '--fa-secondary-color': c.$gray-900,
    'border-top': 1px solid c.$grey-100,
    '&:focus': (
      'outline': none,
      'font-weight': bold,
      'background-color': c.$grey-100,
    ),
    '&:hover': (
       '--fa-primary-color': c.$gray-500,
       '--fa-secondary-color': c.$borderblue,
      '.ae.table-cell': (
        'background-color': c.$grey-100,
        'transition': 0.2s c.$cubic-bezier,
        '&:nth-child(1)': (
          'border-left': 0.25rem solid c.$transparent,
        ),
      ),
    ),
    '.ae.table-cell': (
      'background-color': c.$transparent,
      'word-wrap': break-word,
      'overflow': hidden,
      'text-overflow': ellipsis,
      'padding': $cell-padding,
      //'&': c.$scrollbarOptions,
      '&:nth-child(1)': (
        'padding-left': 0.5rem,
        'border-left': 0.25rem solid c.$transparent,
      ),
      '& a': (
        '&:hover': (
          'text-decoration': underline,
        ),
      ),
    ),
  ),
);

$tableScrollOptions: (
  'overflow-y': auto,
  'position': relative,
  //'&': c.$scrollbarOptions,
  '.ae.table-row': (
    'position': absolute,
    'width': 100%,
  ),
);

$tableRowContainerOptions: (
  'display': grid,
  'overflow': overlay,
);