@mixin scss($circle: true) {
  
  .button-tool {
    
    @if($circle){
      width: 2.5rem;
      height: 2.5rem;
    }
    @else {
      gap: .5rem
    }
    
    border-radius: 500px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    color: var(--tertiary-text);

    &:hover {
      background-color: var(--bg-color-accent);
      color: var(--primary-text);
    }
  }
}

