<div class="textcontent" style="margin: 1.5rem">
    <h1 class="weight-500">Terms and Conditions</h1>
    <h2 class="weight-400 letter-spacing-1 size-16"><span>Last Update: September 2, 2020</span></h2>
    <p class="dropcap">
        <br>Thanks for using NRCAN DataHub!
        <br><br>Natural Resources Canada (NRCAN) is committed to creating a more enlightened way of working by providing an intuitive, unified platform to keep your content safe and accessible while helping you and those you work with stay coordinated and in sync. These terms of service (“Terms”) cover your use and access to the NRCAN DataHub services, client software and websites ("Services"). By using our Services, you’re agreeing to be bound by these Terms and our Privacy Policy (“Privacy”).

        <h3 class="weight-400 letter-spacing-1">Your Stuff & Your Permissions</h3>
        When you use our Services, you provide us with things like your files, content, messages, contacts, and so on (“Your Stuff”). These Terms don’t give us any rights to Your Stuff except for the limited rights that enable us to offer the Services.
        <br><br>We need your permission to do things like hosting Your Stuff, backing it up, and sharing it when you ask us to. Our Services also provide you with features like commenting, sharing, searching, image thumbnails, document previews, optical character recognition (OCR), easy sorting and organization, and personalization to help reduce busywork. To provide these and other features, NRCAN DataHub accesses, stores, and scans Your Stuff. You give us permission to do those things, and this permission extends to our affiliates and trusted third parties we work with.

        <br><br><h3 class="weight-400 letter-spacing-1">Your Responsibilities</h3>
        Your use of our Services must comply with acceptable use policy (see “Acceptable Use Policy” section below). Content in the Services may be protected by others’ intellectual property rights. Please don’t copy, upload, download, or share content unless you have the right to do so.
        <br><br>NRCAN DataHub may review your conduct and content for compliance with these Terms and our Acceptable Use Policy. We are not responsible for the content people upload, post and share via the Services.
        <br><br>Help us keep Your Stuff protected. Safeguard your password to the Services and keep your account information current. Don’t share your account credentials or give others access to your account.
        <br><br>You may use our Services only as permitted by applicable law, including export control laws and regulations.

        <br><br><h3 class="weight-400 letter-spacing-1">Software</h3>
        Some of our Services allow you to download client software (“Software”) which may update automatically. So long as you comply with these Terms, we give you a limited, nonexclusive, nontransferable, revocable license to use the Software, solely to access the Services. To the extent any component of the Software may be offered under an open source license, we’ll make that license available to you and the provisions of that license may expressly override some of these Terms. Unless the following restrictions are prohibited by law, you agree not to reverse engineer or decompile the Services, attempt to do so, or assist anyone in doing so.

        <br><br><h3 class="weight-400 letter-spacing-1">Beta Services</h3>
        We sometimes release products and features that we’re still testing and evaluating (“Beta Services”). Beta Services are labeled “alpha,” “beta,” “preview,” “early access,” or “evaluation” (or with words or phrases with similar meanings) and may not be as reliable as NRCAN DataHub’s other services. Beta Services are made available so that we can collect user feedback, and by using our Beta Services, you agree that we may contact you to collect such feedback.

        <br><br>Beta Services are confidential until official launch. If you use any Beta Services, you agree not to disclose any information about those Services to anyone else without our permission.

        <br><br><h3 class="weight-400 letter-spacing-1">Our Stuff</h3>
        The Services are protected by copyright, trademark, and other US and foreign laws. These Terms don’t grant you any right, title, or interest in the Services, others’ content in the Services, NRCAN DataHub logos and other brand features. We welcome feedback but note that we may use comments or suggestions without any obligation to you.

        <br><br><h3 class="weight-400 letter-spacing-1">Copyright</h3>
        We respect the intellectual property of others and ask that you do too. We respond to notices of alleged copyright infringement if they comply with the law, and such notices should be reported using our Copyright Policy. We reserve the right to delete or disable content alleged to be infringing and terminate accounts of repeat infringers. Information posted by the NRCAN DataHub is subject to the Copyright Act.

        <br><br><h3 class="weight-400 letter-spacing-1">Paid Accounts</h3>
        Billing. We’ll automatically bill you monthly, if on a payment plan, or will expect prompt payment, if you have signed a Memorandum of Understanding (MOU) with NRCAN DataHub, for the Services that you consume.  You’re responsible for all applicable taxes, and we’ll charge tax when required to do so.
        <br><br>Changes. We may change the fees in effect but will give you advance notice of these changes via a message to the email address associated with your account.

        <br><br><h3 class="weight-400 letter-spacing-1">Termination</h3>
        You’re free to stop using our Services at any time. We reserve the right to suspend or terminate your access to the Services with notice to you if:
        <br><br>(a) you’re in breach of these Terms,
        <br><br>(b) your use of the Services would cause a real risk of harm or loss to us or other users, or
        <br><br>(c) you have left NRCAN or haven't accessed our Services for 12 consecutive months.
        <br><br>We’ll provide you with reasonable advance notice via the email address associated with your account to remedy the activity that prompted us to contact you and give you the opportunity to export Your Stuff from our Services. If after such notice you fail to take the steps we ask of you, we’ll terminate or suspend your access to the Services.
        <br><br>We won’t provide notice before termination where:
        <br><br>a) you’re in material breach of these Terms,
        <br><br>(b) doing so would cause us legal liability or compromise our ability to provide the Services to our other users, or
        <br><br>(c) we're prohibited from doing so by law.

        <br><br><h3 class="weight-400 letter-spacing-1">Discontinuation of Services</h3>
        We may decide to discontinue the Services in response to unforeseen circumstances beyond NRCAN DataHub control or to comply with a legal requirement. If we do so, we’ll give you reasonable prior notice so that you can export Your Stuff from our systems.

        <br><br><h3 class="weight-400 letter-spacing-1">Services “AS IS”</h3>
        We strive to provide great Services, but there are certain things that we can't guarantee. TO THE FULLEST EXTENT PERMITTED BY LAW, NRCAN DATAHUB AND ITS AFFILIATES, SUPPLIERS, ARCHITECTS, DEVELOPERS AND DISTRIBUTORS MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED "AS IS." WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. Some places don’t allow the disclaimers in this paragraph, so they may not apply to you.
        <br><br>WE DON’T EXCLUDE OR LIMIT OUR LIABILITY TO YOU WHERE IT WOULD BE ILLEGAL TO DO SO—THIS INCLUDES ANY LIABILITY FOR NRCAN DATAHUB OR ITS AFFILIATES’ FRAUD OR FRAUDULENT MISREPRESENTATION IN PROVIDING THE SERVICES. IN COUNTRIES WHERE THE FOLLOWING TYPES OF EXCLUSIONS AREN’T ALLOWED, WE'RE RESPONSIBLE TO YOU ONLY FOR LOSSES AND DAMAGES THAT ARE A REASONABLY FORESEEABLE RESULT OF OUR FAILURE TO USE REASONABLE CARE AND SKILL OR OUR BREACH OF OUR CONTRACT WITH YOU. THIS PARAGRAPH DOESN’T AFFECT CONSUMER RIGHTS THAT CAN'T BE WAIVED OR LIMITED BY ANY CONTRACT OR AGREEMENT.
        <br><br>IN COUNTRIES WHERE EXCLUSIONS OR LIMITATIONS OF LIABILITY ARE ALLOWED, NRCAN DATAHUB, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS WON’T BE LIABLE FOR:
        <br><br>i. ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, OR
        <br><br>ii. ANY LOSS OF USE, DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY.
        <br><br>THESE EXCLUSIONS OR LIMITATIONS WILL APPLY REGARDLESS OF WHETHER OR NOT NRCAN DATAHUB OR ANY OF ITS AFFILIATES HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES.
        <br><br>NRCAN DATAHUB, ITS AFFILIATES, SUPPLIERS, ARCHITECTS AND DEVELOPERS WILL HAVE NO LIABILITY TO YOU FOR ANY LOSS OF PROFIT, LOSS OF BUSINESS, BUSINESS INTERRUPTION, OR LOSS OF BUSINESS OPPORTUNITY. NRCAN DATAHUB AND ITS AFFILIATES AREN’T RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE SERVICES.
        <br><br>OTHER THAN FOR THE TYPES OF LIABILITY WE CANNOT LIMIT BY LAW (AS DESCRIBED IN THIS SECTION), WE LIMIT OUR LIABILITY TO YOU TO THE GREATER OF $20 CDN.

        <br><br><h3 class="weight-400 letter-spacing-1">No Class Actions</h3>
        You may only resolve disputes with us on an individual basis and may not bring a claim as a plaintiff or a class member in a class, consolidated, or representative action. Class arbitrations, class actions, private attorney general actions, and consolidation with other arbitrations aren’t allowed. If this specific paragraph is held unenforceable, then the entirety of this section will be deemed void.

        <br><br><h3 class="weight-400 letter-spacing-1">Controlling Law</h3>
        These Terms will be governed by Ontario law except for its conflicts of laws principles. However, some countries (including those in the European Union) have laws that require agreements to be governed by the local laws of the consumer's country. This paragraph doesn’t override those laws.

        <br><br><h3 class="weight-400 letter-spacing-1">Acceptable Use Policy</h3>
        NRCAN DataHub is used by many people across NRCAN and we're proud of the trust placed in us. In exchange, we trust you to use our services responsibly.
        <br><br>You agree not to misuse the NRCAN DataHub services ("Services") or help anyone else to do so. For example, you must not even try to do any of the following in connection with the Services:
        <br><br><ul>
            <li>probe, scan, or test the vulnerability of any system or network;</li>
            <li>breach or otherwise circumvent any security or authentication measures;</li>
            <li>access, tamper with, or use non-public areas or parts of the Services, or shared areas of the Services you haven't been invited to;</li>
            <li>interfere with or disrupt any user, host, or network, for example by knowingly sending a virus, overloading, flooding, <br>spamming, or mail-bombing any part of the Services;</li>
            <li>send unsolicited communications, promotions or advertisements, or spam;</li>
            <li>send altered, deceptive or false source-identifying information, including "spoofing" or "phishing";</li>
            <li>promote or advertise products or services other than your own without appropriate authorization;</li>
            <li>abuse referrals or promotions to get more storage space than deserved or to sell storage space received from referrals or <br>promotions;</li>
            <li>circumvent storage space limits;</li>
            <li>sell the Services unless specifically authorized to do so;</li>
            <li>publish or share materials that are unlawfully pornographic or indecent, or that contain extreme acts of violence or <br>terrorist activity, including terror propaganda;</li>
            <li>advocate bigotry or hatred against any person or group of people based on their race, religion, ethnicity, sex, gender <br>identity, sexual orientation, disability, or impairment;</li>
            <li>harass or abuse NRCAN DataHub personnel or representatives or agents performing services on behalf of NRCAN DataHub;</li>
            <li>violate the law in any way, including storing, publishing or sharing material that's fraudulent, defamatory, or <br>misleading; or</li>
            <li>violate the privacy or infringe the rights of others.</li>
        </ul>
        <h3 class="weight-400 letter-spacing-1">Using files located on non-Government of Canada servers</h3>
        To improve the functionality of NRCAN DataHub, certain files (such as open source libraries, images and scripts) may be delivered automatically to your browser via a trusted third-party server or content delivery network. The delivery of these files is intended to provide a seamless user experience by speeding response times and avoiding the need for each visitor to download these files. Where applicable, specific privacy statements covering these files are included in our Privacy Notice.
    </p>

    <h3 class="weight-400 letter-spacing-1">Providing content in Canada’s official languages</h3>
    The Official Languages Act, the Official Languages (Communications with and Services to the Public) Regulations and Treasury Board policy requirements establish when we use both English and French to provide services to or communicate with members of the public. When there is no obligation to provide information in both official languages, content may be available in one official language only. Information provided by organizations not subject to the Official Languages Act is in the language(s) provided. Information provided in a language other than English or French is only for the convenience of our visitors.

    <br><br><h3 class="weight-400 letter-spacing-1">Linking to non-Government of Canada websites</h3>
    Links to websites not under the control of NRCAN DataHub or the Government of Canada are provided solely for the convenience of our website visitors. We are not responsible for the accuracy, currency or reliability of the content of such websites. NRCAN DataHub and the Government of Canada does not offer any guarantee in that regard and is not responsible for the information found through these links and does not endorse the sites and their content.
    <br><br>Visitors should also be aware that information offered by non-Government of Canada sites to which this website links is not subject to the Privacy Act or the Official Languages Act and may not be accessible to persons with disabilities. The information offered may be available only in the language(s) used by the sites in question. With respect to privacy, visitors should research the privacy policies of these non-government websites before providing personal information.

    <br><br><h3 class="weight-400 letter-spacing-1">Trademark notice</h3>
    The official symbols of the NRCAN DataHub, including the DataHub wordmark, may not be reproduced, whether for commercial or non-commercial purposes, without prior written authorization.

    <br><br><h3 class="weight-400 letter-spacing-1">Our commitment to accessibility</h3>
    The NRCAN DataHub is committed to achieving a high standard of accessibility as defined in the Standard on Web Accessibility and the Standard on Optimizing Websites and Applications for Mobile Devices. In the event of difficulty using our web pages, applications or device-based mobile applications, contact us for assistance or to obtain alternative formats such as regular print or another appropriate format.

    <br><br><h3 class="weight-400 letter-spacing-1">Links to other websites and ads</h3>
    NRCAN DataHub accounts may post or display links or ads for websites that are not under the control of the NRCAN DataHub or the Government of Canada. These links are provided solely for the convenience of users. The government is not responsible for the information found through these links or ads; neither does it endorse the sites or their content.

    <br><br><h3 class="weight-400 letter-spacing-1">Comments and interaction</h3>
    The NRCAN DataHub will read comments and participate in discussions when appropriate. Your comments and contributions must be relevant and respectful.
    <br><br>The NRCAN DataHub will not engage in partisan or political issues or respond to questions that violate these Terms and Conditions.
    <br><br>The NRCAN DataHub reserves the right to remove comments and contributions, and to block users based on inappropriate criteria.
    <br><br>These kinds of comments and contributions include:
    <br><br><ul>
        <li>include personal information</li>
        <li>include protected or classified information of the Government of Canada</li>
        <li>infringe upon intellectual property or proprietary rights</li>
        <li>are contrary to the principles of the Canadian Charter of Rights and Freedoms, Constitution Act, 1982</li>
        <li>are racist, hateful, sexist, homophobic or defamatory, or contain or refer to any obscenity or pornography</li>
        <li>are threatening, violent, intimidating or harassing</li>
        <li>are contrary to any federal, provincial or territorial laws of Canada</li>
        <li>constitute impersonation, advertising or spam</li>
        <li>encourage or incite any criminal activity</li>
        <li>are written in a language other than English or French</li>
        <li>otherwise violate this notice</li>
    </ul>
    NRCAN DataHub reserves the right to report users and/or their comments and contributions to third-party social media service providers to prevent or remove the posting of content that is contrary to these Terms and Conditions, or to the Terms of Service/Use of the third-party social media platform.

    <br><br><h3 class="weight-400 letter-spacing-1">Accessibility of social media platforms</h3>
    Social media platforms are third-party service providers and are not bound by Government of Canada standards for web accessibility.

    <br><br><h3 class="weight-400 letter-spacing-1">Privacy</h3>
    Social media accounts are not Government of Canada websites and represent only their presence on third-party service providers.

    <br><br><h3 class="weight-400 letter-spacing-1">Entire Agreement</h3>
    These Terms constitute the entire agreement between you and NRCAN DataHub with respect to the subject matter of these Terms and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable to the subject matter of these Terms. These Terms create no third party beneficiary rights.

    <br><br><h3 class="weight-400 letter-spacing-1">Waiver, Severability & Assignment</h3>
    NRCAN failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable, the remaining provisions of the Terms will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights under these Terms, and any such attempt will be void. NRCAN DataHub may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services.

    <br><br><h3 class="weight-400 letter-spacing-1">Modifications</h3>
    We may revise these Terms from time to time to better reflect:
    <br><br>(a) changes to the law,
    <br><br>(b) new regulatory requirements, or
    <br><br>(c) improvements or enhancements made to our Services.
    <br><br>If an update affects your use of the Services or your legal rights as a user of our Services, we’ll notify you prior to the update's effective date by sending an email to the email address associated with your account or via an in-product notification. These updated terms will be effective no less than 30 days from when we notify you.
    <br><br>If you don’t agree to the updates we make, please cancel your account before they become effective. Where applicable, we’ll offer you a prorated refund based on the amounts you have prepaid for Services and your account cancellation date. By continuing to use or access the Services after the updates come into effect, you agree to be bound by the revised Terms.

</div>