<div class="textcontent" style="margin: 1.5rem">
    <h1 class="weight-500">Terms and Conditions</h1>
    <h2 class="weight-400 letter-spacing-1 size-16"><span>Last Update: January 20, 2022</span></h2>
    <p class="dropcap">
        <br>Welcome to the sandbox environment for the Federal Science DataHub (FSDH) Proof-of-Concept, an initiative supported by the Data Solutions team within Shared Services Canada’s (SSC) Science Program.
        <br><br>The FSDH is the first Proof-of-Concept (PoC) being tested with the objective of exploring capabilities related to data sharing and data processing, to meet the needs for sharing and collaborating with partners across the GC and with external partners, including provincial and municipal governments, academia and more.

        <h3 class="weight-400 letter-spacing-1">FSDH PoC Criteria</h3>
        This space is specifically for the FSDH PoC use cases with requirements to share and collaborate on data.
        <br>The criteria for this PoC is:
        <ul>
            <li>Unclassified data only</li>
            <li>Data volume must be under 10TB</li>
        </ul>
        <br>Furthermore, the FSDH PoC will have no inherent data management capabilities: no long-term storage; no metadata or cataloguing features; and no lifecycle management properties.
        <br>Data Sharing will be limited to Azure Storage.

        <br><br><h3 class="weight-400 letter-spacing-1">Timelines and Duration</h3>
        This first PoC will run until June 2022 and will be made up of four-week sprints. The activities for each sprint will be documented and shared with participants.

        <br><br><h3 class="weight-400 letter-spacing-1">Privacy/Permissions</h3>
        Each use case will have a dedicated and restricted space within the FSDH. Access will only be granted to groups or individuals collaborating on an individual use case.
    </p>
</div>