@if (ProjectAcronym is null)
{
    <ToolCard Loading/>
}
else
{
    <ToolCard
        Title=@Localizer["Form Builder"]
        Description="@Localizer["Design custom data entry forms"]">
        <Logo>
                <MudIcon aria-hidden="true" focusable="false" Icon="fad fa-file-alt card-icon fa-xs"/>
        </Logo>
        <ToolActionsList>
             <ul>
                <li>
                    <DHLink Variant="h3" DataProject="@ProjectAcronym" LinkType="DatahubLinkType.FormBuilder">
                        <ToolActionButton LinkType="LinkType.Internal">
                            @Localizer["Open Form Builder"]
                        </ToolActionButton>
                    </DHLink>
                </li>
             </ul>
        </ToolActionsList>
    </ToolCard>
}


@code {
    [CascadingParameter(Name = "ProjectAcronym")]
    public string ProjectAcronym { get; set; }
}