@use '../common/' as c;
@use 'sass:map';

$paginationOptions: (
  'display': flex,
);

$pageOptions: (
  'margin': 0.25rem,
  'min-width': 2rem,
  'height': 2rem,
  'display': flex,
  'justify-content': center,
  'border-radius': 2px,
  'align-items': center,
  'cursor': pointer,
  'user-select': none,
  'transition': all 0.4s c.$cubic-bezier,
  '&:not(.disabled):hover': (
    'box-shadow': c.$box-shadow-1,
    'background-color': c.$grey-200,
  ),
  '&.disabled': (
    'opacity': 0.3,
    'cursor': default,
  ),
  '&.active': (
    'box-shadow': c.$box-shadow-1,
    'background-color': c.$white,
    'font-weight': bold,
  ),
);

@mixin configure($options) {
  @if ($options) {
    @if (map.get($options, 'paginationOptions')) {
      $paginationOptions: map.get($options, 'paginationOptions') !global;
    }
    @if (map.get($options, 'pageOptions')) {
      $pageOptions: map.get($options, 'pageOptions') !global;
    }
  }
}

@mixin styles {
  .ae.pagination {
    @include c.set-values($paginationOptions);

    .ae.page {
      @include c.set-values($pageOptions);
    }
  }
}
