@using Datahub.Core.Services.Projects;
@using Datahub.ProjectTools.Services;
@inject IDbContextFactory<DatahubProjectDBContext> _dbFactoryProject
@inject IRequestManagementService _requestManagementService

@if (!string.IsNullOrWhiteSpace(Project.WebForms_URL))
{
    @if (Project is null)
    {
        <ToolCard Loading/>
    }
    else
    {
        <ToolCard Title=@Localizer["Data Entry"]
              Description=@Localizer["Start the Data Entry application enabled for this project"]>
            <Logo>
                <div style="width:180px">
                    <MudIcon Color="Color.Secondary" Icon="fad fa-keyboard card-icon fa-xs" />
                </div>
            </Logo>
            <ToolActionsList>
                <DHLink Variant="h3" DataProject="@ProjectAcronym" WebFormsURL="@Project.WebForms_URL">
                    <ToolActionButton LinkType="LinkType.Internal">
                        @Localizer["Open Data Entry Application"]
                    </ToolActionButton>                    
                </DHLink>            
            </ToolActionsList>
        </ToolCard>
    }

}

@code {

    [CascadingParameter(Name = "Project")]
    private Datahub_Project Project { get; set; }

    [CascadingParameter(Name = "GraphUser")]
    public Microsoft.Graph.User GraphUser { get; set; }


    private string ProjectAcronym => Project?.Project_Acronym_CD;

}