@inject IDbContextFactory<DatahubProjectDBContext> _dbFactoryProject
@inject RequestManagementService _requestManagementService

@if (_project is null)
{
    <ToolCard Loading/>
}
else
{
    <ToolCard
        Title="@Localizer["IoT Devices"]"
        Description="@Localizer["Access the connection details for the IoT devices connected to this project"]">
        <Logo>
            <i class="fas fa-router"></i>
        </Logo>
        <ToolActionsList>
            <ul>
                <li>
                    <DHLink LinkType="DatahubLinkType.Storage">
                        <AeButton class="light">@Localizer["Manage Devices"]</AeButton>
                    </DHLink>
                </li>
                <li>
                    <DHLink LinkType="DatahubLinkType.Storage">
                        <AeButton class="light">@Localizer["Connect New Device"]</AeButton>
                    </DHLink>
                </li>
            </ul>
        </ToolActionsList>
    </ToolCard>
}

@code {

    private Datahub_Project _project;

    protected override async Task OnInitializedAsync()
    {
        await using var projectDbContext = await _dbFactoryProject.CreateDbContextAsync();

        // review this!!
        _project = await projectDbContext.Projects
            .Include(p => p.Requests)
            .FirstAsync();
    }
}