@using Datahub.Core.Components.Skeleton

@if (Loading)
{
    <span style="height: 320px; background-color: white; padding: 1rem;">
        <span style="display: flex; align-items: center; gap: 1rem; margin-bottom: 1rem;">
            <Skeleton Width="40px" Height="40px" Circle/>
            <Skeleton Width="200px" Height="3rem"/>
        </span>
        <Skeleton Width="400px" Height="1.5rem"/>
        <Skeleton Width="400px" Height="1.5rem"/>
        <Skeleton Width="150px" Height="1.5rem"/>
        <span style="padding-left: 2rem; display: block; margin-top: 1rem;">
            <Skeleton Width="120px" Height="2.5rem"/>
            <Skeleton Width="150px" Height="2.5rem"/>
            <Skeleton Width="130px" Height="2.5rem"/>
        </span>
    </span>
}
else
{
    <div class="tool-card">
        <span class="tool-image">
            @if (Logo != null)
            {
                @Logo
            }
            else
            {
                <i class="fas fa-tools"></i>
            }
        </span>
        <AeTypography class="tool-title" Variant="h3">@Title</AeTypography>
        <AeTypography class="tool-description">@Description</AeTypography>
        @if (ToolActionsList != null)
        {
            <div class="tool-actions">
                @ToolActionsList
            </div>
        }
    </div>
}

@code {

    [Parameter]
    public bool Loading { get; set; }
    
    [Parameter]
    public RenderFragment Logo { get; set; }
    
    [Parameter]
    public RenderFragment ToolActionsList { get; set; }
    
    [Parameter]
    public string Title { get; set; } = "Project Storage";

    [Parameter]
    public string Description { get; set; } = "The cloud blows with riddle, sail the quarter-deck before it screams. The sail fires with endurance, loot the lighthouse. ";
}