@using Datahub.Core.Components.Skeleton
@using MudBlazor.Utilities

@if (Loading)
{
    <span style="height: 320px; background-color: white; padding: 1rem;">
        <span style="display: flex; align-items: center; gap: 1rem; margin-bottom: 1rem;">
            <Skeleton Width="40px" Height="40px" Circle/>
            <Skeleton Width="200px" Height="3rem"/>
        </span>
        <Skeleton Width="400px" Height="1.5rem"/>
        <Skeleton Width="400px" Height="1.5rem"/>
        <Skeleton Width="150px" Height="1.5rem"/>
        <span style="padding-left: 2rem; display: block; margin-top: 1rem;">
            <Skeleton Width="120px" Height="2.5rem"/>
            <Skeleton Width="150px" Height="2.5rem"/>
            <Skeleton Width="130px" Height="2.5rem"/>
        </span>
    </span>
}
else
{
    
    <MudCard Class="tool-card">
        <MudCardContent>
            <div class="d-flex align-center">
                <div style="@getLogoStyle()" class="d-flex align-center jusitfy-center">
                    @if (Logo != null)
                    {
                        @Logo
                    }
                    else
                    {
                        <i class="fas fa-tools"></i>
                    }
                </div>
                <AeTypography Variant="h3">@Title</AeTypography>
            </div>
            <MudText Class="tool-description">@Description</MudText>
        </MudCardContent>
        @if (ToolActionsList != null)
        {
            
        <MudCardActions>
                @ToolActionsList
        </MudCardActions>
        }
    </MudCard>
}

@code {

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public RenderFragment Logo { get; set; }

    [Parameter]
    public RenderFragment ToolActionsList { get; set; }

    [Parameter]
    public string Title { get; set; } = "Project Storage";

    [Parameter]
    public string Description { get; set; } = "The cloud blows with riddle, sail the quarter-deck before it screams. The sail fires with endurance, loot the lighthouse. ";

    public string getLogoStyle()
    {
        return new StyleBuilder()
            .AddStyle("height", "40px")
            .AddStyle("width", "40px")
            .AddStyle("margin-right", "8px")
            .Build();
    }
}