

$cubic-bezier: cubic-bezier(.25,.8,.25,1);

$sidebarWidth: 80px;
$topbarHeight: 60px;
$marginTop: 0.5rem;



@function spacing($value: 1, $base: 0){
  @return calc((#{$base} + #{$value} * (var(--design-unit) * var(--density))) * 1px);
}