
.signup-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: 55% 45%;
  
  .gc-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 300px;
  }
  
  .language-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .info-container {
    background-image: url("/img/bg-signup3.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 4rem;
    

    
    .info-title-container {
      --logo-size: 64px;
      
      margin-top: -15vh;
      margin-left: -32px; // half of logo size
      
      .info-pretext {
        opacity: 0.8;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: bold;
        transform:
                translateX(8px)
                translateY(16px)
                translateX(var(--logo-size));
      }
      
      .info-logo {
        width: var(--logo-size);
        height: var(--logo-size);
        display: inline-block;
        transform: translateY(5px);
      }
      
      .info-title {
        margin-top: 0;
        line-height: 1.2;
        font-size: 5rem;
        display: inline-block;
      }
      
    }
    
    .info-content {
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.5);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      
      width: 600px;
      padding: 2rem;
      text-align: center;
      
      .info-welcome {
        font-size: 1.4rem;
        font-weight: bold;
      }
      
      .info-hosted {
        font-style: italic;
        opacity: .8;
        margin-bottom: 2rem;
      }
    }
  }


  .form-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 2rem;
    background-color: #fdfbfb;

    .form-section {

      max-width: 600px;
      margin: 0 auto;

      .form-title {
        font-size: 2rem;
        margin-bottom: 1rem;

        --logo-size: 32px;

        .info-logo {
          width: var(--logo-size);
          height: var(--logo-size);
          display: inline-block;
          transform: translateY(5px);
        }
        
      }

      .form-subtitle {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  }
}
