@*ProjectMetadata.razor*@

@page "/admin/metadata/{ProjectAcronym}"
@using Datahub.Metadata.DTO
@inject NavigationManager NavigationManager

<div class="manage-access"> 

    <AeFlex Vertical>
        <h1>@($"{ProjectAcronym} {Localizer["Project Metadata"]}")</h1>
    </AeFlex>    

    <AeCard>
        <ObjectMetadataEditor 
            ProfileName="project"
            ObjectId=@ProjectAcronym
            SaveButtonLabel=@Localizer["OPENDATA-WIZARD.Save_button"]
            OnSave=@HandleSaved
        />    
    </AeCard>
</div>


@code {

    [Parameter]
    public string ProjectAcronym { get; set; }

    private void HandleSaved(FieldValueContainer fields)
    {
        NavigationManager.NavigateTo($"/projects/{ProjectAcronym}");
    }
}
