@*ProjectMetadata.razor*@
@page "/admin/metadata/{ProjectAcronym}"
@using Datahub.Metadata.Model

<div class="manage-access"> 

    <AeFlex Vertical>
        <h1>@($"{ProjectAcronym} {Localizer["Initiative Metadata"]}")</h1>
    </AeFlex>    

    <ProjectObjectMetadata 
        ProfileName="project"
        ObjectId=@ProjectAcronym
        Location=@ProjectAcronym
        ProjectAcronym=@ProjectAcronym 
        ObjectType=@MetadataObjectType.DataInitiative
        OnProjectLoaded=@HandleProjectLoaded />
</div>


@code {

    [Parameter]
    public string ProjectAcronym { get; set; }

    private void HandleProjectLoaded(Datahub_Project project)
    {
    }
}
