@mixin configure($options) {
    @if ($options) {
        @debug 'page outline configuration not yet supported';
    }
}

@mixin styles {

    .ae.outline-wrapper {
    }

    .ae.outline-row {
        display: block;
    }

    .ae.card.outline-fixed {
        width: 250px;
        position: fixed;
        top: 0px;
        right: 0px;
    }
}
