@page "/approvalform"

<div style="margin: 2rem">
    <AeCard>
        <Header>
            <h2>Approval Form</h2>
        </Header>
        <ChildContent>
            <AeModelForm Model="_approvalForm"
                         T="Data.Forms.ShareWorkflow.ApprovalForm"
                         OnValidSubmit="HandleValidSubmit"
                         OnCancel="ClearForm"
                         OnConfigure="OnConfigure"
                         CancelLabel="@CancelLabel"
                         SubmitLabel="@SubmitLabel"
                         LabelForPropertyFunc="@GetDataLabel"
                         LabelsOnTop />
        </ChildContent>
    </AeCard>        
</div>

@code {

    [Inject]
    public IMetadataBrokerService MetadataBrokerService { get; set; }

    [Inject]
    public IStringLocalizer DataLocalizer { get; set; }

    [Parameter]
    public int ApprovalFormId { get; set; } = 0;

    [Parameter]
    public string SubmitLabel { get; set; } = "Submit";

    [Parameter]
    public string CancelLabel { get; set; } = "Cancel";

    public Data.Forms.ShareWorkflow.ApprovalForm _approvalForm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _approvalForm = await MetadataBrokerService.GetApprovalForm(ApprovalFormId) ?? 
            new Data.Forms.ShareWorkflow.ApprovalForm() { Type_Of_Data_TXT = "Data" };
    }

    private async Task HandleValidSubmit()
    {
        _approvalForm.ApprovalFormId = await MetadataBrokerService.SaveApprovalForm(_approvalForm);
        // todo: navigate
    }

    private Task<Data.Forms.ShareWorkflow.ApprovalForm> ClearForm()
    {
        _approvalForm = new Data.Forms.ShareWorkflow.ApprovalForm() { ApprovalFormId = _approvalForm.ApprovalFormId };
        return Task.FromResult(_approvalForm);
    }

    private IEnumerable<string> LocalizeOptions(params string[] labels)
    {
        return labels.Select(o => DataLocalizer[o].ToString());
    }

    private IEnumerable<string> GetTypeOfDataOptions() => LocalizeOptions("Type_Of_Data_Choice_Data_TXT", "Type_Of_Data_Choice_Info_TXT");

    private async Task OnConfigure(ModelFormContext<Data.Forms.ShareWorkflow.ApprovalForm> context)
    {
        await context.UpdateValidValues("Type_Of_Data_TXT", GetTypeOfDataOptions()); 
    }

    private string GetDataLabel(string propName)
    {
        return DataLocalizer[propName];
    }
}