@using Datahub.Portal.Layout
@inherits LayoutComponentBase

<MudThemeProvider Theme="DatahubTheme.DefaultTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div style="padding: 24px;">
    @Body
</div>