@use '../../Styles/Components/Button/button-tool';


.page-alert {
  padding: 2rem;
  margin-bottom: 2rem;
  position: relative;
  
  background-color: var(--alert--bg-color); 
  border-left: 2px solid var(--alert-color);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius);
  
  .alert-heading {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    
    .alert-level-icon {
      font-size: 2.5rem;
      color: var(--alert-color);
    }
    .alert-title {
      margin-top: 0;
    }
    
    .close-button-wrapper {
      position: absolute;
      top: .5rem;
      right: .5rem;
      @include button-tool.scss;
    }
    
  }
} 