# ==========================================================
# Global Settings
# ==========================================================
# Detect text files automatically and normalize to LF line endings
# across platforms, unless specified otherwise.
# Dotnet on linux uses LF line endings, so we need to normalize. 
*	text=auto
