!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/
.vs/
bin/
obj/
*.user
artifacts/
.vscode/launch.json
.dotnet/
*.binlog
.DS_Store
dh-code.bat
Datahub.Core/node_modules
DatahubIntakeForms/appsettings.Development.json
DatahubIntakeForms/appsettings.sqlite.json
DatahubIntakeForms/appsettings.json
DatahubIntakeForms/appsettings.Tst.json
DatahubIntakeForms/Properties/launchSettings.json
WebPortal/appsettings.Development.json
WebPortal/appsettings.json
**/*/appsettings.*.json
**/*/*.db-shm
**/*/*.db-wal
WebPortal/Properties/launchSettings.json
/WebPortal/*.db
/Datahub.Core/node_modules/.bin
/Datahub.Core/node_modules
/node_modules
WebPortal/node_modules
WebPortal/MissingTranslations.json
WebPortal/appsettings.sqlite.json
