@using Blazored.LocalStorage
@using Datahub.Achievements
@using Datahub.Achievements.Models

@inject IUserInformationService _userInformationService
@inject ILocalStorageService _localStorage
@inject AchievementService _achievementService

<span @onclick="() => ChangeLanguage(Language)" style="cursor:pointer;">
    @LanguageDisplay
</span>

@code {

    private static string Language => Thread.CurrentThread.CurrentCulture.Name.ToLower().Contains("fr") ? "en-CA" : "fr-CA";
    private static string LanguageDisplay => Thread.CurrentThread.CurrentCulture.Name.ToLower().Contains("fr") ? "English" : "Français";
    
    private async void ChangeLanguage(string language)
    {
        await _userInformationService.RegisterUserLanguage(language);

        await _achievementService.AddOrIncrementTelemetryEvent(DatahubUserTelemetry.TelemetryEvents.UserToggleCulture);
        
        _userInformationService.SetLanguage(language);
        await _localStorage.SetItemAsStringAsync("language", language);
    }

}