@use '../../Common' as c;


.catalog-page {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .filter {
        grid-column: 1 / span 1;
        margin: 0.5rem;
    }

    .cards {
        grid-column: 2 / span 1;
        margin: 0.5rem;
    }

    .dropdowns {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .sectors {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .sector {
            margin: 0.5rem;

            &:hover {
                cursor: pointer;
                transform: translateY(-1px);

                i {
                    opacity: 1;
                }
            }

            i {
                font-size: 2rem;
                opacity: .5;
                margin-right: .5rem;
                margin-bottom: .5rem;
            }
        }
    }
}
