@use '../../Common' as c;


.catalog-cards {
    --security-text-color: #38a169;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    p {
        margin: 0.3rem;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        border: 1px solid c.$grey-200;
        border-radius: 4px;
        background-color: c.$white;
        transition: all 0.3s c.$cubic-bezier;
        margin: 0.5rem;



        .topleft {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            margin: 0.5rem;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            
            .datasetname {
                display: flex;
                flex-direction: row;
                line-height: 1;
                font-size: 1.5rem;
                font-weight: 525;
            }

            p {
                margin-right: 1rem;
                margin-top: 0rem;
            }
        }

        .title-and-subject {
            grid-column: 1 / span 2;
            grid-row-start: 2;
            grid-row-end: 3;
            margin: 0.5rem;

            .datasetname {
                line-height: 1;
                font-size: 1.5rem;
                font-weight: 500;
                text-decoration-thickness: 0.5px;
                text-decoration: underline;

                p {
                    margin-right: 1rem;
                    margin-top: 0rem;
                    justify-content: center;
                }
            }
        }

        .details-left {
            grid-column: 1 / span 1;
            grid-row-start: 3;
            grid-row-end: 4;
            margin: 0.5rem;
        }

        .details-right {
            grid-column: 2 / span 1;
            grid-row-start: 3;
            grid-row-end: 4;
            margin: 0.5rem;
        }

        .bottom-row {
            grid-column: 1/span 2;
            grid-row-start: 4;
            grid-row-end: 5;
            margin: 0.5rem;
            display: grid;
            grid-template-columns: 4fr 1fr;

            .key-words {
                grid-column: 1 / span 1;
            }

            .buttons {
                grid-column: 2 / span 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: end;
            }
        }

        .topright {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            flex-direction: column;
            margin: 0.5rem;

            .securityclass {
                display: flex;
                justify-content: flex-end;
                align-items: baseline;
                gap: .25rem;
                text-transform: uppercase;
                opacity: .6;
                line-height: 1;
                font-size: 0.8rem;
                color: var(--security-text-color);
            }

            .rowheader {
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                flex-wrap: nowrap;
                font-size: 1rem;
            }

            .language {
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                flex-wrap: nowrap;
                font-size: 1rem;
                margin-bottom: 1rem;
            }

        }
    }
}
