@*ProjectMetadata.razor*@

@page "/admin/metadata/{ProjectAcronym}"
@using Datahub.Core.Services.Projects;
@using Datahub.Metadata.Model
@inject IMetadataBrokerService MetadataBrokerService
@inject IRequestManagementService RequestManagementService

<div class="manage-access"> 

    <MudText Typo="Typo.h4">@(ProjectAcronym)&nbsp;@(Localizer["Initiative Metadata"])</MudText>    

    <ProjectObjectMetadata 
        ProfileName="project"
        ObjectId=@ProjectAcronym
        Location=@ProjectAcronym
        ProjectAcronym=@ProjectAcronym 
        ObjectType=@MetadataObjectType.DataInitiative
        OnMetadataSaved=@HandleMetadataSaved />
</div>

@code {

    [Parameter]
    public string ProjectAcronym { get; set; }

    private void HandleMetadataSaved(Datahub_Project project)
    {
        project.MetadataAdded = true;

        if (!string.IsNullOrEmpty(project.Databricks_URL))
        {
            MetadataBrokerService.CreateChildMetadata(project.Project_Acronym_CD, $"{project.Project_Acronym_CD}-Databricks", 
                MetadataObjectType.Databricks, project.Databricks_URL, true);
        }

        foreach (var db in GetDbs(project))
        {
            MetadataBrokerService.CreateChildMetadata(project.Project_Acronym_CD, db.ResourceId.ToString(), 
                MetadataObjectType.Database, project.Project_Acronym_CD, true);
        }
    }

    private IEnumerable<Project_Resources2> GetDbs(Datahub_Project project)
    {
        return project.Resources
                      .Where(r => r.ResourceType == IRequestManagementService.POSTGRESQL || r.ResourceType == IRequestManagementService.SQLSERVER)
                      .ToList();
    }
}
