@*DataManagement.razor*@
@if (Project is null)
{
    <ToolCard Loading/>
}
else
{
    <ToolCard
        Title="@Localizer["Data Management Planning"]"
        Description="@Localizer["Describe the data acquired or generated during the course of the project and how it will be managed, described, analyzed, and stored."]">
        <Logo>
            <i class="fas fa-clipboard-list-check fa-2x"></i>
        </Logo>
        <ToolActionsList>
            <ul>
                <li>
                    <DHLink href="http://federaldatasteward.scienceprogram.cloud:8080/" target="_blank">
                        <ToolActionButton LinkType="LinkType.External">
                            @Localizer["Open Data Management Wizard"]
                        </ToolActionButton>
                    </DHLink>
                </li>
            </ul>
        </ToolActionsList>
    </ToolCard>
}

@code {

    [CascadingParameter(Name = "Project")]
    private Datahub_Project Project { get; set; }

}
