@use '../common/' as c;
@use 'sass:map';

$sideNavWidth: 250px;
$topNavHeight: 0vh;

$layoutOptions: (
  'display': flex,
  'flex-direction': row,
  '.ae.top-nav': (
    'padding-right': 2rem,
    'padding-left': 0.5rem,
    'position': fixed,
    'width': 100%,
    'top': 0,
    'z-index': 1,
    'background-color': c.$white,
    'box-shadow': c.$box-shadow-1,
    'height': $topNavHeight,
    'display': flex,
    'align-items': center,
    '.nav-expand': (
      'padding': 0.25rem 0.25rem,
      'font-size': 1.5rem,
      'margin-right': 1rem,
      'text-align': center,
      'min-width': 40px,
      'transition': all 0.3s c.$cubic-bezier,
      'border-radius': 2px,
      'opacity': 0.9,
      '&:hover': (
        'background-color': c.$grey-800,
        'color': c.$white,
      ),
    ),
  ),
  '.ae.side-nav': (
    'position': fixed,
    'top': $topNavHeight,
    'left': 0,
    'height': 100vh-$topNavHeight,
    'background-color': c.$white,
    'display': flex,
    'flex-direction': column,
    'z-index': 2,
    'transition': width 0.5s c.$cubic-bezier,
    'color': c.$grey-700,
    'box-shadow': c.$box-shadow-1,
    '.header': (
      'text-align': center,
    ),
    '.menu': (
      'flex-grow': 1,
      'overflow': auto,
      '&': c.$scrollbarOptions,
      '.item': (
        'display': flex,
        'align-items': center,
        'height': 3rem,
        'white-space': nowrap,
        'overflow': hidden,
        'transition': background-color 0.4s c.$cubic-bezier,
        'text-decoration': none,
        'cursor': pointer,
        'border-left': 4px solid c.$transparent,
        '&.active': (
          'background-color': c.$grey-300,
          'border-left-color': c.$grey-800,
        ),
        '&:hover:not(.active)': (
          'background-color': c.$grey-200,
        ),
        '& i': (
          'padding-left': 0.5rem,
          'font-size': 1.5rem,
          'text-align': center,
          'min-width': 40px,
        ),
        '.label': (
          'padding-left': 1rem,
        ),
        '.tooltip-text': (
          'display': inline-block,
          'z-index': 1,
          'visibility': hidden,
          'position': absolute,
          'border-radius': 4px,
          'padding': 0.25rem 0.5rem,
          'left': 45px,
          'opacity': 0,
          'white-space': pre-line,
          'color': c.$baseWhite,
          'background-color': c.$grey-700,
          'transition': all 0.1s ease-in,
          'margin-top': 25px,
          '&.show': (
            'visibility': visible,
            'opacity': 1,
          ),
        ),
        '.tooltip-wrapper': (
          'position': absolute,
          'top': 0,
          'right': 0,
        ),
      ),
      '.subnav-wrapper': (
        'display': none,
        '&.expanded': (
          'display': flex,
          'flex-direction': column,
          'background-color': c.$grey-300,
        ),
        '.item.active': (
          'background-color': c.$grey-400,
        ),
        '& i': (
          'font-size': 1.25rem,
        ),
        '.item.indent': (
          '& i': (
            'margin-left': 16px,
          ),
        ),
      ),
    ),
    '.bottom': (
      '.toggle-expand': (
        'display': flex,
        'justify-content': center,
        'height': 3rem,
        'font-size': 1.5rem,
        'align-items': center,
        'color': c.$grey-500,
        'margin-left': auto,
        'max-width': 56px,
        '&:hover': (
          'cursor': pointer,
          'background-color': c.$grey-200,
          'color': c.$grey-500,
        ),
      ),
    ),
    '&.slide-in': (
      'transform': translateX(0),
      '-webkit-transform': translateX(0),
    ),
    '&.slide-out': (
      'transform': translateX(-100%),
      '-webkit-transform': translateX(-100%),
    ),
  ),
  '.ae.side-nav-overlay': (
    'display': block,
    'position': fixed,
    'width': 100%,
    'height': 100%,
    'z-index': 1,
    'background-color': rgba(0, 0, 0, 0.2),
  ),
  '.ae.body-wrapper': (
    'display': flex,
    'flex-direction': column,
    'flex-grow': 1,
    'transition': margin 0.5s c.$cubic-bezier,
    'height': 100vh - $topNavHeight,
    'margin-top': $topNavHeight,
  ),
  '.hide': (
    'display': 'none !important',
  ),
);

@mixin configure($options) {
  @if ($options) {
    @if (map.get($options, 'side-nav-width')) {
      $sideNavWidth: map.get($options, 'side-nav-width') !global;
    }
    @if (map.get($options, 'top-nav-height')) {
      $topNavHeight: map.get($options, 'top-nav-height') !global;
    }
    @if (map.get($options, 'layout')) {
      $layoutOptions: map.get($options, 'layout') !global;
    }
  }
}

@mixin styles {
  .ae.layout-v2 {
    @include c.set-values($layoutOptions);
  }
}
