@page "/onboarding/confirmation"
@inject IConfiguration Configuration

<AeCard>
        <Header>
            <p><h3>Onboarding Application</h3></p>
        </Header>
        <ChildContent>
            <div>                
                <p><h4>Onboarding Request</h4></p>
                <p>Thank you for completing the DataHub Onboarding Form. We’ve received your application and a DataHub team member will be in touch with you shortly.</p>
                <p>Please contact @(Configuration[$"{ConfigurationConstants.CONTACT_EMAIL}"] ?? ConfigurationConstants.DEFAULT_EMAIL) if you have questions or require additional information.</p>
            </div>            
        </ChildContent>
</AeCard>
<AeCard>
        <Header>
            <p><h3>Formulaire de demande de mise en place de services informatiques</h3></p>
        </Header>
        <ChildContent>
            <div>                
                <p><h4>Demande de mise en place de services informatiques</h4></p>
                <p>Merci d'avoir rempli le formulaire de demande de mise en place de services informatiques du Carrefour des données. Nous avons reçu votre demande et un membre de l'équipe du Carrefour des données communiquera avec vous sous peu.</p>
                <p>Veuillez écrire à @(Configuration[$"{ConfigurationConstants.CONTACT_EMAIL}"] ?? ConfigurationConstants.DEFAULT_EMAIL) si vous avez des questions ou si vous souhaitez obtenir des informations supplémentaires.</p>
            </div>            
        </ChildContent>
</AeCard>

@code {

}
