@page "/onboarding/confirmation"

<AeCard>
        <Header>
            <h3>@Localizer["Onboarding Application"]</h3>
        </Header>
        <ChildContent>
            <div>                
                <p>@Localizer["Thank you for filling out the Onboarding form. We’ve received your application and a DataHub team member will be in touch with you shortly."]</p>
                <p>@Localizer["Please contact datahub@nrcan-rncan.gc.ca if you have questions or require additional information."]</p>
            </div>            
        </ChildContent>
</AeCard>

@code {

}
