@page "/onboarding/confirmation"

<AeCard>
        <Header>
            <h3>@Localizer["Onboarding Application"]</h3>
        </Header>
        <ChildContent>
            <div>                
                <p>Thank you for your submission, a Datahub admin will be in touch shortly</p>
            </div>            
        </ChildContent>
</AeCard>

@code {

}
