@use '../common/' as c;
@use 'sass:map';

$tableHeaderOptions: (
  'default': (
    'display': grid,
    '.ae.table-cell': (
      'cursor': pointer,
      'user-select': none,
      'padding-left': 0.75rem,
      'background-color': c.$grey-600,
      'color': c.$white,
      'word-wrap': break-word,
      '&:hover': (
        'background-color': c.$grey-700,
      ),
    ),
  ),
  'simple': (
    'display': inline-grid,
    '.ae.table-cell': (
      'font-family': 'Source Code Pro',
      'border-color': c.$grey-500 !important,
      'background-color': c.$grey-600,
      'text-align': center,
      'padding': 0,
      'border-top': 1px solid,
      'border-right': 1px solid,
    ),
    '.corner': (
      'border-color': c.$grey-500 !important,
      'background-color': c.$grey-600,
      'border-right': 1px solid,
      'border-top': 1px solid,
      'border-left': 1px solid,
    ),
  ),
);

$tableScrollOptions: (
  'overflow-y': auto,
  'position': relative,
  '&': c.$scrollbarOptions,
  '.ae.table-row': (
    'position': absolute,
    'width': 100%,
  ),
);

$tableRowContainerOptions: (
  'display': grid,
  'overflow': overlay,
);

$tableRowOptions: (
  'default': (
    'display': grid,
    '&:focus': (
      'outline': none,
      'font-weight': bold,
      '&:hover': (
        '.ae.table-cell': (
          'background-color': c.$grey-300,
        ),
        '&:hover': (
          '.ae.table-cell': (
            'background-color': c.$grey-300,
          ),
        ),
      ),
      '.ae.table-cell': (
        'background-color': c.$grey-300,
        '&:hover': (
          'background-color': c.$grey-300,
        ),
      ),
      '&:nth-of-type(2n+1)': (
        '.ae.table-cell': (
          'background-color': c.$grey-300,
        ),
        '&:hover': (
          '.ae.table-cell': (
            'background-color': c.$grey-300,
          ),
        ),
      ),
    ),
    '.ae.table-cell': (
      'background-color': c.$white,
      'word-wrap': break-word,
      'overflow': hidden,
      'text-overflow': ellipsis,
      'white-space': nowrap,
      'padding': 0.5rem 0 0.5rem 0.75rem,
      '&': c.$scrollbarOptions,
      '&:nth-child(1)': (
        'padding-left': 0.5rem,
        'border-left': 0.25rem solid c.$transparent,
      ),
      '&:hover': (
        'transition': 0.4s c.$cubic-bezier,
        'background-color': c.$grey-200,
      ),
      '& a': (
        '&:hover': (
          'text-decoration': underline,
        ),
      ),
    ),
    '&:hover': (
      '.ae.table-cell': (
        'background-color': c.$grey-200,
        '&:nth-child(1)': (
          'border-left': 0.25rem solid c.$transparent,
        ),
      ),
      '&:hover': (
        '.ae.table-cell': (
          'transition': 0.4s c.$cubic-bezier,
          'background-color': c.$grey-200,
        ),
      ),
    ),
    '&:nth-of-type(2n+1)': (
      '.ae.table-cell': (
        'background-color': c.$grey-100,
        '&:nth-child(1)': (
          'border-left': 0.25rem solid c.$transparent,
        ),
      ),
      '&:hover': (
        '.ae.table-cell': (
          'transition': 0.4s c.$cubic-bezier,
          'background-color': c.$grey-200,
        ),
      ),
    ),
  ),
  'simple': (
    '&:focus': (
      'outline': none,
      'font-weight': bold,
      '.ae.table-cell': (
        'background-color': c.$grey-300,
        '&:hover': (
          'background-color': c.$grey-300,
        ),
      ),
      '&:nth-of-type(2n+1)': (
        '.ae.table-cell': (
          'background-color': c.$grey-300,
        ),
        '&:hover': (
          '.ae.table-cell': (
            'background-color': c.$grey-300,
          ),
        ),
      ),
    ),
    'font-size': 0.75rem,
    'text-align': center,
    '.row-number': (
      'width': 75px,
    ),
    '&:nth-of-type(1)': (
      '.ae.table-cell': (
        'border-top': 1px solid,
      ),
    ),
    '.ae.table-cell': (
      'border-color': c.$grey-400 !important,
      'border-bottom': 1px solid,
      'border-right': 1px solid,
      '&:nth-child(1)': (
        'border-left': 1px solid,
        'font-family': 'Source Code Pro',
        'color': c.$white,
        'background-color': c.$grey-600,
      ),
      'padding': 0,
      'padding-top': 0.2rem,
    ),
    '&:hover': (
      '.ae.table-cell': (
        'background-color': c.$white,
        '&:nth-child(1)': (
          'border-left': 1px solid,
          'color': c.$white,
          'font-family': 'Source Code Pro',
          'background-color': c.$grey-600,
        ),
      ),
    ),
    '&:nth-of-type(2n+1)': (
      '.ae.table-cell': (
        'background-color': c.$white,
        '&:nth-child(1)': (
          'border-left': 1px solid,
          'background-color': c.$grey-600,
        ),
      ),
      '&:hover': (
        '.ae.table-cell': (
          'background-color': c.$white,
          '&:nth-child(1)': (
            'border-left': 1px solid,
            'background-color': c.$grey-600,
          ),
        ),
      ),
    ),
  ),
  'red': (
    '.ae.table-cell': (
      'background-color': c.$red-100,
      '&:nth-child(1)': (
        'border-left': 0.25rem solid c.$red-400,
      ),
    ),
    '&:hover': (
      '.ae.table-cell': (
        'transition': 0.4s c.$cubic-bezier,
        'background-color': c.$red-200,
      ),
    ),
  ),
  'blue': (
    '.ae.table-cell': (
      'background-color': c.$blue-100,
      '&:nth-child(1)': (
        'border-left': 0.25rem solid c.$blue-400,
      ),
    ),
    '&:hover': (
      '.ae.table-cell': (
        'transition': 0.4s c.$cubic-bezier,
        'background-color': c.$blue-200,
      ),
    ),
  ),
  'yellow': (
    '.ae.table-cell': (
      'background-color': c.$orange-100,
      '&:nth-child(1)': (
        'border-left': 0.25rem solid c.$orange-400,
      ),
    ),
    '&:hover': (
      '.ae.table-cell': (
        'transition': 0.4s c.$cubic-bezier,
        'background-color': c.$orange-200,
      ),
    ),
  ),
);

$tableToolTipOptions: (
  'position': fixed,
  '.ae.tooltip': (
    'width': 100%,
    'height': 100%,
    '.hover-text': (
      'max-width': 80%,
      'width': auto,
      'transform': translateX(-50%),
      'padding': 10px,
      'visibility': visible,
    ),
  ),
);

@mixin configure($options) {
  @if ($options) {
    @if (map.get($options, 'tableRowOptions')) {
      $tableRowOptions: map.get($options, 'tableRowOptions') !global;
    }
    @if (map.get($options, 'tableToolTipOptions')) {
      $tableToolTipOptions: map.get($options, 'tableToolTipOptions') !global;
    }
    @if (map.get($options, 'tableRowContainerOptions')) {
      $tableRowContainerOptions: map.get(
        $options,
        'tableRowContainerOptions'
      ) !global;
    }
    @if (map.get($options, 'tableScrollOptions')) {
      $tableScrollOptions: map.get($options, 'tableScrollOptions') !global;
    }
    @if (map.get($options, 'tableHeaderOptions')) {
      $tableHeaderOptions: map.get($options, 'tableHeaderOptions') !global;
    }
  }
}

@mixin styles {
  .ae.table {
    .ae.table-header {
      @include c.set-variations($tableHeaderOptions);
    }

    .ae.table-scroll {
      @include c.set-values($tableScrollOptions);
    }

    .ae.table-rows {
      @include c.set-values($tableRowContainerOptions);

      .ae.table-row {
        @include c.set-variations($tableRowOptions);
      }
    }
  }
  .ae.table-tooltip-wrapper {
    @include c.set-values($tableToolTipOptions);
  }
}
