@using Datahub.Core.Modules
@inject ModuleManager _moduleManager


<MudText Typo="Typo.h2" Class="mb-6">
    Module Details
</MudText>

<MudSimpleTable Dense Hover Bordered>
    <tbody>
    @if (!_moduleManager.Modules.Any())
    {
        <tr>
            <td>
                No Modules detected
            </td>
        </tr>
    }
    else
    {
        @foreach (var module in _moduleManager.Modules)
        {
            <tr>
                <td>Loaded Module</td>
                <td>@module.Name</td>
            </tr>
        }
    }
    </tbody>
</MudSimpleTable>