# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/Datahub.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

name: 2.0.$(date:yy)$(DayOfYear)$(rev:.r)

steps:
- task: UseDotNet@2
  displayName: 'Install .NET Core SDK'
  inputs:
    version: 7.0.x
    performMultiLevelLookup: true
    includePreviewVersions: true # Required for preview versions

- task: NodeTool@0
  displayName: 'install node'
  inputs:
    versionSpec: '15.11.0'

- task: DotNetCoreCLI@2
  displayName: dotnet restore
  inputs:
    command: restore
    projects: 'Portal/src/Datahub.Portal/*.csproj'
    includeNuGetOrg: true

- task: DotNetCoreCLI@2
  displayName: dotnet restore function
  inputs:
    command: restore
    projects: 'Portal/src/Datahub.Functions/*.csproj'
    includeNuGetOrg: true

- task: DotNetCoreCLI@2
  displayName: 'Publish Azure function'
  inputs:
    command: publish
    publishWebProjects: false
    projects: 'Portal/src/Datahub.Functions/*.csproj'
    zipAfterPublish: true

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      $files=Get-Childitem -Path Portal/src/Datahub.Portal,.vscode -Include  appsettings*json-tmpl,launch*json-tmpl -File -Recurse -ErrorAction SilentlyContinue  | Where {$_.FullName -notlike "*\Debug\*"}
      foreach ($file in $files) {
        $fileRendered=$file.FullName.trim("-tmpl")
        Write-Host "Processing file: ${file} > $fileRendered"
        Copy-Item $file.FullName -Force -Destination $fileRendered
      }
      cd Portal/src/Datahub.Portal; mv appsettings.Development.json appsettings.dev.json
- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    projects: 'Portal/src/Datahub.Portal/*.csproj'
    arguments: ' -r win-x64 --self-contained true '
    zipAfterPublish: true

- task: AzureRmWebAppDeployment@4
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'datahub-dev-service-connection'
    appType: 'webApp'
    WebAppName: 'dh-portal-app-dev'
    package: '$(System.DefaultWorkingDirectory)/Portal/src/Datahub.Portal/**/*.zip'
    enableCustomDeployment: true
    DeploymentType: 'webDeploy'

- task: PowerShell@2
  displayName: 'Setup Python Environment'
  inputs:
    targetType: 'filePath'
    filePath: 'ResourceProvisioner\src\ResourceProvisioner_PyFunctions\dev-python-env-start.ps1'
    pwsh: true

- task: AzureFunctionApp@1
  displayName: 'Azure Function App Deploy: dh-portal-func-dev'
  inputs:
    azureSubscription: 'datahub-dev-service-connection'
    appType: 'functionApp'
    appName: 'dh-portal-func-dev'
    package: '$(System.DefaultWorkingDirectory)/Portal/src/Datahub.Functions/**/*.zip'

- task: AzureAppServiceSettings@1
  displayName: Azure App Service Settings
  inputs:
    azureSubscription: 'datahub-dev-service-connection'
    appName: 'dh-portal-app-dev'
    resourceGroupName: 'ciosb-dev-datahub-ca-central'
    appSettings: |
      [
        {
          "name": "PortalVersion__Release",
          "value": "$(Build.BuildNumber)",
          "slotSetting": false
        },
        {
          "name": "PortalVersion__Commit",
          "value": "$(Build.SourceVersion)", 
          "slotSetting": false
        },
        {
          "name": "PortalVersion__BuildId",
          "value": "$(Build.BuildId)", 
          "slotSetting": false
        }
      ]