@page "/"
@namespace Datahub.Portal.Pages
@using Datahub.Core
@using Microsoft.Extensions.Localization

@inject IStringLocalizer Localizer

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@Localizer["NRCAN DataHub"]</title>

    <base href="~/" />

    @*Favicons*@
    <!-- For old IEs -->
    <link rel="shortcut icon" href="/img/favicons/favicon.ico" />
    <!-- For new browsers - multisize ico  -->
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="~/_content/Datahub.Core/img/favicons/favicon.ico">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="152x152" href="~/_content/Datahub.Core/img/favicons/favicon-152-precomposed.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="144x144" href="~/_content/Datahub.Core/img/favicons/favicon-144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="120x120" href="~/_content/Datahub.Core/img/favicons/favicon-120-precomposed.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="114x114" href="~/_content/Datahub.Core/img/favicons/favicon-114-precomposed.png">
    <!-- For iPhone 6+ -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/_content/Datahub.Core/img/favicons/favicon-180-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon" sizes="72x72" href="~/_content/Datahub.Core/img/favicons/favicon-72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/_content/Datahub.Core/img/favicons/favicon-57.png">
    <!-- For Old Chrome -->
    <link rel="icon" sizes="32x32" href="~/_content/Datahub.Core/img/favicons/favicon-32.png">
    <!-- For IE10 Metro -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="~/_content/Datahub.Core/img/favicons/favicon-144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Chrome for Android -->
    <link rel="manifest" href="~/_content/Datahub.Core/img/favicons/manifest.json">
    <link rel="icon" sizes="192x192" href="~/_content/Datahub.Core/img/favicons/favicon-192.png">



    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">*@
    <link rel="stylesheet" href="~/_content/Datahub.Core/css/third-party/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />
    

    @* CSS styling from DATAHUB_HOMEPAGE *@
    <link rel="stylesheet" href="~/_content/Datahub.Core/css/third-party/blue.css" type="text/css" id="color_scheme" />
    <link rel="stylesheet" href="~/_content/Datahub.Core/css/third-party/layout.css" type="text/css" />
    <link rel="stylesheet" href="~/_content/Datahub.Core/css/third-party/datahub.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" type="text/css">
    <link href="~/_content/Datahub.Core/css/third-party/font-awesome-all.min.css" rel="stylesheet" />
    <link href="~/_content/Datahub.Core/css/third-party/normalize.css" rel="stylesheet" />
    <link href="~/_content/Datahub.Core/css/site.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>*@
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>*@
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/_content/Datahub.Core/js/inputfile.js"></script>
    <script src="~/js/swiper.js"></script>
    <script src="~/js/BlazorInterop.js"></script>
    <script src="~/_content/Datahub.Core/js/filegrid.js"></script>
    <script src="~/_content/Datahub.Core/js/anchorLink.js"></script>
    <script src="~/_content/Datahub.Core/js/clipboard-interop.js"></script>
    <script src="_content/AElemental.Blazor/js/aebundle.js"></script>

    <script type="text/javascript">
        !function (T, l, y) { var S = T.location, k = "script", D = "instrumentationKey", C = "ingestionendpoint", I = "disableExceptionTracking", E = "ai.device.", b = "toLowerCase", w = "crossOrigin", N = "POST", e = "appInsightsSDK", t = y.name || "appInsights"; (y.name || T[e]) && (T[e] = t); var n = T[t] || function (d) { var g = !1, f = !1, m = { initialize: !0, queue: [], sv: "5", version: 2, config: d }; function v(e, t) { var n = {}, a = "Browser"; return n[E + "id"] = a[b](), n[E + "type"] = a, n["ai.operation.name"] = S && S.pathname || "_unknown_", n["ai.internal.sdkVersion"] = "javascript:snippet_" + (m.sv || m.version), { time: function () { var e = new Date; function t(e) { var t = "" + e; return 1 === t.length && (t = "0" + t), t } return e.getUTCFullYear() + "-" + t(1 + e.getUTCMonth()) + "-" + t(e.getUTCDate()) + "T" + t(e.getUTCHours()) + ":" + t(e.getUTCMinutes()) + ":" + t(e.getUTCSeconds()) + "." + ((e.getUTCMilliseconds() / 1e3).toFixed(3) + "").slice(2, 5) + "Z" }(), iKey: e, name: "Microsoft.ApplicationInsights." + e.replace(/-/g, "") + "." + t, sampleRate: 100, tags: n, data: { baseData: { ver: 2 } } } } var h = d.url || y.src; if (h) { function a(e) { var t, n, a, i, r, o, s, c, u, p, l; g = !0, m.queue = [], f || (f = !0, t = h, s = function () { var e = {}, t = d.connectionString; if (t) for (var n = t.split(";"), a = 0; a < n.length; a++) { var i = n[a].split("="); 2 === i.length && (e[i[0][b]()] = i[1]) } if (!e[C]) { var r = e.endpointsuffix, o = r ? e.location : null; e[C] = "https://" + (o ? o + "." : "") + "dc." + (r || "services.visualstudio.com") } return e }(), c = s[D] || d[D] || "", u = s[C], p = u ? u + "/v2/track" : d.endpointUrl, (l = []).push((n = "SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details)", a = t, i = p, (o = (r = v(c, "Exception")).data).baseType = "ExceptionData", o.baseData.exceptions = [{ typeName: "SDKLoadFailed", message: n.replace(/\./g, "-"), hasFullStack: !1, stack: n + "\nSnippet failed to load [" + a + "] -- Telemetry is disabled\nHelp Link: https://go.microsoft.com/fwlink/?linkid=2128109\nHost: " + (S && S.pathname || "_unknown_") + "\nEndpoint: " + i, parsedStack: [] }], r)), l.push(function (e, t, n, a) { var i = v(c, "Message"), r = i.data; r.baseType = "MessageData"; var o = r.baseData; return o.message = 'AI (Internal): 99 message:"' + ("SDK LOAD Failure: Failed to load Application Insights SDK script (See stack for details) (" + n + ")").replace(/\"/g, "") + '"', o.properties = { endpoint: a }, i }(0, 0, t, p)), function (e, t) { if (JSON) { var n = T.fetch; if (n && !y.useXhr) n(t, { method: N, body: JSON.stringify(e), mode: "cors" }); else if (XMLHttpRequest) { var a = new XMLHttpRequest; a.open(N, t), a.setRequestHeader("Content-type", "application/json"), a.send(JSON.stringify(e)) } } }(l, p)) } function i(e, t) { f || setTimeout(function () { !t && m.core || a() }, 500) } var e = function () { var n = l.createElement(k); n.src = h; var e = y[w]; return !e && "" !== e || "undefined" == n[w] || (n[w] = e), n.onload = i, n.onerror = a, n.onreadystatechange = function (e, t) { "loaded" !== n.readyState && "complete" !== n.readyState || i(0, t) }, n }(); y.ld < 0 ? l.getElementsByTagName("head")[0].appendChild(e) : setTimeout(function () { l.getElementsByTagName(k)[0].parentNode.appendChild(e) }, y.ld || 0) } try { m.cookie = l.cookie } catch (p) { } function t(e) { for (; e.length;)!function (t) { m[t] = function () { var e = arguments; g || m.queue.push(function () { m[t].apply(m, e) }) } }(e.pop()) } var n = "track", r = "TrackPage", o = "TrackEvent"; t([n + "Event", n + "PageView", n + "Exception", n + "Trace", n + "DependencyData", n + "Metric", n + "PageViewPerformance", "start" + r, "stop" + r, "start" + o, "stop" + o, "addTelemetryInitializer", "setAuthenticatedUserContext", "clearAuthenticatedUserContext", "flush"]), m.SeverityLevel = { Verbose: 0, Information: 1, Warning: 2, Error: 3, Critical: 4 }; var s = (d.extensionConfig || {}).ApplicationInsightsAnalytics || {}; if (!0 !== d[I] && !0 !== s[I]) { var c = "onerror"; t(["_" + c]); var u = T[c]; T[c] = function (e, t, n, a, i) { var r = u && u(e, t, n, a, i); return !0 !== r && m["_" + c]({ message: e, url: t, lineNumber: n, columnNumber: a, error: i }), r }, d.autoExceptionInstrumented = !0 } return m }(y.cfg); function a() { y.onInit && y.onInit(n) } (T[t] = n).queue && 0 === n.queue.length ? (n.queue.push(a), n.trackPageView({})) : a() }(window, document, {
            src: "https://js.monitor.azure.com/scripts/b/ai.2.min.js", // The SDK URL Source
            // name: "appInsights", // Global SDK Instance name defaults to "appInsights" when not supplied
            // ld: 0, // Defines the load delay (in ms) before attempting to load the sdk. -1 = block page load and add to head. (default) = 0ms load after timeout,
            // useXhr: 1, // Use XHR instead of fetch to report failures (if available),
            crossOrigin: "anonymous", // When supplied this will add the provided value as the cross origin attribute on the script tag
            // onInit: null, // Once the application insights instance has loaded and initialized this callback function will be called with 1 argument -- the sdk instance (DO NOT ADD anything to the sdk.queue -- As they won't get called)
            cfg: { // Application Insights Configuration
                instrumentationKey: "InstrumentationKey"
            }
        });
    </script>

</head>
<style>
    #blazor-error-ui {
        display: none;
    }
</style>

<body>
    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <div id="browserNotSupported" style="display: none;">
        <div style="width: 100%; text-align: center">
            <i class="fad fa-exclamation-triangle fa-10x"></i>
        </div>
        <h1 style="margin: 16px 0; text-align: center">The Datahub Application requires a recent browser.</h1>
        <p>To view our interactive report we recommend using a recent browser such as Chrome, Edge, Firefox, or Safari.</p>
    </div>
    <script>
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");
        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
            document.getElementsByTagName("html")[0].style.cssText = "width: 100%; height: 100%; position: relative";
            document.getElementsByTagName("body")[0].style.cssText = "width: 100%; height: 100%; position: relative";
            document.getElementById('browserNotSupported').style.cssText = "display: inline; text-align: center; position: absolute; width: 60%; max-width: 600px; top: 40%; left: 50%;transform: translate(-50%, -50%);";
        }
    </script>
    <script src="_content/BlazorApplicationInsights/JsInterop.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>

