@inject IUserInformationService UserInformationService
@inject ApiService ApiService

@page "/data"
@page "/data/{uploaded}"

<div style="padding: 2rem;">
    <AeCard>
        <ChildContent>
            <FileGrid CurrentFolder="ApiService.CurrentFolder" CanAddData="true" />
        </ChildContent>
    </AeCard>
    <div>&nbsp;</div>
</div>

@code
{
    [Parameter]
    public string uploaded { get; set; }

    protected override void OnInitialized()
    {
        // If we came from file upload, just reload the current folder
        if (string.IsNullOrWhiteSpace(uploaded) || !uploaded.Equals("true", StringComparison.OrdinalIgnoreCase))
        {
            ApiService.CurrentFolder = ApiService.MyDataFolder;
        }
    }
}