@page "/metadata/{ObjectId}"

@using Datahub.Metadata.Model
@using Datahub.Metadata.DTO

<div style="margin: 2rem">
    <AeCard>
        <Header>
            <h2>Metadata</h2>
        </Header>
        <ChildContent>
            <ObjectMetadataEditor 
                @ref="_objectMetadataEditor" 
                ObjectId=@ObjectId 
                ProfileName="test" 
                Name="Sample file with name" 
                UpdateCatalog="true"/>
        </ChildContent>
        <Footer>
            @*<AeButton @onclick="TogglePreview" style="margin: 5px;">Toggle Preview</AeButton>*@
            <input @bind=@_searchText/>
            <AeButton @onclick="TestSearch" style="margin: 5px;">Search</AeButton>
        </Footer>
    </AeCard>
</div>

@code {

    [Inject]
    public IMetadataBrokerService MetadataBrokerService { get; set; }

    private ObjectMetadataEditor _objectMetadataEditor;

    /// <summary>
    /// Object ID to edit or add metadata
    /// </summary>
    [Parameter]
    public string ObjectId { get; set; } = "6a1a65b9-6cc9-4d12-810c-038f8add752c";

    //private bool _preview = false;
    //private bool _saved = false;

    private string _searchText;

    //private void TogglePreview()
    //{
    //    _preview = !_preview;
    //    _objectMetadataEditor.TogglePreview();
    //    StateHasChanged();
    //}

    private async void TestSearch()
    {
        var results = await MetadataBrokerService.SearchCatalogEnglish(_searchText);
        var count = results.Count;
    }
}
