@page "/metadata"

@using NRCan.Datahub.Metadata.Model
@using NRCan.Datahub.Metadata.DTO

<div style="margin: 2rem">
    <AeCard>
        <Header>
            <h2>Metadata</h2>
        </Header>
        <ChildContent>
            <ObjectMetadataEditor @ref="_objectMetadataEditor" ObjectId=@ObjectId />

        </ChildContent>
        <Footer>
            @if (!_saved)
            {
                <AeButton @onclick="SaveChanges" style="margin: 5px;">Save</AeButton>
            }
            <AeButton @onclick="TogglePreview" style="margin: 5px;">Toggle Preview</AeButton>
            <AeButton @onclick="CreateCKANPackage" style="margin: 5px;">Create CKAN Package</AeButton>
        </Footer>
    </AeCard>
</div>

@code {

    [Inject]
    public IMetadataBrokerService MetadataBrokerService { get; set; }

    private ObjectMetadataEditor _objectMetadataEditor;

    /// <summary>
    /// Object ID to edit or add metadata
    /// </summary>
    [Parameter]
    public string ObjectId { get; set; } = "7aa33e32-44a1-4ca4-b76c-ccb98c7b8e0b";

    private bool _preview = false;
    private bool _saved = false;

    private void TogglePreview()
    {
        _preview = !_preview;
        _objectMetadataEditor.TogglePreview();
        StateHasChanged();
    }

    private async void SaveChanges()
    {
        await _objectMetadataEditor.SaveChanges();
        StateHasChanged();
    }

    private async void CreateCKANPackage()
    {
        await _objectMetadataEditor.SavePackage();
    }
}
