@page "/metadatac"
@using NRCan.Datahub.Metadata;

<div>
    <AeButton @onclick="TogglePreview">Toggle Preview</AeButton>
</div>

<AeFlex>

    <div style="width: 200px; flex-grow: 0.5">
        <div>
            <h2>Metadata</h2>
        </div>

        <MetadataEditorC Preview="false"
                         Definitions="@_definitions"
                         FieldValues="@_fieldValues"
                         OnFieldChanged="FieldChanged" />
    </div>

    <div style="width: 200px; flex-grow: 0.5">
        <div>
            <h2>Metadata Preview</h2>
        </div>
        <MetadataEditorB Preview="_preview"
                         Definitions="@_definitions" 
                         FieldValues="@_fieldValues" 
                         OnFieldChanged="FieldChanged"
                         />
    </div>

</AeFlex>

@code {

    private MetadataDefinition _definitions { get; set; }

    private FieldValues _fieldValues { get; set; }

    private bool _preview = true;

    protected override async Task OnInitializedAsync()
    {
        var metadataCsv = await System.IO.File.ReadAllTextAsync("/temp/GCopenmetadata-GCmetadonneesouvertes.csv");
        _definitions = OpenMetadataParser.Parse(metadataCsv, true);

        _fieldValues = new FieldValues()
        {
            new FieldValue()
            {
                DefinitionId = "notes_fr",
                Value = "Sample note francais"
            },
            new FieldValue()
            {
                DefinitionId = "Type",
                Value = "Sample type"
            }
        };
    }

    private void FieldChanged(FieldValue field)
    {
        StateHasChanged();
    }

    private void TogglePreview()
    {
        _preview = !_preview;
    }
}
