<div class="nrcan-title">
    <p class="weight-400">What is DataHub?</p>
</div>
<div class="nrcan-content">
    <p class="dropcap">
        A trusted <b>Enterprise platform </b> at NRCAN for storing, working with and collaborating on data initiatives.    
        <br><br>This includes:
    </p>
    <ul class="list-icons">
        <li>
            <i class="img-responsive list-icon"><img src="img/asset_3.png" alt="Icon depicting mobile phone" /></i>
            <span>
                Providing a common and integrated environment for working with data including an intuitive interface and features designed for usability, collaboration and mobility.
            </span>
        </li>
        <li>
            <i class="img-responsive list-icon"><img src="img/dash.png" alt="Icon depicting Business Intelligence dashboard" /></i>
            <span>
                Reducing barriers to entry for using the latest business intelligence and analytics tools, frameworks and technologies.
            </span>
        </li>
        <li>
            <i class="img-responsive list-icon"><img src="img/security.png" alt="Icon depicting a security shield" /></i>
            <span>
                Providing secure end-to-end data management, including automatic cataloguing and federated search, to allow users to protect sensitive assets while continuing to collaborate on data initiatives.
            </span>
        </li>
        <li>
            <i class="img-responsive list-icon"><img src="img/asset_38.png" alt="Icon depicting a cloud raining down data" /></i>
            <span>
                Empowering users to tell data stories, work with massive datasets, conduct analyses and experiment with new technologies.
            </span>
        </li>
    </ul>
</div>
<div class="nrcan-image">
</div>
