<div>
    <h1 class="weight-500">Privacy</h1>
    <h2 class="weight-400 letter-spacing-1 size-16"><span>Last Update: September 2, 2020</span></h2>

    <br>Natural Resources Canada (NRCAN) is committed to respecting the privacy and protecting the information of all visitors to NRCAN DataHub.
    <br><br>NRCAN’s administration of NRCAN DataHub includes various activities that may require the collection of personal information for both (1) administrative and (2) non-administrative purposes.
    <br><br>All personal information collected by NRCAN about visitors to NRCAN DataHub is authorized under legislation and is done in compliance with the Privacy Act. This means that you will be informed when your personal information may be required, the purpose for which it is collected, and how to exercise your right of access to that information.
    <br><br>While visiting NRCAN DataHub, you may be directed to websites controlled by other Government of Canada institutions or a third-party, or to third-party social media platforms. When visiting a website outside of NRCAN DataHub or a social media platform, personal information will be subject to the terms, conditions, and privacy policies of that other institution or third-party. In these cases, we strongly encourage you to take the time to read the specific privacy notices or statements that describe their specific terms, conditions, and policies.
    <br><br>If you have any questions, comments, concerns or complaints about the activities of NRCAN in administering the NRCAN DataHub website as they relate to the Privacy Act, the Department of Employment and Social Development Act, and privacy policies regarding NRCAN DataHub, you can contact the NRCAN Access to Information and Privacy Coordinator.
    <br><br>In addition, you may also contact the Office of the Privacy Commissioner by telephone at 1-800-282-1376.
    <br><br>
    <h3 class="weight-400 letter-spacing-1">Communicating with NRCAN DataHub</h3>
    If you choose to send Natural Resources Canada an email or complete a feedback form online, your personal information is used by Natural Resources Canada in order to respond to your inquiry. The information you provide will only be shared with another government institution if your inquiry relates to that institution. Natural Resources Canada does not use the information to create individual profiles nor does it disclose the information to anyone other than to those in the federal government who need to provide you with a response. Any disclosure of your personal information is in accordance with the Privacy Act.
    <br><br>Emails and other electronic methods used to communicate with the Government of Canada are not secure unless it is specifically stated on a Web page. Therefore, it is recommended that you do not send sensitive personal information, such as your Social Insurance Number or your date of birth, through non-secure electronic means.
    <br><br>Personal information from emails or completed feedback forms is collected pursuant to the Privacy Act. Such information may be used for statistical, evaluation and reporting purposes and is included in Personal Information Bank Public Communications (PSU 914).
    
    <br><br><h3 class="weight-400 letter-spacing-1">Web Analytics</h3>
    NRCAN is responsible for the NRCAN DataHub website that includes responsibilities for web analytics, which is the collection, analysis, and reporting of web traffic data. Web analytics are done to help determine how NRCAN DataHub can be improved to better serve NRCAN, Canadians and other visitors.
    <br><br>NRCAN is responsible for the administration of the tools used by the NRCAN DataHub for web analytics.
    <br><br>For the purpose of performing web analytics, NRCAN tracks certain types of information during visits to NRCAN DataHub. For the purposes of the Privacy Act, this information is treated as personal information. When your computer or other device requests a NRCAN DataHub web page, information is collected for the purpose of web analytics. The type of information collected includes, but is not limited to:
    <br><br>
    <ul>
        <li>IP address of the device that has contacted the NRCAN DataHub website (which is not stored or retained in a format that <br>can be used to identify a visitor);</li>
        <li>type of browser used;</li>
        <li>type of operating system used;</li>
        <li>the date and time of the visit; or</li>
        <li>pages visited and documents downloaded.</li>
    </ul>
    NRCAN may also use the personal information collected for non-administrative uses, such as communications and information technology statistics, audit and evaluations, research, planning, and reporting. This personal information is not used for decision making processes about an individual or to profile individual visitors to NRCAN DataHub.
    <br><br>To further protect information about visitors to NRCAN DataHub, NRCAN uses a feature from each service provider that hides part or all of the IP address of a visitor before it is used for analytics.
    
    <br><br><h3 class="weight-400 letter-spacing-1">Public Communications on NRCAN DataHub</h3>
    NRCAN is responsible for the NRCAN DataHub website. This includes engaging in general communications with visitors to the NRCAN DataHub website.
    <br><br>NRCAN DataHub includes a general communications section called “Help”, which allows visitors to send questions and comments. When a question or comment is about a specific activity, program, or service, it may be forwarded to the appropriate responsible officers at NRCAN or at another government institution to prepare a reply.
    <br><br>When you use the “Help” feature, you are required to provide your email address. NRCAN does not ask for or intend to use any other personal information for this activity. IP address are collected incidentally as they are a part of any Internet communication. Consequently, NRCAN does not intend or try to associate you to an IP address for this activity, or to create a profile about you. When you use the “Help” feature, please do not include any sensitive personal information in the questions/comments box, such as your social insurance number, date of birth, personal finance data, and medical or work history.
    <br><br>Incidental personal information for this activity is collected and stored in the Personal Information Bank Electronic Network Monitoring Logs (PSU 905).
    
    <br><br><h3 class="weight-400 letter-spacing-1">Security Incidents</h3>
    NRCAN is responsible for the NRCAN DataHub. This includes using software programs to monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage. This software receives and records information including, but not limited to:
    <br><br>
    <ul>
        <li>IP address of the device that has contacted the NRCAN DataHub website;</li>
        <li>name of the domain used to access the Internet;</li>
        <li>type of browser used;</li>
        <li>type of operating system used;</li>
        <li>the date and time of the visit;</li>
        <li>pages visited and documents downloaded; or</li>
        <li>IP address of the website that linked directly to NRCAN DataHub.</li>
    </ul>
    NRCAN will not attempt to link these addresses with the identity of visitors to the NRCAN DataHub website unless an attempt to damage the site is detected.
    <br><br>NRCAN engages in security monitoring and investigation of the NRCAN DataHub website under the authority of section 161 of the Financial Administration Act. Personal information may be shared with appropriate law enforcement authorities if suspected criminal activities are detected. It may also be used for network security-related statistical purposes, audit, evaluation, research, planning, and reporting.
    <br><br>Personal information for this activity is collected and stored in the Personal Information Bank Security Incidents and Privacy Breaches (PSU 939).
    <br><br><b>Footnote 1</b>
    <br><br>The Treasury Board of Canada Secretariat Policy on Privacy Protection defines administrative purpose as the use of personal information about an individual "in a decision making process that directly affects that individual". This includes all uses of personal information for confirming identity (i.e. authentication and verification purposes) and for determining eligibility of individuals for government programs.
    <br><br><b>Footnote 2</b>
    <br><br>The Policy on Privacy Protection defines non-administrative purpose as the use of personal information for a purpose that is not related to any decision-making process that directly affects the individual. This includes the use of personal information for research, statistical, audit and evaluation purposes.
    <br><br><b>Footnote 3</b>
    <br><br>The nature of the Internet is such that web servers automatically collect certain information about a visit to a website, including the visitor's Internet Protocol (IP) address. IP addresses are unique numbers assigned by Internet Service Providers (ISP) to all devices used to access the Internet. Web servers automatically log the IP addresses of visitors to their sites. The IP address, on its own, does not identify an individual. However, in certain circumstances, such as with the co-operation of an ISP for example, it could be used to identify an individual using the site. For this reason, the Government of Canada considers the IP address to be personal information, particularly when combined with other data automatically collected when a visitor requests a Web page such as the page or pages visited, date and time of the visit.

</div>
