@using Datahub.Core.Services.Docs
@using Datahub.Markdown.Model
@using MudBlazor.Utilities

<ul style="display: grid; grid-template-columns: repeat(2, 1fr); list-style-type: none; gap: 25px">
    @foreach (var documentItem in DocumentItems)
    {
        <li>
            <ResourcesPreviewCard ShortVersion="@_showShort" DocumentItem="@documentItem" />
        </li>
    }
</ul>

@code {

    [Parameter] public List<DocItem> DocumentItems { get; set; } = new();
    private string _containerStyle;
    private bool _showShort = false;

    protected override void OnParametersSet()
    {
        _showShort = DocumentItems?.Count > 9;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _containerStyle = new StyleBuilder()
            .AddStyle("display", "flex")
            .AddStyle("flex-wrap", "wrap")
            .Build();
    }

}