@namespace Datahub.Portal.Components

<div class="tab-control">
    <div class="tab-selection">
        @foreach (TabPage tabpage in _pages)
        {
            <div class="tab @GetTabClass(tabpage)" @onclick=@(() => ActivatePage(tabpage))>
                @tabpage.Control
            </div>
        }
    </div>
    <div class="tab-content">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>


@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int TabIndex { get; set; } = -1;

    [Parameter]
    public EventCallback<int> OnChangeTab{ get; set; }

    public TabPage ActivePage { get; set; }

    private List<TabPage> _pages = new List<TabPage>();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (TabIndex >= 0 && TabIndex < _pages.Count)
        {
            ActivePage = _pages[TabIndex];
        }
    }

    private string GetTabClass(TabPage tabpage)
    {
        return tabpage == ActivePage ? "active" : "";
    }

    private async void ActivatePage(TabPage tabPage)
    {
        ActivePage = tabPage;
        await OnChangeTab.InvokeAsync(_pages.IndexOf(tabPage));
    }

    internal void AddPage(TabPage tabPage)
    {
        _pages.Add(tabPage);
        if (_pages.Count == 1)
        {
            ActivePage = tabPage;
        }
        StateHasChanged();
    }
}

