@namespace Datahub.Core.Templates

<p>Good day,</p>

<p>A user has submitted/updated a request for an MS Team in the Datahub.</p>

<p>The business owner @ApplicationParameters.BusinessOwner has requested the creation of the team: @ApplicationParameters.TeamName</p>

<p>The application was submitted by the following email address: @ApplicationParameters.SubmitterEmaill</p>

<p>Please click here to see the request: @ApplicationParameters.AppUrl</p>
@code {

    [Parameter]
    public M365FormsParameters ApplicationParameters { get; set; }

}