@use 'Common' as c;

:root {
  
  
  --density: 2;
  --design-unit: 4;
  

  /*  
        BUTTON
   */
  --btn-light-color: #{c.$grey-700};
  --btn-light-bg-color: #{c.$grey-100};
  --btn-light-bg-color-hover: #{c.$grey-200};
  
}