@use 'Common' as c;

@import 'Components/Icons/_icon-colors.scss';

#topbarlite {
    background-color: c.$white;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: c.$topbarHeight;

    .headertext {
        display: flex;
        flex-direction: row;
        font-weight: lighter;

        .title {
            font-size: 1.8em;
        }

        .notification {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            font-size: 1em;
        }
    }

    .profile {
        height: 100%;
        display: flex;
        align-items: flex-end;

        .toggle {
            height: 100%;
            display: flex;
            align-items: center;
            white-space: nowrap;
            padding: 0 1rem;
            margin-top: 0px;
        }

        .picture {
            margin-left: 1rem;
            height: 2rem;
            width: 2rem;
            border-radius: 4rem;
            background-color: c.$gray-800;
        }

        .user-popup {
            right: 0;
            width: 150px;
            height: 50px;

            .user-section {
                display: flex;
                .language-toggle {
                    margin-left: 20px;
                    .nrcan-typography {

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}