@use 'Common' as c;

@import 'Components/Icons/_icon-colors.scss';

#topbarlite {
    background-color: c.$white;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: c.$topbarHeight;


    .profile {
        height: 100%;
        display: flex;
        align-items: flex-end;

        .toggle {
            height: 100%;
            display: flex;
            align-items: center;
            white-space: nowrap;
            padding: 0 1rem;
            margin-top: 0px;

        }

        .picture {
            margin-left: 1rem;
            height: 2rem;
            width: 2rem;
            border-radius: 4rem;
            background-color: c.$gray-800;
        }

        
    }
}
