@using Datahub.Core.Data
@using Datahub.Core.Utils
@using Datahub.Infrastructure.Services.Security
@inject ServiceAuthManager ServiceAuthManager

<div id="sidebar">
    <div class="sidebar-sticky">
        <div class="logo">
            <img src="_content/Datahub.Core/img/datahub-logo-v2.png"/>
        </div>
    </div>
</div>

@code {

    
}