@inherits LayoutComponentBase

@using Datahub.Application.Services
@using Datahub.Application.Services.UserManagement
@using Microsoft.Identity.Web
@using Datahub.Portal.Views.Dialogs
@using Datahub.Portal.Components.PageAlerts

@inject NavigationManager _navigationManager
@inject IDatahubAuditingService _auditingService
@inject IUserCircuitCounterService _userCircuitCounterService
@inject MicrosoftIdentityConsentAndConditionalAccessHandler _consentHandler
@inject DatahubPortalConfiguration _portalConfiguration
@inject IUserInformationService _userInformationService
@inject IUserSettingsService _userSettingsService
@inject IDialogService _dialogService
@inject ICultureService CultureService


<PageTitle>@Localizer["Federal Science DataHub"]</PageTitle>

@if (_isLoaded)
{
    <CascadingValue Value="@DatahubTheme.DefaultTheme">
        <AuthorizeView>
            <Authorized>
                @if (_isSessionEnabled == true)
                {
                    @Body
                }
                @if (_isSessionEnabled == false)
                {
                    <TooManyTabs/>
                }
            </Authorized>
            <NotAuthorized>
                <div>@Localizer["Connection lost, please refresh this page"]</div>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingValue>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Large" Class="mt-16">
        <i class="fa-solid fa-house" style="opacity:0; position: absolute; top: 0; left: 0;"></i>
        <i class="fa-duotone fa-house" style="opacity:0; position: absolute; top: 0; left: 0;"></i>
        <DHLoadingInitializer Message="@Localizer[GetLoadMessage()]"/>
    </MudContainer>
    <MudDialogProvider/>
}

@code
{
    private bool? _isSessionEnabled;
    private bool _isLoaded = false;
    private const string LogoutUrl = PageRoutes.Logout;
    private bool _isUserValid = false;

    private static readonly string[] LOAD_MESSAGES = new[] { "Recomputing DNA sequence", "Identifying the pathogen", "Recalculating fungal genome", "Predicting soil mapping", "Analyzing forest coverage" };

    private static string GetLoadMessage()
    {
        return LOAD_MESSAGES[new Random().Next(LOAD_MESSAGES.Length)];
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await _userInformationService.GetAuthenticatedUser(true);

            if (!user.Identity?.IsAuthenticated ?? true)
            {
                var returnUrl = _navigationManager.ToBaseRelativePath(_navigationManager.Uri);
                _navigationManager.NavigateTo($"/login?redirectUri={returnUrl}", forceLoad: true);
                return;
            }

            _isUserValid = await _userSettingsService.HasUserAcceptedTAC();
            _isSessionEnabled = await _userCircuitCounterService.IsSessionEnabled();
            await _auditingService.TrackEvent("Login");
        }
        catch (Exception ex)
        {
            _consentHandler.HandleException(ex);
        }

        // register and or update authenticated portal user
        await _userInformationService.RegisterAuthenticatedPortalUser();

        _isLoaded = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await UpdateUserLanguageSetting();

            _isUserValid = await _userSettingsService.HasUserAcceptedTAC();
            if (!_isUserValid)
            {
                await _userSettingsService.RegisterUserTAC();
                _isUserValid = true;
            }

            StateHasChanged();
        }
    }

    private async Task PromptForTermsAndConditions()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = false,
            BackdropClick = false,
        };

        var tocDialog = await _dialogService.ShowAsync<UserTermsAndConditionsDialog>(Localizer["TermsAndConditions"], options);
        var tocDialogResult = await tocDialog.Result;
        if (!tocDialogResult.Canceled && tocDialogResult.Data is true)
        {
            await _userSettingsService.RegisterUserTAC();
            _isUserValid = true;
        }
        else
        {
            _navigationManager.NavigateTo(LogoutUrl, forceLoad: true);
        }
    }

    private async Task UpdateUserLanguageSetting()
    {
        var userLanguageSetting = await _userSettingsService.GetUserLanguage();
        var localStorageLanguage = await CultureService.GetLanguageFromLocalStorageAsync();

        if (userLanguageSetting != localStorageLanguage && !string.IsNullOrEmpty(localStorageLanguage))
        {
            await _userSettingsService.RegisterUserLanguage(localStorageLanguage);
        }
    }
}