@inherits LayoutComponentBase
@layout WorkspaceLayout

<MudContainer Class="mt-8" MaxWidth="MaxWidth.Large">
    <div class="reader-only" id="maincontent"><h3>@Localizer["Main content"]</h3></div>
    @Body
</MudContainer>