@namespace Datahub.Core.Templates

<h3>PowerBi External Report Request</h3>

<p>Hello, </p>
<p>Please use the link below to access your report externally</p>

<a href=@ApplicationParameters.AppUrl>Report</a>


<p>The password for the report is: @ApplicationParameters.App.UnhashedValidationCode</p>
<hr />
@*
<h3>Formulaire de demande de mise en place de services informatiques</h3>
<h4>Demande de mise en place de services informatiques</h4>
<p>@ApplicationParameters.App.Client_Contact_Name </p>
<p>Merci d'avoir rempli le formulaire de demande de mise en place de services informatiques du Carrefour des données. Nous avons reçu votre demande et un membre de l'équipe du Carrefour des données communiquera avec vous sous peu.</p>
<p>Veuillez écrire à datahub@nrcan-rncan.gc.ca si vous avez des questions ou si vous souhaitez obtenir des informations supplémentaires.</p>
*@



@code {

    [Parameter]
    public PowerBiExternalReportParameters ApplicationParameters { get; set; }

}
