@namespace Datahub.Core.Templates

<h3>@Service Service Access Revoked</h3>

<p>Your access to service <b>@Service</b> in data project <b>@DataProject.ProjectNameEn</b> has been revoked. The service links in the data project page will no longer be available.</p>

<hr />

<h3>Accès au Service Révoqué</h3>

<p>Votre accès au service <b>@Service</b> dans le projet de données <b>@DataProject.ProjectNameFr</b> a été révoqué. Les liens menant au service dans la page du projet de données ne seront plus accessibles.</p>

@code {

    [Parameter]
    public string Service { get; set; }

    [Parameter]
    public DatahubProjectInfo DataProject { get; set; }

}
