@namespace Datahub.Core.Templates

<h3>New @Service Service Request</h3>

<p>User <b>@Username</b> has requested the creation of service <b>@Service</b> in data project <b>@DataProject.ProjectNameEn</b>. Please visit the admin page with proper credentials to notify project users when it has been created.</p>

@code {

    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string Service { get; set; }

    [Parameter]
    public DatahubProjectInfo DataProject { get; set; }

}
