azure-common==1.1.28
azure-core==1.29.5
azure-functions==1.17.0
azure-identity==1.15.0
azure-keyvault==4.2.0
azure-keyvault-administration==4.3.0
azure-keyvault-certificates==4.7.0
azure-keyvault-keys==4.8.0
azure-keyvault-secrets==4.7.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
cryptography==42.0.0
databricks-sdk==0.9.0
idna==3.4
isodate==0.6.1
msal==1.25.0
msal-extensions==1.0.0
portalocker==2.8.2
pycparser==2.21
PyJWT==2.8.0
pyserial==3.5
pywin32==306
requests==2.31.0
six==1.16.0
typing_extensions==4.8.0
urllib3==2.0.7





