@use '../common/' as c;

$collapseOptions: ();
$sectionOptions: ();

$sectionBodyOptions: (
  '&.collapsed': (
    'display': none,
  ),
);

$sectionHeaderOptions: (
  'cursor': pointer,
  'border-bottom': 1px solid c.$grey-500,
);

@mixin configure($options) {
  @if ($options) {
    @if (map.get($options, 'collapseOptions')) {
      $collapseOptions: map.get($options, 'collapseOptions') !global;
    }
    @if (map.get($options, 'sectionOptions')) {
      $sectionOptions: map.get($options, 'sectionOptions') !global;
    }
    @if (map.get($options, 'sectionBodyOptions')) {
      $sectionBodyOptions: map.get($options, 'sectionBodyOptions') !global;
    }
    @if (map.get($options, 'sectionHeaderOptions')) {
      $sectionHeaderOptions: map.get($options, 'sectionHeaderOptions') !global;
    }
  }
}

@mixin styles {
  .ae.collapse {
    @include c.set-values($collapseOptions);

    .ae.collapse-section {
      @include c.set-values($sectionOptions);

      .ae.section-header {
        @include c.set-values($sectionHeaderOptions);
      }

      .ae.section-body {
        @include c.set-values($sectionBodyOptions);
      }
    }
  }
}
