@use '../Common' as c;


.nrcan-close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 1rem;

    &:hover {
        color: c.$borderblue;
        cursor: pointer;
    }
}

