@use '../Common' as c;


.skeleton {
  height: 1.2rem;
  display: block;
  background-color: c.$grey-400;
  
  
  &.row {
    height: auto;
    transform: scale(1, 0.60);
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
    transform-origin: 0 60%;
    
    &:empty:before {
      content: "\00a0";
    }
  }
  
  &.pulse {
    animation: skeleton-keyframes-pulse 1.5s ease-in-out 0.5s infinite;
  }
 
  &.wave {
    overflow: hidden;
    position: relative;
    
    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      position: absolute;
      animation: skeleton-keyframes-wave 1.6s linear 0.5s infinite;
      transform: translateX(-100%);
      background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
    }
  }
}


@-webkit-keyframes skeleton-keyframes-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes skeleton-keyframes-wave {
  0% {
    transform: translateX(-100%);
  }

  60% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}