@page "/m365forms/confirmation"

<AeCard>
        <Header>
            <h3>@Localizer["M365 Team Request Form"]</h3>
        </Header>
        <ChildContent>
            <div>                
                <p>@Localizer["Thank you for filling out the M365 Team Request Form. We’ve received your application and a M365 team member will be in touch with you shortly."]</p>
                <p>@Localizer["Please contact m365@nrcan-rncan.gc.ca if you have questions or require additional information."]</p>
            </div>            
        </ChildContent>
</AeCard>

@code {

}
