@page "/locked" 

@using Datahub.Application.Services.UserManagement

<PageTitle>Account Locked</PageTitle>

<MudStack Class="my-16 py-16">
    <MudStack AlignItems="AlignItems.Center" Class="mt-4">
        <MudText Typo="Typo.h2" Class="text-center">Your account is locked</MudText>
        <MudText Typo="Typo.body1" Class="text-center">
            Please contact <a href="mailto:DataSolutions-Solutiondedonnees@ssc-spc.gc.ca">DataSolutions-Solutiondedonnees@ssc-spc.gc.ca</a> to unlock your account.
        </MudText>
    </MudStack>
</MudStack>
