@page "/powerbi-report/embed/{ReportId}"
@inject UIControlsService UI
@inject IDbContextFactory<DatahubProjectDBContext> _dbFactoryProject
@layout PublicLayout
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@inject IConfiguration _configuration
@using Microsoft.AspNetCore.Cryptography.KeyDerivation;
@using Datahub.Core.Model.Datahub
@using Datahub.Portal.Layout
@using Datahub.PowerBI.Data

<MudThemeProvider />
    
@if (!_isAccessible)
{
    <MudContainer MaxWidth=@MaxWidth.Small>
        <MudCard Class="pa-8">
            <MudCardContent>
                <MudTextField 
                    @bind-Value=@_inputValue 
                    InputType=@_passwordInputType 
                    Label=@Localizer["Password"] 
                    Adornment=@Adornment.End 
                    AdornmentIcon=@_passwordIcon
                    OnAdornmentClick=@(() => _showPassword = !_showPassword)
                    AdornmentAriaLabel=@_passwordIconLabel  />
            </MudCardContent>

            <MudCardActions>
                <MudButton 
                    Variant=@Variant.Filled 
                    Color=@Color.Primary 
                    OnClick=@(async () => await OnOpenReport())
                    >@Localizer["Open report"]
                </MudButton>

            </MudCardActions>
        </MudCard>
    </MudContainer>
}
<div @ref="@PowerBIElement" style="width:100%;height:600px;max-width: 2000px">@_errorMessage</div>

@code {

    [Parameter]
    public string ReportId {  get;  set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public bool ReadOnly { get; set; }

    private bool _showPassword = false;
    private string _passwordIcon => _showPassword ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff;
    private InputType _passwordInputType => _showPassword ? InputType.Text : InputType.Password;
    private string _passwordIconLabel => _showPassword ? Localizer["Hide password"] : Localizer["Show password"];
        
    private ElementReference PowerBIElement;
    private string _inputValue;
    private ExternalPowerBiReport ExtReport;

    private string _errorMessage;
    private bool _isAccessible = false;

    private async Task OnOpenReport()
    {
        using var context = _dbFactoryProject.CreateDbContext();
        ExtReport = await context.ExternalPowerBiReports.Where(r => r.ReportID.ToString() == ReportId).FirstOrDefaultAsync();
        
        await ValidateUser();
    }

    private async Task ValidateUser()
    {
        string hashed = Convert.ToBase64String(KeyDerivation.Pbkdf2(
            password: _inputValue,
            salt: ExtReport.ValidationSalt,
            prf: KeyDerivationPrf.HMACSHA256,
            iterationCount: 100000,
            numBytesRequested: 256 / 8));

        _isAccessible = hashed == ExtReport.ValidationCode;
        await LaunchReport();
    }

    private async Task LaunchReport()
    {
        try
        {

            if (_isAccessible && ExtReport is not null)
            {

                var pbiSettings = new PowerBISettings();
                if (ReadOnly)
                {
                    pbiSettings.bars.actionBar.visible = false;
                    pbiSettings.navContentPaneEnabled = false;
                }


                await JSRuntime.InvokeAsync<object>(
                    "ShowMyPowerBI.showReportEmbed",
                    PowerBIElement, ExtReport.Token, ExtReport.Url,
                ExtReport.ReportID.ToString(), pbiSettings);

            }
            else
            {
                NavManager.NavigateTo($"http://www.google.ca");
            }

        } 
        catch (Exception ex)
        {
            HandleError(ex);
        }
    }

    private void HandleError(Exception ex)
    {
        _errorMessage = $"Internal error loading report {ReportId}.";
    }


    private const string AuthorityFormat = "https://login.microsoftonline.com/{0}/v2.0";
    private const string MSGraphScope = "https://analysis.windows.net/powerbi/api/.default";
}
