<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dh-portal-func-dotnet-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/54e15e2b-0be1-4d7d-b9d2-bbd6ffcc370a/resourceGroups/ciosb-dev-datahub-ca-central/providers/Microsoft.Web/sites/dh-portal-func-dotnet-dev</ResourceId>
    <UserName>$dh-portal-func-dotnet-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://dh-portal-func-dotnet-dev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>