@use '../common' as c;
@use 'sass:map';

$sideNavWidth: 300px;
$sidenav-shrunk-width: 60px;
$sidenav-main-menu-width: 60px;
$sidenav-sub-menu-height: 550px;

$topNavHeight: 65px;
$border-color: c.$grey-300;
$sidebar-color: #27283d;
$item-hover: #3c3d5d;

$layoutOptions: (
  'display': flex,
  '.ae.content-wrapper': (
    'display': flex,
    'flex-direction': column,
    'flex-grow': 1,
    'margin-left': $sidenav-shrunk-width,
    'transition': margin-left 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    '.ae.top-nav': (
      'height': $topNavHeight,
      'position': sticky,
      'top': 0,
      'z-index': 10,
    ),
  ),
  '&.stay-collapse': (
    '.ae.sidenav': (
      'width': $sidenav-shrunk-width,
    ),
    '.ae.content-wrapper': (
      'margin-left': $sidenav-shrunk-width,
    ),
  ),
);

$sideNavOptions: (
  'display': flex,
  'flex-direction': column,
  'position': fixed,
  'top': 0,
  'height': 100%,
  'width': $sidenav-shrunk-width,
  'overflow-y': hidden,
  'overflow-x': hidden,
  'z-index': 1,
  'background-color': $sidebar-color,
  'border-right': 1px solid $border-color,
  'transition': width 0.5s c.$cubic-bezier,
  'color': c.$white,
  '.ae.sidenav-logo': (
    'display': flex,
    'padding': 0.5rem 0 0.5rem 0.3rem,
    'border-bottom': 1px solid $border-color,
    'background-color': c.$white,
  ),
  '.top': (
    'flex-grow': 1,
    'display': flex,
    'flex-direction': column,
  ),
  '.bottom': (
    'display': flex,
    'align-items': center,
    '.ae.sidenav-item': (
      'height': 3rem,
      'padding': 1.75rem 0.5rem,
      '&:hover': (
        '&': c.$iconColors,
      ),
      '&.main': (
        'display': flex,
        'flex-direction': column,
        'justify-content': center,
        '.sidenav-text': (
          'font-size': 0.7rem,
          'padding-top': 0.2rem,
        ),
      ),
    ),
  ),
  '.ae.sidenav-container': (
    'display': flex,
    'flex-direction': row,
    'flex-grow': 1,
    '.ae.sidenav-main-menu': (
      'display': flex,
      'flex-direction': column,
      'border-right': 3px solid c.$grey-800,
      'max-width': $sidenav-main-menu-width,
      '.ae.sidenav-item': (
        'height': 3rem,
        'padding': 1.75rem 0.5rem,
        '&:hover': (
          '&': c.$iconColors,
        ),
        '&.main': (
          'display': flex,
          'flex-direction': column,
          'justify-content': center,
          '.sidenav-text': (
            'font-size': 0.7rem,
            'padding-top': 0.2rem,
          ),
        ),
      ),
    ),
    '.ae.sidenav-sub-menu': (
      'display': flex,
      'flex-direction': column,
      'overflow-x': hidden,
      '&': c.$scrollbarOptions,
      '.ae.sidenav-sub-group-wrapper': (
        'display': none,
        'width': $sideNavWidth - $sidenav-shrunk-width,
        'max-height': $sidenav-sub-menu-height,
        '&.expanded': (
          'display': flex,
          'flex-direction': column,
        ),
        '.sidenav-item': (
          'height': 1.5rem,
          'padding': 1.3rem 0.5rem,
          'font-size': 0.8rem,
          '.sidenav-text': (
            'text-overflow': ellipsis,
            'white-space': nowrap,
            'overflow': hidden,
          ),
        ),
        '.ae.sidenav-sub-group-title': (
          'color': c.$white,
          'font-size': 1.2rem,
          'padding': 1rem 1rem,
          'text-decoration': none,
        ),
        '& i': (
          'font-size': 1.25rem,
        ),
      ),
      '.ae.sidenav-sub-sub-group-wrapper': (
        'display': none,
        '&.expanded': (
          'display': flex,
          'flex-direction': column,
        ),
        '& i': (
          'font-size': 1rem,
          'margin-left': 20px,
        ),
      ),
    ),
  ),
  '.ae.sidenav-item': (
    'display': flex,
    'align-items': center,
    'white-space': nowrap,
    'overflow': hidden,
    'transition': background-color 0.4s c.$cubic-bezier,
    'border-left': 4px solid transparent,
    'box-sizing': border-box,
    'color': inherit,
    'text-decoration': none,
    '&.exact, &.active': (
      'border-left': 4px solid c.$blue-600,
      'font-weight': bold,
      '& i': (
        'color': c.$blue-600,
      ),
      '&': c.$iconColors,
    ),
    '&:hover': (
      'background-color': $item-hover,
    ),
    '& .ae.icon': (
      'font-size': 1.2rem,
      'display': flex,
      'justify-content': center,
      'text-align': left,
      'min-width': 40px,
      'color': c.$white,
    ),
  ),
  '&.expanded': (
    'width': $sideNavWidth,
  ),
);

$topNavOptions: (
  'height': $topNavHeight,
  'display': flex,
  'position': -webkit-sticky,
  'top': 0,
  'align-items': center,
  'z-index': 9999,
  'background-color': c.$white,
  'border-bottom': 1px solid c.$grey-300,
);

@mixin configure($options) {
  @if ($options) {
    @if (map.get($options, 'sideNavOptions')) {
      $sideNavOptions: map.get($options, 'sideNavOptions') !global;
    }
    @if (map.get($options, 'topNavOptions')) {
      $topNavOptions: map.get($options, 'topNavOptions') !global;
    }
    @if (map.get($options, 'layoutOptions')) {
      $layoutOptions: map.get($options, 'layoutOptions') !global;
    }

    // variables
    @if (map.get($options, 'sideNavWidth')) {
      $sideNavWidth: map.get($options, 'sideNavWidth') !global;
    }
    @if (map.get($options, 'sidenav-shrunk-width')) {
      $sidenav-shrunk-width: map.get($options, 'sidenav-shrunk-width') !global;
    }
    @if (map.get($options, 'sidenav-main-menu-width')) {
      $sidenav-main-menu-width: map.get(
        $options,
        'sidenav-main-menu-width'
      ) !global;
    }
    @if (map.get($options, 'sidenav-sub-menu-height')) {
      $sidenav-sub-menu-height: map.get(
        $options,
        'sidenav-sub-menu-height'
      ) !global;
    }

    @if (map.get($options, 'border-color')) {
      $border-color: map.get($options, 'border-color') !global;
    }
    @if (map.get($options, 'sidebar-color')) {
      $sidebar-color: map.get($options, 'sidebar-color') !global;
    }
    @if (map.get($options, 'item-hover')) {
      $item-hover: map.get($options, 'item-hover') !global;
    }
  }
}

@mixin styles {
  .ae.layout {
    @include c.set-values($layoutOptions);
  }

  .ae.sidenav {
    @include c.set-values($sideNavOptions);
  }

  .ae.top-nav {
    @include c.set-values($topNavOptions);
  }
}
