@namespace NRCan.Datahub.Shared.Templates

<p>Good day,</p>
<p>Thank you for your interest in participating in language training with the NRCan Language School.  </p>
<p>We acknowledge receipt of the approval for [NAME OF EMPLOYEE] for [TRAINING TYPE] language training with the NRCan Language School. </p>
<p>The NRCan Language School will review the request to determine if there is space available within the NRCan Language School programming. Once your request is processed, the NRCan Language School will contact you with language training options based on availability of groups and programs. You will receive an email confirming a decision on placement from the NRCan Language School in the coming weeks.</p>
<p>Please note that approval of the request, it does not guarantee that training will be available. Language training offerings are based on demand and availability of the teachers. Courses will only be offered if there is sufficient demand to fill a class (minimum 4 students).   </p>
<p>For any questions, please direct your questions to:</p>
<p>Language Training: nrcan.languagetraining-formationlinguistique.rncan@canada.ca</p>
<p>The NRCan Language School </p>
<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>


<hr />

<p>Bonjour,</p>
<p>Nous vous remercions de votre intérêt à participer à une formation linguistique avec l'École de langues de RNCan.    </p>
<p>Nous accusons réception de l'approbation de la formation linguistique [TYPE DE FORMATION] pour [NOM DE L’EMPLOYÉ] à l’École de langues de RNCan. </p>
<p>L'École de langues de RNCan examinera la demande afin de déterminer si des places sont disponibles dans la programmation. Une fois votre demande traitée, l'École de langues de RNCan communiquera avec vous pour vous proposer des options de formation linguistique en fonction de la disponibilité des groupes et des programmes. Vous recevrez un courriel de l'École de langues de RNCan confirmant la décision de placement au cours des prochaines semaines.</p>
<p>Veuillez noter que l'approbation de la demande ne garantit pas que la formation sera disponible. Les offres de formation linguistique sont fondées sur la demande et la disponibilité des enseignants. Les cours ne seront proposés que si la demande est suffisante pour remplir une classe (minimum 4 étudiants). </p>
<p>Pour toute question, veuillez vous adresser à : </p>
<p>Formation linguistique : nrcan.languagetraining-formationlinguistique.rncan@canada.ca</p>
<p>L’École de langues de RNCan </p>
<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>


@code {

    [Parameter]
    public string Service { get; set; }

}

