@import 'colors';
@import 'utils';
@import 'constants';


$inputOptions: (
    "margin": 0,
    "display": inline-block,
    "width": 100%,
    "min-width": 0,
    "padding": 0.5rem 0.75rem,
    "color": $text-primary,
    "font-size": 0.9rem,
    "line-height": 1.5,
    "background-color": $white,
    "border": 1px solid $grey-300,
    "border-radius": 2px,
    "transition": all .3s,
    "&:hover":(
        "border-color": $blue-300,
    ),
    "&:focus": (
        "border-color": $blue-300,
        "outline": 0,
        "box-shadow": 0 0 0 2px rgba($blue-300, 0.2),
    ),
) !default;

$inputWrapperOptions: (
    "display": flex,
    "align-items": baseline,
    "& .input-sider": (
        "border": 1px solid $grey-300,
        "background-color": $grey-200,
        "color": $text-primary,
        "line-height": 1.5,
        "font-size": 0.9rem,
        "padding": 0.5rem 0.75rem,
        "display": flex,
        "align-items": baseline,
    ),
    "& .pre": (
        "border-radius": 2px 0 0 2px,
        "border-right-width": 0,
    ),
    "& .post": (
        "border-radius": 0 2px 2px 0, 
        "border-left-width": 0,
    ),
    "& .ae.input": (
        "&.has-pre": (
            "border-top-left-radius": 0,
            "border-bottom-left-radius": 0,
        ),
        "&.has-post": (
            "border-top-right-radius": 0,
            "border-bottom-right-radius": 0,
        )
    )
) !default;


$searchInputOptions: (
    "display": flex,
    "align-items": baseline,
    ".ae.input": (
        "padding-left": 2rem,
    ),
    ".ae.search-icon": (
        "width": 1rem,
        "margin": 0 -1.5rem 0 0.5rem,
        "z-index": 1,
        "color": $text-hint,
    ),
    ".ae.clear-icon": (
        "padding": 0.5rem,
        "margin-left": -2rem,
        "color": $text-hint,
        "opacity": 0,
        "transition": all .3s $cubic-bezier,
        "&:hover": (
            "cursor": pointer,
            "color": $text-primary,
        ),
        "&.visible": (
            "opacity": 1,
        ),
    ),
) !default;

.ae.input {
    @include set-values($inputOptions)
}

.ae.search-wrapper {
    @include set-values($searchInputOptions);
}

.ae.input-wrapper {
    @include set-values($inputWrapperOptions);
}