@import 'colors';
@import 'box-shadow';
@import 'constants';
@import 'utils';
@import 'scrollbar';

$tableHeaderOptions: (
    "default":(
        "display": grid,
        ".ae.table-cell": (
            "cursor": pointer,
            "user-select": none,
            "padding-left": 0.75rem,
            "background-color": $grey-600,
            "color": $white,
            "word-wrap": break-word,
            "&:hover": (
                "background-color": $grey-700,
            ),
        ),
    ),
    "simple":(
        "display": inline-grid,
        ".ae.table-cell": (
            "font-family": 'Source Code Pro',
            "border-color": $grey-500 !important,
            "background-color": $grey-600,
            "text-align": center,
            "padding": 0,
            "width": 122px,
            "border-top": 1px solid,
            "border-right": 1px solid,  
        ),
        ".corner":(
            "border-color": $grey-500 !important,
            "background-color": $grey-600,
            "border-right": 1px solid,
            "border-top": 1px solid,
            "border-left": 1px solid,
        )
    )
) !default;

$tableScrollOptions: (
    "overflow-y": auto,
    "position": relative,
    "&": $scrollbarOptions,
) !default;

$tableRowContainerOptions: (
    "display": grid,
    "overflow": overlay,
) !default;

$tableRowOptions: (
    "default": (
        "display": grid,
        "position": absolute,
        "width": 100%,
        "&:focus": (
            "outline": none,
            "font-weight": bold,
            "&:hover":(
                ".ae.table-cell": (
                    "background-color": $grey-300,
                ),
                "&:hover": (
                    ".ae.table-cell": (
                        "background-color": $grey-300,
                    ),
                ),
            ),
            ".ae.table-cell": (
                "background-color": $grey-300,
                "&:hover":(
                    "background-color": $grey-300,
                ),
            ),
            "&:nth-of-type(2n+1)": (
                ".ae.table-cell": (
                    "background-color": $grey-300,
                ),
                "&:hover": (
                    ".ae.table-cell": (
                        "background-color": $grey-300,
                    ),
                ),
            ),
        ),
        ".ae.table-cell": (
            "background-color": $white,
            "word-wrap": break-word,
            "padding": .5rem 0 .5rem .75rem,
            "&": $scrollbarOptions,
            
            "&:nth-child(1)": (
                "padding-left": .5rem,
                "border-left": .25rem solid $transparent,
            ),
            "&:hover":(
                "transition": .4s $cubic-bezier,
                "background-color": $grey-200,
            ),
            "& a": (
                "&:hover": (
                    "text-decoration": underline,
                )
            ),
        ),
        "&:hover":(
            ".ae.table-cell": (
                "background-color": $grey-200,
                "&:nth-child(1)": (
                    "border-left": .25rem solid $transparent,
                ),
            ),
            "&:hover": (
                ".ae.table-cell": (
                    "transition": .4s $cubic-bezier,
                    "background-color": $grey-200,
                ),
            ),
        ),
        "&:nth-of-type(2n+1)": (
            ".ae.table-cell": (
                "background-color": $grey-100,
                "&:nth-child(1)": (
                    "border-left": .25rem solid $transparent,
                ),
            ),
            "&:hover": (
                ".ae.table-cell": (
                    "transition": .4s $cubic-bezier,
                    "background-color": $grey-200,
                ),
            ),
        ),
    ),
    "simple":(
        "&:focus": (
            "outline": none,
            "font-weight": bold,
            ".ae.table-cell": (
                "background-color": $grey-300,
                "&:hover":(
                    "background-color": $grey-300,
                ),
            ),
            "&:nth-of-type(2n+1)": (
                ".ae.table-cell": (
                    "background-color": $grey-300,
                ),
                "&:hover": (
                    ".ae.table-cell": (
                        "background-color": $grey-300,
                    ),
                ),
            ),
        ),
        "font-size": 0.75rem,
        "width": 400px,
        "text-align": center,
        ".row-number": (
            "width": 75px,
        ),
        "&:nth-of-type(1)": (
            ".ae.table-cell": (
                "border-top": 1px solid,
            ),
        ),
        ".ae.table-cell": (
            "border-color": $grey-400 !important,
            "border-bottom": 1px solid,
            "border-right": 1px solid,
            "&:nth-child(1)": (
                "border-left": 1px solid,
                "font-family": 'Source Code Pro',
                "color": $white,
                "background-color": $grey-600,
            ),
            "padding": 0,
            "padding-top": 0.2rem,
        ),
        "&:hover":(
            ".ae.table-cell": (
                "background-color": $white,
                "&:nth-child(1)": (
                    "border-left": 1px solid,
                    "color": $white,
                    "font-family": 'Source Code Pro',
                    "background-color": $grey-600,
                ),
            ),
        ),
        "&:nth-of-type(2n+1)": (
            ".ae.table-cell": (
                "background-color": $white,
                "&:nth-child(1)": (
                    "border-left": 1px solid,
                    "background-color": $grey-600,
                ),
            ),
            "&:hover": (
                ".ae.table-cell": (
                    "background-color": $white,
                    "&:nth-child(1)": (
                        "border-left": 1px solid,
                        "background-color": $grey-600,
                    ),
                ),
            ),
        ),
    ),
    "red": (
        ".ae.table-cell": (
                "background-color": $red-100,
                "&:nth-child(1)": (
                    "border-left": .25rem solid $red-400,
                ),
            ),
            "&:hover": (
                ".ae.table-cell": (
                    "transition": .4s $cubic-bezier,
                    "background-color": $red-200,
                ),
            ),
    ),
    "blue": (
        ".ae.table-cell": (
                "background-color": $blue-100,
                "&:nth-child(1)": (
                    "border-left": .25rem solid $blue-400,
                ),
            ),
            "&:hover": (
                ".ae.table-cell": (
                    "transition": .4s $cubic-bezier,
                    "background-color": $blue-200,
                ),
            ),
    ),
    "yellow": (
        ".ae.table-cell": (
                "background-color": $orange-100,
                "&:nth-child(1)": (
                    "border-left": .25rem solid $orange-400,
                ),
            ),
            "&:hover": (
                ".ae.table-cell": (
                    "transition": .4s $cubic-bezier,
                    "background-color": $orange-200,
                ),
            ),
    ),
) !default;

.ae.table {

    .ae.table-header {
        @include set-variations($tableHeaderOptions);
    }

    .ae.table-scroll {
        @include set-values($tableScrollOptions);
    }

    .ae.table-rows {
        @include set-values($tableRowContainerOptions);

        .ae.table-row {
            @include set-variations($tableRowOptions);
        }
    }
}