
@namespace Datahub.Core.Templates

<p>Good day, </p>
<p>There are new requests for the creation external Power Bi reports </p>

<p>You can activate the reports in the 'External PowerBI Requests tab here: @ApplicationParameters.AppUrl</p>

@code {

    [Parameter]
    public PowerBiExternalReportParameters ApplicationParameters { get; set; }
}
