@using Datahub.Metadata
@using Datahub.Metadata.Model

@if (FieldValue != null && FieldDefinition != null)
{
    <div>
        <select class="ae input" multiple style="width: 100%">
            @foreach (var c in FieldDefinition.Choices)
            {
                <option value="@c.Value_TXT" @onclick="(e) => OnClick(e, c.Value_TXT)" selected="@IsSelected(c.Value_TXT)">
                    @c.Label
                </option>
            }
        </select>
    </div>
}

@code {

    [Parameter]
    public ObjectFieldValue FieldValue { get; set; }

    [Parameter]
    public FieldDefinition FieldDefinition { get; set; }

    [Parameter]
    public EventCallback<ObjectFieldValue> OnFieldChanged { get; set; }

    private HashSet<string> _selection;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _selection = new HashSet<string>(GetSelectedValues());
    }

    const char splitChar = '|';

    private void OnClick(MouseEventArgs e, string optionValue)
    {
        if (e.CtrlKey)
        {
            if (_selection.Contains(optionValue))
            {
                _selection.Remove(optionValue);
            }
            else
            {
                _selection.Add(optionValue);
            }
        }
        else
        {
            _selection.Clear();
            _selection.Add(optionValue);
        }

        FieldValue.Value_TXT = string.Join(splitChar.ToString(), _selection);

        OnFieldChanged.InvokeAsync(FieldValue);
    }

    private bool IsSelected(string option) => _selection.Contains(option);

    private IEnumerable<string> GetSelectedValues()
    {
        return (FieldValue.Value_TXT ?? string.Empty).Split(splitChar).Where(v => !string.IsNullOrEmpty(v));
    }
}