@use '../../../Common' as c;

.file-explorer-layout {
  .heading {
    .breadcrumbs {
      display: flex;
      gap: c.spacing(1);
      align-items: baseline;
      margin-bottom: c.spacing(1);
      
      i {
        font-size: 1rem; 
      }
    }
  }
}