@using Datahub.PIP.Data
@inject IStringLocalizer DataLocalizer
@inject PIPDBContext Context


<h2>Selected Program</h2>
<AeTable Accessors="accessorFunctionsPip"
         T="PIPTombstone"
         Dataset="_tombstones"
         Headers="pipheaders"
         GridTemplateColumns="4fr 8fr"
         MaxHeight="200" />


@code {

    [Parameter]
    public string tombstone { get; set; }

    private List<PIPTombstone> _tombstones;

    protected override void OnInitialized()
    {
        // load projects
        _tombstones = Context.Tombstones.Where(p => p.TombstoneID == Convert.ToInt32(tombstone)).ToList();        
    }


    private List<string> pipheaders = new List<string>
{
        "Title","Official Title"
    };

    private List<Func<PIPTombstone, string>> accessorFunctionsPip = new List<Func<PIPTombstone, string>>
    {
        new Func<PIPTombstone, string>(p => { return p.ProgramTitle; }),
        new Func<PIPTombstone, string>(p => { return p.ProgramOfficialTitle; }),
    };
}
