@use '../Common/colors';

.profile-circle {
  background-color: colors.$gray-700;
  width: 2rem;
  height: 2rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .profile-letters {
    font-size: .75rem;
    font-weight: bold;
    color: colors.$white;
  }
}