@use '../Common' as c;


.nrcan-tag {
    border-radius: 100px;
    border: 1px solid c.$gray-400;
    display: flex;
    padding: .25rem .5rem;
    font-size: 0.7rem;
    align-items: baseline;
    cursor: pointer;
    transition: all 0.2s c.$cubic-bezier;

    &:hover {
        background-color: c.$nrcangray;
    }

    i {
        margin: 0 .25rem;

        &:hover {
            color: c.$red-500;
        }
    }

    & + .nrcan-tag {
        margin-left: 4px;
    }
}