@use 'sass:math';

@use '../common/colors' as c;

@mixin configure($options) {
  @if ($options) {
    @debug 'Spinner configured is not yet supported';
  }
}

@mixin styles {
  $size: 75px;
  $clr1: c.$red-400;
  $clr2: c.$orange-400;
  $clr3: c.$yellow-400;
  $clr4: c.$indigo-400;
  $clr5: c.$blue-400;

  .ae.spinner.Type1 {
    $animation-duration: 1000ms;
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .spinner-item {
      width: math.div($size, 12);
      height: 80%;
      animation: spinner1 $animation-duration ease-in-out infinite;

      @keyframes spinner1 {
        50% {
          transform: scaleY(0.25);
        }
      }
    }

    .spinner-item:nth-child(1) {
      background: $clr1;
      animation-delay: math.div($animation-duration, 10) * -3;
    }

    .spinner-item:nth-child(2) {
      background: $clr5;
      animation-delay: math.div($animation-duration, 10) * -1;
    }

    .spinner-item:nth-child(3) {
      background: $clr3;
      animation-delay: math.div($animation-duration, 10) * -2;
    }

    .spinner-item:nth-child(4) {
      background: $clr4;
      animation-delay: math.div($animation-duration, 10) * -1;
    }

    .spinner-item:nth-child(5) {
      background: $clr2;
      animation-delay: math.div($animation-duration, 10) * -3;
    }
  }

  .ae.spinner.Type2 {
    $animation-duration: 650ms;
    position: relative;
    width: $size;
    height: $size;

    .spinner-item {
      position: absolute;
      border: 4px solid transparent;
      border-radius: 50%;
      animation: spinner2 $animation-duration linear infinite;

      @keyframes spinner2 {
        to {
          transform: rotate(360deg);
        }
      }
    }

    .spinner-item:nth-of-type(1) {
      width: $size;
      height: $size;
      top: calc(50% - #{$size} / 2);
      left: calc(50% - #{$size} / 2);
      border-left: 4px solid $clr1;
      border-right: 4px solid $clr1;
      border-top: 4px solid $clr1;
    }

    .spinner-item:nth-of-type(2) {
      width: $size - 15px;
      height: $size - 15px;
      top: calc(50% - (#{$size} - 15px) / 2);
      left: calc(50% - (#{$size} - 15px) / 2);
      border-left: 4px solid $clr5;
      border-right: 4px solid $clr5;
      border-bottom: 4px solid $clr5;
    }

    .spinner-item:nth-of-type(3) {
      width: $size - 30px;
      height: $size - 30px;
      top: calc(50% - (#{$size} - 30px) / 2);
      left: calc(50% - (#{$size} - 30px) / 2);
      border-left: 4px solid $clr3;
      border-right: 4px solid $clr3;
      border-top: 4px solid $clr3;
    }
  }

  .ae.spinner.Type3 {
    $item-size: math.div($size, 2.5);
    $animation-duration: 5000ms;
    position: relative;
    width: $size;
    height: $size;
    transform: rotate(45deg);

    .spinner-item {
      position: absolute;
      width: $item-size;
      height: $item-size;
    }

    .spinner-item:nth-child(1) {
      border: 4px solid $clr1;
      top: 0;
      left: 0;
      animation: spinner3A $animation-duration linear infinite;

      @keyframes spinner3A {
        0%,
        8.33%,
        16.66%,
        100% {
          transform: translate(0%, 0%);
        }

        24.99%,
        33.32%,
        41.65% {
          transform: translate(100%, 0%);
        }

        49.98%,
        58.31%,
        66.64% {
          transform: translate(100%, 100%);
        }

        74.97%,
        83.30%,
        91.63% {
          transform: translate(0%, 100%);
        }
      }
    }

    .spinner-item:nth-child(2) {
      border: 4px solid $clr3;
      top: 0;
      left: $item-size + 8px;
      animation: spinner3B $animation-duration linear infinite;

      @keyframes spinner3B {
        0%,
        8.33%,
        91.63%,
        100% {
          transform: translate(0%, 0%);
        }

        16.66%,
        24.99%,
        33.32% {
          transform: translate(0%, 100%);
        }

        41.65%,
        49.98%,
        58.31% {
          transform: translate(-100%, 100%);
        }

        66.64%,
        74.97%,
        83.30% {
          transform: translate(-100%, 0%);
        }
      }
    }

    .spinner-item:nth-child(3) {
      border: 4px solid $clr5;
      top: $item-size + 8px;
      left: $item-size + 8px;
      animation: spinner3C $animation-duration linear infinite;

      @keyframes spinner3C {
        0%,
        83.30%,
        91.63%,
        100% {
          transform: translate(0, 0);
        }

        8.33%,
        16.66%,
        24.99% {
          transform: translate(-100%, 0);
        }

        33.32%,
        41.65%,
        49.98% {
          transform: translate(-100%, -100%);
        }

        58.31%,
        66.64%,
        74.97% {
          transform: translate(0, -100%);
        }
      }
    }
  }

  .ae.spinner.Type4 {
    $animation-duration: 1150ms;
    $item-size: math.div($size, 4);

    .spinner-item {
      width: $item-size;
      height: $item-size;
      display: inline-block;
      margin: 0 3px;
      border-radius: 50%;
      animation: spinner4 $animation-duration ease-in-out infinite;

      @keyframes spinner4 {
        0%,
        100% {
          transform: translateY(75%);
        }

        50% {
          transform: translateY(-75%);
        }
      }
    }

    .spinner-item:nth-child(1) {
      border: 4px solid $clr5;
      animation-delay: math.div($animation-duration, 6) * -1;
    }

    .spinner-item:nth-child(2) {
      border: 4px solid $clr3;
      animation-delay: math.div($animation-duration, 6) * -2;
    }

    .spinner-item:nth-child(3) {
      border: 4px solid $clr1;
      animation-delay: math.div($animation-duration, 6) * -3;
    }
  }

  .ae.spinner.Type5 {
    $animation-duration: 1000ms;
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;

    .spinner-item {
      height: 40%;
      width: math.div($size, 13);
      animation: spinner5 $animation-duration ease-in-out infinite;

      @keyframes spinner5 {
        25% {
          transform: scaleY(2);
        }

        50% {
          transform: scaleY(1);
        }
      }
    }

    .spinner-item:nth-child(1) {
      background-color: $clr1;
    }

    .spinner-item:nth-child(2) {
      background-color: $clr3;
      animation-delay: math.div($animation-duration, 10);
    }

    .spinner-item:nth-child(3) {
      background-color: $clr5;
      animation-delay: math.div($animation-duration, 10) * 2;
    }

    .spinner-item:nth-child(4) {
      background-color: $clr4;
      animation-delay: math.div($animation-duration, 10) * 3;
    }

    .spinner-item:nth-child(5) {
      background-color: $clr2;
      animation-delay: math.div($animation-duration, 10) * 4;
    }
  }

  .ae.spinner.Type6 {
    $animation-duration: 3000ms;
    position: relative;
    width: $size;
    height: $size;

    .spinner-item {
      position: absolute;
      top: calc(50% - #{$size} / 2);
      left: calc(50% - #{$size} / 2);
      width: $size;
      height: $size;
      border-radius: 50%;
      animation: spinner6 $animation-duration ease-in-out infinite;

      @keyframes spinner6 {
        0%,
        100% {
          transform: scale(0.25);
          opacity: 1;
        }

        50% {
          transform: scale(1);
          opacity: 0;
        }
      }
    }

    .spinner-item:nth-of-type(1) {
      background: $clr1;
    }

    .spinner-item:nth-of-type(2) {
      background: $clr5;
      animation-delay: math.div($animation-duration, -2);
    }
  }

  @keyframes arrow-spin {
    100% {
      transform: rotate(179deg);
    }
  }

  @-webkit-keyframes arrow-spin {
    100% {
      -webkit-transform: rotate(179deg);
    }
  }

  .ae.spinner.Type7,
  .ae.spinner.Type7 *,
  .ae.spinner.Type7 *:before,
  .ae.spinner.Type7 *:after {
    box-sizing: border-box;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }

  .ae.spinner.Type7 {
    color: #3182ce;
    position: relative;
    height: 150px;
    width: 150px;
  }

  .ae.spinner.Type7 .straight,
  .ae.spinner.Type7 .curve {
    position: absolute;
    top: 17.5%;
    left: 17.5%;
    width: 65%;
    height: 65%;
    border-radius: 100%;
    animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite;
    -webkit-animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1)
      infinite;
  }

  .ae.spinner.Type7 .straight:before,
  .ae.spinner.Type7 .straight:after {
    content: '';
    position: absolute;
    width: 15%;
    border-bottom: 3px solid #3182ce;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .ae.spinner.Type7 .straight:before {
    top: 5px;
    left: 5px;
  }

  .ae.spinner.Type7 .straight:after {
    bottom: 5px;
    right: 5px;
  }

  .ae.spinner.Type7 .curve:before,
  .ae.spinner.Type7 .curve:after {
    content: '';
    position: absolute;
    width: 45px;
    height: 10px;
    border: solid 3px transparent;
    border-top-color: #3182ce;
    border-radius: 50%/10px 10px 0 0;
    z-index: 90001;
  }

  .ae.spinner.Type7 .curve:before {
    transform: rotate(-63deg) translateX(-27px) translateY(-4px);
    -webkit-transform: rotate(-63deg) translateX(-27px) translateY(-4px);
  }

  .ae.spinner.Type7 .curve:after {
    bottom: 5px;
    right: 5px;
    transform: rotate(115deg) translateX(-26px) translateY(-12px);
    -webkit-transform: rotate(115deg) translateX(-26px) translateY(-12px);
  }

  .ae.spinner.Type7 .center {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    border: 3px solid #3182ce;
  }

  .ae.spinner.Type7 .inner {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite
      reverse;
    -webkit-animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1)
      infinite reverse;
  }

  .ae.spinner.Type7 .inner:before,
  .ae.spinner.Type7 .inner:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-width: 11px;
    border-bottom-color: #3182ce;
  }

  .ae.spinner.Type7 .inner:before {
    top: 12px;
    left: 12px;
    transform: rotate(128deg);
    -webkit-transform: rotate(128deg);
  }

  .ae.spinner.Type7 .inner:after {
    bottom: 12px;
    right: 12px;
    transform: rotate(-48deg);
    -webkit-transform: rotate(-48deg);
  }
}
