@use 'Common' as c;

.search-popup {
    position: fixed;
    overflow-y: auto;
    max-width: 600px;
    background-color: c.$white;
    border: 1pz solid c.$gray-200;

    @include c.BoxShadow(2);

    .footer {
        border-top: 1px solid c.$gray-200;
    }

    .nrcan-close-button {
        display: none;
    }
}

.search-list-container {
    background-color: c.$white;
    max-height: 275px;
    width: 480px;
    min-width: 500px;
    border: 1px solid c.$gray-200;
    overflow-y: auto;

    &.full-width-search-list {
        width: 100%;
        padding: 1rem;
    }

    .search-table-header {
        background-color: c.$gray-200;
        padding: 10px 20px;
        text-align: left;
        font-weight: bold;
    }

    .additional-results {
        margin: 1em;
        .additional-result-label::before {
            content: ', ';
        }
        .additional-result-label:first-child::before {
            content: ' ';
        }
    }

    .search-grid-row {
        display: grid;
        grid-template-columns: .125fr 60% auto;
        font-size: 0.8rem;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 15px 20px;
        text-align: left;
        border-width: 0 0 1px 0;

        &.icons {
            width: 32px;
            height: 32px;
        }

        .textcontent {
            justify-content: left;
            flex-grow: 1;

            > a {
                color: #212529;
            }

            > i {
                margin-left: 0.25rem;
                width: 1rem;
                padding-top: 0.175rem;
            }

            &.small-text {
                font-size: 0.6rem;
            }

            &.large-text {
                font-size: 1rem;
            }
        }

        .break {
            flex-basis: 100%;
            height: 0;
        }
    }
}

.search-results {
    list-style: none;
    margin: 0 2em;
    padding: 0;

    li {
        margin-bottom: 1rem;
    }

    .search-result-title {
        font-weight: bold;
    }
    
    .search-result-subtitle {
        font-style: italic;
        font-size: 0.7rem;
    }
    
    .search-result-description {
        p {
            margin: 0;
        }
    }
}

.search-page {
    .ae.card {
        margin: 2rem 3rem;
        padding-bottom: 2rem;
    }
}
