@use 'Common/colors';


.nrcan-typography {
    font-family: 'Roboto','RobotoDraft',Helvetica,Arial,sans-serif;
    color: colors.$gray-800;

    &.h1 {
        font-weight: 500;
        font-size: 2rem;
    }

    &.h3 {
        font-weight: 300;
        font-size: 1.25rem;
    }

    &.h4 {
        font-weight: 300;
        font-size: 1rem;
    }

    &.h3centered {
        font-weight: 300;
        font-size: 1.25rem;
        text-align: center;
    }

    &.h4centered {
        font-weight: 300;
        font-size: 1rem;
        text-align: center;
    }
}