

<AeCard CardPosition="AeCard.CardStyle.Horizontal">
    <Header>
        <MudIcon Icon="fas fa-exclamation-triangle red" />
    </Header>
    <ChildContent>
        <AeTypography Variant="warning">@Localizer[$"{LOCALIZATION_PREFIX}.ItemNotFoundWarning"]</AeTypography>
    </ChildContent>
    <Footer>
        <div>
            <AeButton class="red" OnClickEvent=@OnDeleteClicked>@Localizer["Delete"]</AeButton>
        </div>
    </Footer>
</AeCard>

@code {
    private static readonly string LOCALIZATION_PREFIX = $"{PowerBiManagementConstants.POWERBIMANAGEMENTLOCALIZATIONROOTKEY}.POWER_BI_ADMIN";

    [Parameter]
    public EventCallback OnDeleteClicked { get; set; }
}
