@using Microsoft.Graph.Models
@using MudBlazor.Utilities
@using Datahub.Core.Model.Achievements

@inject DatahubPortalConfiguration _portalConfiguration

@if (GetUserAchievements().Any())
{
    <MudStack>
        <MudText Typo="Typo.h3" GutterBottom>@Title</MudText>
        <MudAvatarGroup Max="12" Spacing="6" MaxColor="Color.Dark">
            <ul style="list-style: none; display:flex;">
                @foreach (var userAchievement in GetUserAchievements())
                {
                    <li style="display:flex;" class="mr-n4">
                        <MudAvatar>
                            <MudImage Src="@(_portalConfiguration.Media.GetAchievementThumbnailUrl(userAchievement.Achievement.Id))" Alt="@Localizer[userAchievement.Achievement.Name]"/>
                        </MudAvatar>
                    </li>
                }
            </ul>
        </MudAvatarGroup>
    </MudStack>
}

@code {

    [Parameter]
    public PortalUser ViewedUser { get; set; }

    private string Title => Localizer["Achievements"];

    private IEnumerable<UserAchievement> GetUserAchievements()
    {
        return ViewedUser?.GetUserAchievements()
            .OrderBy(a => a.Achievement.Id)
            .ThenBy(a => a.UnlockedAt)
            .ToList()
               ?? new List<UserAchievement>();
    }

}