<div class="nrcan-title">
    <p class="weight-400">Questions fréquemment posées</p>
</div>
<div class="nrcan-content">
    <h4 class="weight-400 letter-spacing-1">En quoi DataHub diffère-t-il des autres solutions de stockage?</h4>
    <p class="dropcap">
        DataHub n’offre pas seulement le stockage de fichiers mais aussi une solution capable d’ingérer, de gérer et d’analyser des données sous n’importe quelle forme. Cela inclut le travail avec n’importe quelle combinaison de textes, de tableaux/bases de données, de documents, de cartes, d’images, de vidéos, etc.
    </p>

    <h4 class="weight-400 letter-spacing-1">Est-ce que j’aurai mon propre espace de stockage personnel dans DataHub?</h4>
    <p class="dropcap">
        Oui. En tant qu’utilisateur, vous disposerez d’un espace de stockage personnel où vous pourrez stocker des données dans n’importe quel format. Selon vos besoins, nous vous attribuerons un espace approprié au type de travail que vous avez l’intention d’effectuer (p. ex., préparation de rapports, développement d’algorithmes, expériences).
    </p>

    <h4 class="weight-400 letter-spacing-1">Pouvons-nous également obtenir un espace de stockage partagé pour l’équipe?</h4>
    <p class="dropcap">
        Oui. Selon vos besoins, nous personnaliserons un environnement d’équipe qui vous conviendra.
    </p>

    <h4 class="weight-400 letter-spacing-1">Puis-je connecter des rapports et des tableaux de bord préparés dans DataHub?</h4>
    <p class="dropcap">
        Oui, des outils comme Microsoft Power BI et Tableau sont actuellement en cours d’intégration dans DataHub. Nous voulons que vous puissiez utiliser les outils d’intelligence d’affaires en libre-service avec toutes les données que vous téléchargez.
    </p>

    <h4 class="weight-400 letter-spacing-1">Comment puis-je utiliser l’analyse et l’apprentissage automatique dans DataHub?</h4>
    <p class="dropcap">
        Vous pouvez apporter votre propre algorithme ou en élaborer un dans DataHub avec vos propres données.  Vous pourrez bientôt déployer des modèles d’analyse pour également personnaliser les flux de travail dans DataHub.
    </p>

    <h4 class="weight-400 letter-spacing-1">Puis-je apporter mes ensembles de données massifs dans DataHub?</h4>
    <p class="dropcap">
        Oui. DataHub est conçu pour traiter des données volumineuses. Nous construirons des pipelines personnalisés pour migrer vos grands ensembles de données dans DataHub.  Qu’il s’agisse de téraoctets ou de pétaoctets, nous pouvons le faire!
    </p>

    <h4 class="weight-400 letter-spacing-1">Quand pourrais-je commencer à utiliser DataHub?</h4>
    <p class="dropcap">
        Nous ferons de notre mieux pour que vous puissiez rapidement commencer.  Nous avons beaucoup de clients et chaque client a des besoins différents, depuis des rapports de base jusqu’à des environnements d’analyse de pointe.  <a href="ContactFr" title="Link to Contact Us Page">Communiquez avec nous</a>, et nous vous aiderons à démarrer le plus rapidement possible.
    </p>
</div>
<div class="nrcan-image">
</div>
