<div class="nrcan-title">
    <p class="weight-400">Démarrez le projet de votre équipe avec toutes vos données en un seul endroit</p>
</div>
<div class="nrcan-content">
    <p class="dropcap">
        Avec vos données et vos outils dans un même environnement, votre équipe sera en mesure de se mettre rapidement au travail. DataHub est plus qu’un simple espace de stockage sécurisé – c’est une façon intelligente et harmonieuse de travailler avec les données.
    </p>
</div>
<div class="nrcan-image">
</div>
