<div class="nrcan-title">
    <p class="weight-400">Capacités de recherche et de gestion des données</p>
</div>
<div class="nrcan-content">
    <div class="list-points">           
        <img class="img-responsive list-icon" src="img/asset_23.png" alt="Icon depicting a Data Lake" />
        <p class="weight-400">Lac de données</p>
    </div>
    <div>
        <p>
            Dépôt centralisé et organisé pour stocker des données structurées et non structurées à l’échelle. Fonctionne de manière harmonieuse avec le catalogage, le versionnage, l’organisation, l’archivage, la réplication et la sauvegarde automatisés des données.
        </p>
    </div>
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_25.png" alt="Icon depicting a Data Pipelines" />
        <p class="weight-400">Pipelines de données</p>
    </div>        
    <div>
        <p>
            Flux de travail pour le déplacement des données entre les lieux et les formats. Permet de créer des chemins personnalisés et des processus entièrement automatisés pour extraire, nettoyer, transformer et intégrer des données de n’importe quelle source.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>

