<div class="nrcan-title">
    <p class="weight-400">Intelligence d’affaires</p>
</div>
<div class="nrcan-content">
    <div class="list-points">            
        <img class="img-responsive list-icon" src="img/asset_31.png" alt="Icon depicting Self-Serve BI Tools" />
        <p class="weight-400">Outils d’intelligence d’affaires en libre-service</p>
    </div>        
    <div>
        <p>
            Des outils pour explorer, modéliser, construire des tableaux de bord et rendre compte des données.
        </p>
    </div>
    <div class="list-points">           
        <img class="img-responsive list-icon" src="img/asset_32.png" alt="Icon depicting Enterprise Data Warehouse" />
        <p class="weight-400">Dépôt de données d’entreprise</p>
    </div>
    <div>
        <p>
            Un système d’intelligence d’affaires entièrement organisé, évolutif et très performant, conçu pour accélérer la recherche de données, les rapports et les tableaux de bord pour un processus décisionnel fondé sur des données probantes.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>
