@using Datahub.Core.Services.Notification
@using Datahub.Application.Services.Notification
@using Datahub.Core.Model.Projects

<h3>Public File Sharing Approved</h3>

<p>Your request to share <strong>@Filename</strong> in project <strong>@DataProject.ProjectNameEn</strong> has been approved.</p>

@if(PublicationDate != null)
{
    <p>The file will be publicly available on @PublicationDate?.ToShortDateString().</p>
}
else
{
    <p>The file can be accessed using <a href=@PublicUrlLink>this link</a>.</p>
}

<p>You can check the <a href=@FileSharingStatusLink>file sharing status</a> for more information.</p>


@code {

    [Parameter]
    public string Filename { get; set; }

    [Parameter]
    public DatahubProjectInfo DataProject { get; set; }

    [Parameter]
    public string FileSharingStatusLink { get; set; }

    [Parameter]
    public string PublicUrlLink { get; set; }

    [Parameter]
    public DateTime? PublicationDate { get; set; }

}
