@using Datahub.Core.Services.Notification;
@using Datahub.Application.Services.Notification
@using Datahub.Core.Model.Projects

<h3>Public File Sharing Approval Request</h3>

<p>User <strong>@Username</strong> has requested approval to share <strong>@Filename</strong> in project <strong>@DataProject.ProjectNameEn</strong> via public URL.
    To approve or deny this request, please visit the <a href=@SharingDashboardLink>File Sharing Dashboard</a>.</p>


@code {

    [Parameter]
    public string Filename { get; set; }

    [Parameter]
    public DatahubProjectInfo DataProject { get; set; }

    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public string SharingDashboardLink { get; set; }

}
