@inject UiControlsService UI
<div class="modal-content-large">
    @Fragment
</div>
@code{
    [Parameter]
    public RenderFragment Fragment { get; set; }

    //private async void HandleAlertDecision(bool IsContinue)
    //{
    //    await OnDecision.InvokeAsync(IsContinue);
    //}

}

