@inject UiControlsService UI

<div class="modal-content">
    <h4 class="nrcan-typography h4 modal-header">
        @(Header ?? Localizer["Warning"])
    </h4>

    @foreach (var text in WarningTextString)
    {
        <div class="modal-body">@Localizer[text]</div>
    }

    <div class="modal-footer">
        <button class="submitbutton finish" @onclick="() => OnDecision?.Invoke(true)">
            @(AcceptLabel ?? Localizer["Ok"])
        </button>
    </div>
</div>

@code{
    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public string AcceptLabel { get; set; }

    [Parameter]
    public Action<bool> OnDecision { get; set; }

    [Parameter]
    public List<string> WarningTextString { get; set; }
}