<div class="textcontent" style="margin: 1.5rem">
    <h1 class="weight-500">Conditions générales</h1>
    <h2 class="weight-400 letter-spacing-1 size-16"><span>Dernière mise à jour: 2 septembre 2020</span></h2>
    <p class="dropcap">
        <br>Merci d’utiliser le RNCan DataHub!
        <br><br>Ressources naturelles Canada (RNCan) s’engage à créer une façon de travailler plus éclairée en procurant une plateforme intuitive et unifiée pour garder votre contenu sécuritaire et accessible tout en vous aidant, vous et vos collègues, à rester coordonnés et synchronisés. Les présentes conditions de service (« Conditions ») couvrent votre utilisation et votre accès aux services RNCan DataHub, aux logiciels clients et aux sites Web (« Services »). En utilisant nos services, vous acceptez d’être lié par les présentes conditions générales et par notre politique de confidentialité (« Confidentialité »).
        <br><br>
        <h3 class="weight-400 letter-spacing-1">Votre matériel et vos autorisations</h3>
        Lorsque vous utilisez nos services, vous nous procurez des éléments comme vos fichiers, votre contenu, vos messages, vos personnes-ressources, etc. (« Votre matériel »).  Les présentes conditions ne nous donnent aucun droit sur votre matériel, à l’exception des droits limités qui nous permettent d’offrir les services.
        <br><br>Nous avons besoin de votre autorisation pour faire certaines choses comme héberger votre matériel, le sauvegarder et le partager lorsque vous nous le demandez. Nos services incluent également des fonctions comme les commentaires, le partage, la recherche, les vignettes d’images, les aperçus de documents, la reconnaissance optique de caractères (ROC), le tri et l’organisation faciles, et la personnalisation pour vous aider à réduire votre charge de travail. Afin de vous offrir ces fonctions et autres, le RNCan DataHub accède à votre matériel, le stocke et le numérise. Vous nous donnez la permission de faire ces choses, et cette permission s’étend à nos sociétés affiliées et aux tiers de confiance avec qui nous travaillons.

        <br><br><h3 class="weight-400 letter-spacing-1">Vos responsabilités</h3>
        Votre utilisation de nos services doit être conforme à la politique d’utilisation acceptable (voir la section « Politique d’utilisation acceptable » ci-dessous). Le contenu des services peut être protégé par les droits de propriété intellectuelle d’autrui. Veuillez ne pas copier, télécharger, charger ou partager du contenu, sauf si vous en avez le droit.
        <br><br>Le RNCan DataHub peut examiner votre conduite et votre contenu pour s’assurer qu’ils sont conformes aux présentes conditions et à notre politique d’utilisation acceptable. Nous ne sommes pas responsables du contenu que les personnes téléchargent, affichent et partagent par l’intermédiaire des services.
        <br><br>Aidez-nous à assurer la protection de votre matériel. Protégez votre mot de passe pour les services et gardez votre information de compte à jour. Ne partagez pas l’information d’identification de votre compte et ne donnez pas accès à votre compte à d’autres personnes.
        <br><br>Vous pouvez utiliser nos services uniquement dans la mesure où la réglementation applicable le permet, y compris les lois et les règlements sur le contrôle des exportations.

        <br><br><h3 class="weight-400 letter-spacing-1">Logiciel</h3>
        Certains de nos services vous permettent de télécharger un logiciel client (« Logiciel »), lequel peut se mettre à jour automatiquement. Tant que vous respectez les présentes conditions, nous vous accordons une licence limitée, non exclusive, non transférable et révocable pour utiliser le logiciel, uniquement pour accéder aux services. Dans la mesure où tout composant du logiciel peut être offert sous une licence source ouverte, nous mettrons cette licence à votre disposition et les dispositions de cette licence peuvent expressément remplacer certaines des présentes conditions. Sauf si les restrictions suivantes sont interdites par la loi, vous acceptez de ne pas faire de l’ingénierie inverse ou de décompiler les services, de ne pas tenter de le faire, ni d’aider quiconque à le faire.

        <br><br><h3 class="weight-400 letter-spacing-1">Services bêta</h3>
        Nous publions parfois des produits et des fonctions que nous testons et évaluons encore (« Services bêta »). Les services bêta sont appelés « alpha », « bêta », « prévisualisation », « accès rapide » ou « évaluation » (ou avec des mots ou des expressions ayant une signification similaire) et peuvent ne pas être aussi fiables que les autres services de RNCan DataHub. BLes services bêta sont offerts afin que nous puissions recueillir les commentaires des utilisateurs, et en utilisant nos services bêta, vous acceptez que nous pourrions communiquer avec vous pour recueillir ces commentaires.

        <br><br>Les services bêta sont confidentiels jusqu’à leur lancement officiel. Si vous utilisez tout service bêta, vous acceptez de ne divulguer aucune information sur ces services à quiconque sans notre autorisation.

        <br><br><h3 class="weight-400 letter-spacing-1">Notre matériel</h3>
        Les services sont protégés par des droits d’auteur, des marques commerciales et d’autres lois américaines et étrangères.  Les présentes conditions ne vous accordent aucun droit, titre ou intérêt sur les services, le contenu d’autrui dans les services, les logos de RNCan DataHub et autres caractéristiques de marque. Nous apprécions vos commentaires, mais signalons que nous pouvons utiliser vos commentaires ou suggestions sans aucune obligation à votre égard.

        <br><br><h3 class="weight-400 letter-spacing-1">Droits d’auteur</h3>
        Nous respectons la propriété intellectuelle d’autrui et vous demandons de faire de même. Nous répondons aux avis de violation présumée des droits d’auteur s’ils sont conformes à la loi, et ces avis doivent être signalés en utilisant notre politique de droits d’auteur. WNous nous réservons le droit de supprimer ou de désactiver le contenu présumé en infraction et de fermer les comptes des contrevenants récidivistes.

        <br><br><h3 class="weight-400 letter-spacing-1">Comptes payés</h3>
        La facturation. Nous vous enverrons automatiquement une facture à tous les mois, si vous suivez un plan de paiement, ou nous nous attendons à un paiement rapide, si vous avez signé un protocole d’entente avec RNCan DataHub pour les services que vous utilisez. Vous êtes responsable de toutes les taxes applicables, et nous vous les facturerons lorsque nous sommes tenus de le faire.
        <br><br>Changements. Nous pouvons modifier les frais en vigueur, mais nous vous informerons à l’avance par un message à l’adresse électronique liée à votre compte.

        <br><br><h3 class="weight-400 letter-spacing-1">Résiliation</h3>
        YVous êtes libre de cesser d’utiliser nos services à tout moment. Nous nous réservons le droit de suspendre ou de mettre fin à votre accès aux services en vous en informant si:
        <br><br>(a) vous ne respectez pas les présentes conditions;
        <br><br>(b) votre utilisation des services entraînerait un risque réel de préjudice ou de perte pour nous ou pour d’autres utilisateurs; ou
        <br><br>(c) vous avez quitté RNCan ou n’avez pas eu accès à nos services pendant 12 mois consécutifs.
        <br><br>Nous vous donnerons un préavis raisonnable à l’adresse électronique liée à votre compte afin de remédier à l’activité qui nous incite à communiquer avec vous et de vous donner la possibilité d’exporter votre matériel de nos services. Si, après cet avis, vous ne prenez pas les mesures que nous vous demandons, nous mettrons fin ou suspendrons votre accès aux services.
        <br><br>Nous ne donnerons pas de préavis avant la résiliation si :
        <br><br>a) vous êtes en violation substantielle des présentes conditions;
        <br><br>(b) cela devait entraîner une responsabilité légale pour nous ou compromettre notre capacité à fournir les services à nos autres utilisateurs; ou
        <br><br>(c) la loi nous interdit de le faire.

        <br><br><h3 class="weight-400 letter-spacing-1">Interruption de services</h3>
        Nous pouvons décider d’interrompre les services en raison de circonstances imprévues hors du contrôle de RNCan DataHub ou pour nous conformer à une obligation juridique. Le cas échéant, nous vous donnerons un préavis raisonnable afin que vous puissiez exporter votre matériel de nos systèmes.

        <br><br><h3 class="weight-400 letter-spacing-1">Services « tels quels »</h3>
        Nous nous efforçons de fournir de bons services, mais il y a certaines choses que nous ne pouvons garantir. DANS TOUTE LA MESURE PERMISE PAR LA LOI, RNCAN DATAHUB ET SES SOCIETES AFFILIEES, FOURNISSEURS, ARCHITECTES, PROMOTEURS ET DISTRIBUTEURS NE DONNENT AUCUNE GARANTIE, EXPRESSE OU IMPLICITE, SUR LES SERVICES. LES SERVICES SONT FOURNIS « TELS QUELS ». NOUS DECLINONS EGALEMENT TOUTE GARANTIE DE QUALITE MARCHANDE, DE PERTINENCE A DES FINS PARTICULIERES ET D’ABSENCE DE CONTREFAÇON. Les clauses de non responsabilité du présent paragraphe n’étant pas autorisées à certains endroits, il est donc possible qu’elles ne vous concernent pas.
        <br><br>NOUS N’EXCLUONS NI NE LIMITONS NOTRE RESPONSABILITE ENVERS VOUS DANS LES CAS OU IL SERAIT ILLEGAL DE LE FAIRE – CELA INCLUT TOUTE RESPONSABILITE EN CAS DE FRAUDE OU DE DECLARATION FRAUDULEUSE DE LA PART DE RNCAN DATAHUB OU DE SES SOCIETES AFFILIEES DANS LE CADRE DE LA PRESTATION DES SERVICES. DANS LES PAYS OU LES TYPES D’EXCLUSIONS SUIVANTS NE SONT PAS AUTORISES, NOUS NE SOMMES RESPONSABLES ENVERS VOUS QUE DES PERTES ET DES DOMMAGES QUI SONT LE RESULTAT RAISONNABLEMENT PREVISIBLE DE NOTRE MANQUE DE DILIGENCE RAISONNABLE ET DE COMPETENCE OU DE NOTRE VIOLATION DE NOTRE CONTRAT AVEC VOUS. CE PARAGRAPHE N’A PAS D’INCIDENCE SUR LES DROITS DES CONSOMMATEURS QUI NE PEUVENT ETRE RENONCES OU LIMITES PAR UN CONTRAT OU UNE ENTENTE.
        <br><br>DANS LES PAYS OU LES EXCLUSIONS OU LES LIMITATIONS DE RESPONSABILITE SONT AUTORISEES, RNCAN DATAHUB, SES SOCIETES AFFILIEES, SES FOURNISSEURS OU SES DISTRIBUTEURS NE SERONT PAS TENUS RESPONSABLES DE CE QUI SUIT :
        <br><br>i. TOUT DOMMAGE INDIRECT, PARTICULIER, ACCESSOIRE, PUNITIF, EXEMPLAIRE OU CONSECUTIF; OU
        <br><br>ii. TOUTE PERTE D’UTILISATION, DE DONNEES, D’ACTIVITES OU DE PROFITS, QUELLE QUE SOIT LA THEORIE JURIDIQUE.
        <br><br>CES EXCLUSIONS OU LIMITATIONS S’APPLIQUERONT INDEPENDAMMENT DU FAIT QUE RNCAN DATAHUB OU L’UNE DE SES SOCIETES AFFILIEES AIT ETE OU NON AVERTI DE LA POSSIBILITE DE TELS DOMMAGES.
        <br><br>RNCAN DATAHUB, SES SOCIETES AFFILIEES, SES FOURNISSEURS, SES ARCHITECTES ET SES PROMOTEURS N’AURONT AUCUNE RESPONSABILITE ENVERS VOUS POUR TOUTE PERTE DE PROFITS, PERTE D’AFFAIRES, INTERRUPTION D’ACTIVITE OU PERTE D’OCCASION D’AFFAIRES.  RNCAN DATAHUB ET SES SOCIETES AFFILIEES NE SONT PAS RESPONSABLES DE LA CONDUITE, EN LIGNE OU HORS LIGNE, DE TOUT UTILISATEUR DES SERVICES.
        <br><br>OUTRE LES TYPES DE RESPONSABILITE QUE NOUS NE POUVONS PAS LIMITER PAR LA LOI (COMME ON LE DECRIT DANS LA PRESENTE SECTION), NOUS LIMITONS NOTRE RESPONSABILITE ENVERS VOUS AU MONTANT LE PLUS ELEVE DE 20 $ CAN.

        <br><br><h3 class="weight-400 letter-spacing-1">Aucun recours collectif</h3>
        Vous ne pouvez résoudre les litiges avec nous que sur une base individuelle et vous ne pouvez pas entamer une poursuite en tant que demandeur ou membre d’un groupe dans le cadre d’un recours collectif, d’instances réunies ou d’une action en justice représentative. Les arbitrages collectifs, les recours collectifs, les recours généraux d’un avocat privé et les regroupements avec d’autres arbitrages ne sont pas autorisés. Si ce paragraphe particulier est jugé inapplicable, alors l’ensemble de la présente section sera considéré comme nul.

        <br><br><h3 class="weight-400 letter-spacing-1">Loi applicable</h3>
        Les présentes conditions seront régies par la législation de l’Ontario, à l’exception des principes de conflit de lois. Cependant, en vertu de la loi de certains pays (y compris ceux de l’Union européenne), les ententes doivent être régies par la législation locale du pays du consommateur. Le présent paragraphe n’a pas préséance sur ces lois.

        <br><br><h3 class="weight-400 letter-spacing-1">Politique d’utilisation acceptable</h3>
        Le RNCan DataHub est utilisé par de nombreuses personnes au sein de l’organisation et nous sommes fiers de la confiance qui nous est accordée. En échange, nous vous faisons confiance pour utiliser nos services de manière responsable.
        <br><br>YVous acceptez de ne pas utiliser abusivement les services du RNCan DataHub (« Services ») ou d’aider quelqu’un d’autre à le faire. Par exemple, vous ne devez même pas essayer de faire ce qui suit en rapport avec les services :
        <br><br><ul>
            <li>sonder, scanner ou tester la vulnérabilité de tout système ou réseau;</li>
            <li>violer ou contourner de toute autre manière les mesures de sécurité ou d’authentification;</li>
            <li>accéder aux zones ou parties non publiques des services ou des zones partagées des services auxquelles vous n’avez pas été invité, ou les altérer ou les utiliser;</li>
            <li>interférer avec ou perturber tout utilisateur, hôte ou réseau, par exemple en envoyant sciemment un virus, une surcharge, une inondation;</li>
            <li>envoyer des communications, des promotions ou des publicités non sollicitées ou du pourriel;</li>
            <li>envoyer de l’information d’identification de la source altérée, trompeuse ou fausse, y compris par la « mystification » ou le « hameçonnage »;</li>
            <li>promouvoir ou faire la publicité de produits ou services autres que les vôtres sans autorisation appropriée;</li>
            <li>abuser des recommandations ou des promotions pour obtenir plus d’espace de stockage que ce que vous méritez ou pour vendre l’espace de stockage obtenu de recommandations ou de promotions;</li>
            <li>tourner les limites de l’espace de stockage;</li>
            <li>vendre les services, sauf avec une autorisation expresse;</li>
            <li>publier ou partager du matériel pornographique ou indécent illégal, ou qui renferme des actes de violence extrême ou une activité terroriste, y compris la propagande terroriste;</li>
            <li>préconiser le sectarisme ou la haine contre une personne ou un groupe de personnes sur la base de leur race, religion, ethnicité, sexe, genre, l’identité, l’orientation sexuelle, le handicap ou la déficience;</li>
            <li>harceler ou abuser le personnel de RNCan DataHub ou ses représentants ou agents offrant des services au nom de RNCan DataHub;</li>
            <li>enfreindre la loi de quelque façon que ce soit, y compris le stockage, la publication ou le partage de matériel frauduleux, diffamatoire, ou trompeur; ou</li>
            <li>violer la vie privée ou enfreindre les droits d’autrui.</li>
        </ul>
        <h3 class="weight-400 letter-spacing-1">Utilisation de fichiers situés dans des serveurs n’appartenant pas au gouvernement du Canada</h3>
        Pour améliorer la fonctionnalité de RNCan DataHub, certains fichiers (tels que les bibliothèques, les images et les scripts de source ouverte) peuvent être livrés automatiquement à votre navigateur par le truchement d’un serveur ou d’un réseau de diffusion de contenu d’un tiers de confiance.  La diffusion de ces fichiers vise à offrir une expérience utilisateur harmonieuse en accélérant les temps de réponse et en évitant à chaque visiteur de devoir télécharger ces fichiers. Selon le cas, des déclarations de confidentialité particulières visant ces fichiers sont incluses dans notre avis de confidentialité.
    </p>

    <h3 class="weight-400 letter-spacing-1">Fournir du contenu dans les langues officielles du Canada</h3>
    La Loi sur les langues officielles, le Règlement sur les langues officielles (Communications avec le public et prestation des services) et les exigences de la politique du Conseil du Trésor régissent l’utilisation du français et de l’anglais pour fournir des services ou communiquer avec les membres du public. Lorsqu’il n’y a pas d’obligation de procurer l’information dans les deux langues officielles, le contenu peut être offert dans une seule langue officielle.  Les renseignements fournis par les organismes non assujettis à la Loi sur les langues officielles le sont dans la ou les langues fournies. L’information fournie dans une langue autre que l’anglais ou le français est uniquement procurée pour aider nos visiteurs.

    <br><br><h3 class="weight-400 letter-spacing-1">Liens vers des sites Web n’appartenant pas au gouvernement du Canada</h3>
    Les liens vers les sites Web ne relevant pas de l’autorité de RNCan DataHub ou du gouvernement du Canada sont fournis uniquement pour aider les visiteurs de notre site Web. Nous ne sommes pas responsables de l’exactitude, l’actualité ou la fiabilité du contenu de ces sites Web. RNCan DataHub et le gouvernement du Canada n’offrent aucune garantie à cet égard et ne sont pas responsables des renseignements trouvés à ces liens et n’appuient pas ces sites ou leur contenu.
    <br><br>VLes visiteurs doivent aussi savoir que l’information procurée dans les sites n’appartenant pas au gouvernement du Canada dont les liens sont donnés dans le présent site n’est pas assujettie à la Loi sur la protection des renseignements personnels ni à la Loi sur les langues officielles et pourrait ne pas être accessible aux personnes handicapées. L’information pourrait être offerte uniquement dans la ou les langues utilisées dans les sites en question. En ce qui concerne la protection de la vie privée, les visiteurs doivent se renseigner sur les politiques de confidentialité de ces sites non gouvernementaux avant de fournir des renseignements personnels.

    <br><br><h3 class="weight-400 letter-spacing-1">Avis de marque</h3>
    Les symboles officiels de RNCan DataHub, y compris le mot-symbole DataHub, ne peuvent être reproduits, que ce soit à des fins commerciales ou non commerciales, sans autorisation écrite préalable.

    <br><br><h3 class="weight-400 letter-spacing-1">Notre engagement en matière d’accessibilité</h3>
    Le RNCan DataHub est engagé à offrir un haut degré d’accessibilité conformément à la Norme sur l’accessibilité des sites Web et la Norme sur l’optimisation des sites Web et des applications pour appareils mobiles. En cas de difficulté à utiliser nos pages Web, nos applications ou nos applications pour appareils mobiles, communiquez avec nous pour obtenir de l’aide ou d’autres formats, comme l’impression habituelle ou autre format approprié.

    <br><br><h3 class="weight-400 letter-spacing-1">Liens vers d’autres sites Web et annonces</h3>
    NLes comptes de RNCan DataHub peuvent afficher des liens ou des annonces pour des sites Web qui sont hors du contrôle de RNCan DataHub ou du gouvernement du Canada. Ces liens sont fournis uniquement pour aider les utilisateurs.  Le gouvernement n’est pas responsable des renseignements trouvés à ces liens ou dans ces annonces; il n’appuie pas non plus ces sites ni leur contenu.

    <br><br><h3 class="weight-400 letter-spacing-1">Commentaires et interaction</h3>
    Le RNCan DataHub lira les commentaires et participera aux discussions selon le cas. Vos commentaires et contributions doivent être pertinents et respectueux.
    <br><br>Le RNCan DataHub ne s’engagera pas dans des questions partisanes ou politiques et ne répondra pas à des questions qui enfreignent les présentes conditions générales.
    <br><br>Le RNCan DataHub se réserve le droit de supprimer des commentaires et des contributions, et de bloquer les utilisateurs sur la base de critères inappropriés.
    <br><br>Ces types de commentaires et contributions :
    <br><br><ul>
        <li>incluent des renseignements personnels;</li>
        <li>incluent des renseignements protégés ou classifiés du gouvernement du Canada;</li>
        <li>portent atteinte à la propriété intellectuelle ou aux droits de propriété;</li>
        <li>ne respectent pas les principes de la Charte canadienne des droits et libertés, de la Loi constitutionnelle de 1982;</li>
        <li>sont racistes, haineux, sexistes, homophobes ou diffamatoires, ou contiennent ou font référence à toute obscénité ou pornographie;</li>
        <li>sont menaçants, violents, intimidants ou harcelants;</li>
        <li>sont contraires à toute loi fédérale, provinciale ou territoriale du Canada;</li>
        <li>constituent une usurpation d’identité, de la publicité ou du pourriel;</li>
        <li>encouragent ou incitent toute activité criminelle;</li>
        <li>sont rédigés dans une langue autre que l’anglais ou le français;</li>
        <li>portent autrement atteinte au présent avis.</li>
    </ul>
    Le RNCan DataHub se réserve le droit de signaler les utilisateurs et/ou leurs commentaires et les contributions à des fournisseurs de services de médias sociaux tiers afin d’empêcher ou de supprimer l’affichage de contenu qui est contraire aux présentes conditions, ou aux conditions de service/utilisation de la plateforme de médias sociaux tiers.

    <br><br><h3 class="weight-400 letter-spacing-1">Accessibilité aux plateformes de médias sociaux</h3>
    Les plateformes de médias sociaux sont des fournisseurs de services tiers et ne sont pas liées par les normes du gouvernement du Canada en matière d’accessibilité du Web.

    <br><br><h3 class="weight-400 letter-spacing-1">Confidentialité</h3>
    Les comptes de médias sociaux ne sont pas des sites Web du gouvernement du Canada et ne représentent leur présence que sur des fournisseurs de services tiers.

    <br><br><h3 class="weight-400 letter-spacing-1">Entente intégrale</h3>
    Les présentes conditions constituent l’entente intégrale entre vous et RNCan DataHub ayant trait à l’objet des conditions et remplacent et annulent toute autre entente antérieure ou actuelle, ou conditions applicables à l’objet de ces conditions. Les présentes conditions ne créent aucun droit de bénéficiaire pour les tiers.

    <br><br><h3 class="weight-400 letter-spacing-1">Renonciation, dissociabilité et cession</h3>
    Le fait que RNCan n’applique pas une disposition ne constitue pas une renonciation à son droit de le faire plus tard. Si une disposition est jugée inapplicable, les autres dispositions des conditions resteront pleinement en vigueur et une clause exécutoire sera substituée, reflétant notre intention aussi étroitement que possible. Vous ne pouvez céder aucun de vos droits en vertu des présentes conditions, et toute tentative en ce sens sera nulle. Le RNCan DataHub peut céder ses droits à l’une de ses sociétés affiliées ou filiales, ou à tout successeur en intérêt de toute entreprise liée aux services.

    <br><br><h3 class="weight-400 letter-spacing-1">Modifications</h3>
    Nous pouvons réviser les présentes conditions de temps en temps pour mieux refléter :
    <br><br>(a) les modifications à la législation;
    <br><br>(b) de nouvelles exigences réglementaires; ou
    <br><br>(c) les améliorations ou perfectionnements apportés à nos services.
    <br><br>Si une mise à jour a une incidence sur votre utilisation des services ou vos droits légaux en tant qu’utilisateur de nos services, nous vous en informerons avant la date d’entrée en vigueur de la mise à jour en envoyant un courriel à l’adresse électronique liée à votre compte ou par le truchement d’un avis dans le produit. Ces conditions actualisées prendront effet au moins 30 jours après que nous vous en aurons informé.
    <br><br>Si vous n’acceptez pas les mises à jour que nous effectuons, veuillez annuler votre compte avant leur entrée en vigueur. Selon le cas, nous vous proposerons un remboursement proportionnel aux montants que vous avez prépayés pour les services et à la date d’annulation de votre compte. En continuant d’utiliser ou d’accéder aux services après l’entrée en vigueur des mises à jour, vous acceptez d’être lié par les conditions révisées.

</div>