@using Datahub.Core.Data
@inherits HtmlElement

<AuthorizeView Roles="@RoleConstants.DATAHUB_ROLE_ADMIN">
    <Authorized>
        <AeFlex Vertical>
            <div class="ae typography h4 ">@Localizer["Admin Actions"]</div>
            @if (ChildContent != null)
            {
                <AeFlex>
                @ChildContent
                </AeFlex>
            }
        </AeFlex>
    </Authorized>
</AuthorizeView>
@code {

}
