/* Error: Only 0 arguments allowed, but 1 was passed.
 *     ,--> Styles\Theme\_elemental-override.scss
 * 35  | @include table.styles('light');
 *     | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *     ,--> Styles\elemental-theme\table\_table.scss
 * 295 | @mixin styles {
 *     |        ====== declaration
 *     '
 *   Styles\Theme\_elemental-override.scss 35:1  styles()
 *   Styles\Theme\_elemental-override.scss 35:1  @use
 *   Styles\site.scss 3:1                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 0 arguments allowed, but 1 was passed.\a     \250c \2500 \2500 > Styles\\Theme\\_elemental-override.scss\a 35  \2502  @include table.styles('light');\d\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a     \250c \2500 \2500 > Styles\\elemental-theme\\table\\_table.scss\a 295 \2502  @mixin styles {\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501  declaration\a     \2575 \a   Styles\\Theme\\_elemental-override.scss 35:1  styles()\a   Styles\\Theme\\_elemental-override.scss 35:1  @use\a   Styles\\site.scss 3:1                        root stylesheet";
}
