/* Error: There is no module with the namespace "map".
 *    ,
 * 35 |     @if (map.get($options, 'paginationOptions')) {
 *    |          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   Styles\elemental-theme\pagination\_pagination.scss 35:10  configure()
 *   Styles\elemental-theme\_theme.scss 52:3                   custom()
 *   Styles\Theme\_elemental-override.scss 23:1                @use
 *   Styles\site.scss 3:1                                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There is no module with the namespace \"map\".\a    \2577 \a 35 \2502      @if (map.get($options, 'paginationOptions')) {\a    \2502           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   Styles\\elemental-theme\\pagination\\_pagination.scss 35:10  configure()\a   Styles\\elemental-theme\\_theme.scss 52:3                   custom()\a   Styles\\Theme\\_elemental-override.scss 23:1                @use\a   Styles\\site.scss 3:1                                      root stylesheet";
}
