<div class="nrcan-title">
    <p class="weight-400">Data Discovery &amp; Management Capabilities</p>
</div>
<div class="nrcan-content">
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_26.png" alt="Icon depicting a Data Catalog & Federated Search" />
        <p class="weight-400">Data Catalog & <br>Federated Search</p>
    </div>
    <div>
        <p>
            Automated cataloging for your data and the ability to manage the metadata around your dataset to make it more discoverable.
        </p>
    </div>
    <div class="list-points">            
        <img class="img-responsive list-icon" src="img/asset_33.png" alt="Icon depicting Data Stewardship Tools" />
        <p class="weight-400">Data Stewardship Tools</p>
    </div>
    <div>
        <p>
            Tools to help you manage, maintain and document your data for improved quality, usability and discoverability.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>

