<div class="nrcan-title">
    <p class="weight-400">Want to start building today?</p>
</div>
<div class="nrcan-content">
    <p class="dropcap">
        We are here to answer all of your questions.
    </p>
</div>
<div class="nrcan-image">
</div>
