$totalColumns: 12;

.ae.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    &.center {
        justify-content: center;
    }
}


@mixin columnMaxWidth ($width) {
    -ms-flex: 0 0 percentage($width/$totalColumns);
    flex: 0 0 percentage($width/$totalColumns);
    max-width: percentage($width/$totalColumns);
}

.ae.col, .ae.col-1, .ae.col-10, .ae.col-11, .ae.col-12, .ae.col-2, .ae.col-3, .ae.col-4, .ae.col-5, .ae.col-6, .ae.col-7, .ae.col-8, .ae.col-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1.5rem;
}

.ae.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.ae.col-1 {
    @include columnMaxWidth(1);
}

.ae.col-2 {
    @include columnMaxWidth(2);
}

.ae.col-3 {
    @include columnMaxWidth(3);
}

.ae.col-4 {
    @include columnMaxWidth(4);
}

.ae.col-5 {
    @include columnMaxWidth(5);
}

.ae.col-6 {
    @include columnMaxWidth(6);
}

.ae.col-7 {
    @include columnMaxWidth(7);
}

.ae.col-8 {
    @include columnMaxWidth(8);
}

.ae.col-9 {
    @include columnMaxWidth(9);
}

.ae.col-10 {
    @include columnMaxWidth(10);
}

.ae.col-11 {
    @include columnMaxWidth(11);
}

.ae.col-12 {
    @include columnMaxWidth(12);
}