
$ieNotSupportedOptions: (
    
    "default":( 

        ".ie-not-supported-message-wrapper": (
            "display": none,
        ),

        "&.show-message": (
            "width": 100%,
            "height": 100vh,
            "position": relative,

            ".ie-not-supported-message-wrapper": (
                "display": inline,
                "text-align": center,
                "position": absolute,
                "width": 60%,
                "max-width": 600px,
                "top": 50%,
                "left": 50%,
                "transform": translate(-50%, -50%),    
                "-webkit-animation": fadein 10s, /* Safari, Chrome and Opera > 12.1 */
                "-moz-animation": fadein 10s, /* Firefox < 16 */
                "-o-animation": fadein 10s, /* Opera < 12.1 */
                "animation": fadein 10s,

                ".ie-not-supported-icon": (
                    "width": 100%, 
                    "text-align": center
                ),
                ".ie-not-supported-title":(
                    "margin": 16px 0
                ),
                ".ie-not-supported-message":(
                    "margin": 16px 0
                ),        
            ),
            ".ie-not-supported-child": (
                "display": none
            )
        ),
    ),
) !default

.ae.ie-not-supported {
    @include set-variations($ieNotSupportedOptions);
}

//purposly not included this for internet explorer
//-ms-animation: fadein 2s, /* Internet Explorer */