@import 'constants';
@import 'utils';

$sideNavWidth: 250px !default;
$topNavHeight: 48px !default;

$layoutOptions: (
    "display": flex,

    ".ae.side-nav":(
        "width": $sideNavWidth,
        "height": 100vh,
        "position": sticky,
        "top": 0,
    ),
    ".ae.content-wrapper":(
        "display": flex,
        "flex-direction": column,
        "flex-grow": 1,
        ".ae.top-nav": (
            "height": $topNavHeight,
            "position": sticky,
            "top": 0,
            "z-index": 10,
        ),
        "&.has-side-nav":(
        ),
    ),
) !default;


.ae.layout {
    @include set-values($layoutOptions);
}