    @import 'colors';
    @import 'constants';
    @import 'box-shadow';
    @import 'utils';

$treeViewOptions: ( 
    "default":( 
        "list-style-type": none,
        "margin": 0,
        "padding": 0,
        ".tree-view-item": (
            "list-style-type": none,
            "margin-bottom": 8px,
        ),
        ".nested": (
            "display": none,
        ),
        ".active": (
            "display": block,
            "padding-left": 25px,
            "margin-left": 15px,
            "border-left": 1px solid $grey-400
        ),
        ".tree-view-item-content" :(
            "display": flex,
            "align-items": center
        ),
        ".caret": (
            "padding": 4px 8px,
            "cursor": pointer,

        "&:hover": (
            "background-color": $grey-200
        )
    ),
    ".tree-view-icon" : (
    
            "margin-right": 8px,
    ),
        ".checkbox-region" : (
            "width" : 16px,
            "height": 16px,
            "border": 1px solid $grey-500,
            "display": flex,
            "align-items": center,
            "justify-content": center,
            "text-align": center,
            "margin-right": 8px,
            "&:hover": (
                    "background-color": $grey-200
            )

        
    ),
    ".tree-view-node-text" : (
        "padding": 4px 8px,
        "&.clickable" : (
            "cursor": pointer,
                 "&:hover": (
                        "background-color": $grey-200
                    ),
        ),
        "&.bold" : (
            "font-weight": bold
        ),
    ),
    )
) !default;

.ae.tree-view {
    @include set-variations($treeViewOptions);
}