@using NRCan.Datahub.Metadata.Model
@using NRCan.Datahub.Metadata.DTO

@if (Definitions != null && FieldValues != null)
{
    <div style="margin: 10px">

        @foreach (var definition in Definitions.Fields)
        {
            var fieldValue = GetFieldValue(definition.FieldDefinitionId, Preview);

            if (fieldValue != null)
            {
                <MetadataFieldEditor Preview="Preview"
                                     Required="IsFieldRequired(definition)"
                                     FieldValue="fieldValue"
                                     FieldDefinition="definition"
                                     FieldLabel="@definition.Name"
                                     OnFieldChanged="FieldChanged" />
            }
        }

    </div>
}

@code {

    [Parameter]
    public bool Preview { get; set; }

    [Parameter]
    public FieldDefinitions Definitions { get; set; }

    [Parameter]
    public HashSet<string> RequiredFields { get; set; }

    [Parameter]
    public FieldValueContainer FieldValues { get; set; }

    [Parameter]
    public EventCallback<ObjectFieldValue> OnFieldChanged { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task FieldChanged(ObjectFieldValue field)
    {
        if (string.IsNullOrEmpty(field.Value_TXT))
        {
            FieldValues.Remove(field);
        }
        else if (!FieldValues.Contains(field))
        {
            FieldValues.Add(field);
        }
        await OnFieldChanged.InvokeAsync(field);
    }

    private ObjectFieldValue GetFieldValue(int definitionId, bool preview)
    {
        var field = FieldValues.FirstOrDefault(f => f.FieldDefinitionId == definitionId);
        if (!preview)
            return field ?? new ObjectFieldValue() { FieldDefinitionId = definitionId };
        else
            return field;
    }

    private bool IsFieldRequired(FieldDefinition definition)
    {
        var required = RequiredFields?.Contains(definition.Field_Name_TXT);
        return required.HasValue ? required.Value : definition.Required_FLAG;
    }
}
