@*ObjectMetadataEditor.razor*@
@using Datahub.CKAN.Service
@using Datahub.Metadata.Model
@using Datahub.Metadata.DTO

<div>
@if (_fieldValues != null)
{
    <MetadataEditor Preview=@_preview
                    Definitions=@_definitions
                    FieldValues=@_fieldValues
                    RequiredFields=@_requiredFields
                    HiddenFields=@_hiddenFields
                    OnFieldChanged=@FieldChanged />
    <AeFlex>
        <AeButton OnClickEvent=@SaveChanges Disabled=@_disableSave>
            @SaveButtonLabel
        </AeButton>
        <div>
            @if (_savingData)
            {
                <Spinner Small=@true/>
            }
        </div>
    </AeFlex>
}
</div>

@code {

    [Inject]
    public IMetadataBrokerService MetadataBrokerService { get; set; }

    /// <summary>
    /// Object ID to edit or add metadata
    /// </summary>
    [Parameter]
    public string ObjectId { get; set; }

    [Parameter]
    public string SaveButtonLabel { get; set; } = "Save";

    [Parameter]
    public EventCallback<FieldValueContainer> OnSave{ get; set; }

    private FieldDefinitions _definitions;
    private FieldValueContainer _fieldValues;
    private bool _preview;
    private bool _savingData;
    private bool _disableSave = true;

    private HashSet<string> _requiredFields = new() 
    {
        "collection",
        "title_translated_en",
        "title_translated_fr",
        "owner_org",
        "notes_translated_en",
        "notes_translated_fr",
        "keywords_en",
        "keywords_fr",
        "subject",
        "frequency",
        "date_published",
        "jurisdiction",
        //"license_id",
        "restrictions"
    };

    private HashSet<string> _hiddenFields = new() 
    { 
        "imso_approval", 
        "ready_to_publish" 
    };

    protected override async Task OnInitializedAsync()
    {
        _fieldValues = await MetadataBrokerService.GetObjectMetadataValues(ObjectId);
        _definitions = _fieldValues.Definitions;
        _disableSave = !CheckRequiredFieldValues();
    }

    public string GetTitle()
    {
        return _fieldValues["title_translated_en"]?.Value_TXT ?? string.Empty;
    }

    public void TogglePreview()
    {
        _preview = !_preview;
        StateHasChanged();
    }

    private bool CheckRequiredFieldValues()
    {
        return _fieldValues?.ValidateRequired(IsFieldRequired) == true;
    }

    private bool IsFieldRequired(FieldDefinition field)
    {
        return _requiredFields.Contains(field.Field_Name_TXT);
    }

    private async Task SaveChanges()
    {
        _savingData = true;
        try
        {
            await MetadataBrokerService.SaveMetadata(_fieldValues);
            await OnSave.InvokeAsync(_fieldValues);
        }
        finally
        {
            _savingData = false;
        }
        await InvokeAsync(StateHasChanged);
    }

    private void FieldChanged()
    {
        _disableSave = !CheckRequiredFieldValues();
    }
}
