@using Datahub.Portal.Services.Notification

<p>Thank you for collaborating with the DataHub team. There is one last step before your DataHub initiative ‘@ApplicationParameters.App.Product_Name’ is ready.</p>

<p>You will need to review and validate the information for your initiative using the following link:</p>

<p>@ApplicationParameters.AppUrl</p>

<p>This information is used by DataHub to maintain a catalog of key assets, such as Power BI reports, Databricks notebooks, etc., generated during the engagement and allows your initiative to be searchable in the catalog.</p>

<p>If you have any questions regarding the form, please contact the DataHub team at <a href="mailto:datahub@nrcan-rncan.gc.ca">datahub@nrcan-rncan.gc.ca</a></p>

<p>Thanks</p>

<hr />

<p>Merci de collaborer avec l'équipe DataHub. Il reste une dernière étape avant que votre initiative DataHub ‘@ApplicationParameters.App.Product_Name’ ne soit prête.</p>
<p>Thank you for collaborating with the DataHub team. There is one last step before your DataHub initiative ‘@ApplicationParameters.App.Product_Name’ is ready.</p>

<p>Vous devrez examiner et valider les informations relatives à votre initiative en utilisant le lien suivant :</p>
<p>You will need to review and validate the information for your initiative using the following link:</p>

<p>@ApplicationParameters.AppUrl</p>

<p>Ces informations sont utilisées par DataHub pour maintenir un catalogue d'actifs clés, tels que des rapports Power BI, des blocs-notes Databricks, etc., générés lors de l'engagement et permettent à votre initiative d'être consultable dans le catalogue.</p>

<p>Si vous avez des questions concernant le formulaire, veuillez contacter l'équipe DataHub à <a href="mailto:datahub@nrcan-rncan.gc.ca">datahub@nrcan-rncan.gc.ca</a></p>

<p>Merci</p>
<p>This information is used by DataHub to maintain a catalog of key assets, such as Power BI reports, Databricks notebooks, etc., generated during the engagement and allows your initiative to be searchable in the catalog.</p>

<p>If you have any questions regarding the form, please contact the DataHub team at <a href="mailto:datahub@nrcan-rncan.gc.ca">datahub@nrcan-rncan.gc.ca</a></p>



<p>
    <strong>DataHub Team | L’équipe DataHub</strong><br />
    Corporate Management and Services Sector | Secteur de la gestion et des services intégrés<br />
    Natural Resources Canada / Government of Canada | Ressources naturelles Canada / Gouvernement du Canada<br />
    datahub@nrcan-rncan.gc.ca
</p>

@code {

    [Parameter]
    public OnboardingParameters ApplicationParameters { get; set; }

}
