@namespace Datahub.Core.Templates

<p>Good day,</p>
<p>The business owner @ApplicationParameters.BusinessOwner has requested the creation of the team: @ApplicationParameters.TeamName</p>

<p>The application was submitted by the following email address: @ApplicationParameters.SubmitterEmaill</p>

@code {

    [Parameter]
    public M365FormsParameters ApplicationParameters { get; set; }

}
