@namespace Datahub.Core.Templates

<p>Good day, </p>
<p>We have received your onboarding applictaion</p>

<p>Thanks</p>




@code {

    [Parameter]
    public OnboardingParameters ApplicationParameters { get; set; }

}
