
@namespace Datahub.Core.Templates

<p>Good day, </p>
<p>We have a new onboarding request </p>
<p>Please click the following link to view the application: @ApplicationParameters.AppUrl</p>
<p>This email was sent out by @ApplicationParameters.App.Client_Contact_Name for the project @ApplicationParameters.App.Project_Name</p>
<p>The project description is: @ApplicationParameters.App.Project_Summary_Description</p>

@code {

    [Parameter]
    public OnboardingParameters ApplicationParameters { get; set; }

}
