@using Datahub.Portal.Data.PIP
@inject IStringLocalizer DataLocalizer
@inject PIPDBContext Context


<h2>Selected Program</h2>
<AeTable Accessors="accessorFunctionsPip"
         T="PIP_Tombstone"
         Dataset="_tombstones"
         Headers="pipheaders"
         GridTemplateColumns="4fr 8fr"
         MaxHeight="200" />


@code {

    [Parameter]
    public string tombstone { get; set; }

    private List<PIP_Tombstone> _tombstones;

    protected override async Task OnInitializedAsync()
    {
        // load projects
        _tombstones = Context.Tombstones.Where(p => p.Tombstone_ID == Convert.ToInt32(tombstone)).ToList();        
    }


    private List<string> pipheaders = new List<string>
{
        "Title","Official Title"
    };

    private List<Func<PIP_Tombstone, string>> accessorFunctionsPip = new List<Func<PIP_Tombstone, string>>
{
        new Func<PIP_Tombstone, string>(p => { return p.Program_Title; }),
        new Func<PIP_Tombstone, string>(p => { return p.Program_Official_Title; }),
    };


}
