@page "/ContactFr"

<div class="swiper-slide alt-bg" style="padding: 2rem;">
    <div class="nrcan-title">
        <p class="weight-400">Communiquez avec nous</p>
    </div>
    <div class="nrcan-content font-dark-grey">
        <div class=" text-center">
            <p>Communiquez avec nous pour une consultation gratuite.  <br>Communiquez avec nous, et nous vous aiderons à démarrer le plus rapidement possible.</p>        <br>
            <a href="mailto:Datahub.rncan@canada.ca?subject=Salut l’équipe DataHub" class="btn btn-blue2 btn-sm">Allons-y!</a>
            <br><br>
            <p>
                <span class="block"><h4 class="font300 margin-top-20">Heures de soutien</h4></span>
                <span class="block"><strong>Lundi – vendredi:</strong> &nbsp;&nbsp;&nbsp;&nbsp;9h - 17h HNE</span>
            </p>
            <br>
            <img src="img/support_team.png" alt="Support Team" />
        </div>
    </div>
</div>
