<div class="nrcan-title">
    <p class="weight-400">Scientifiques des données</p>
</div>
<div class="nrcan-content font-dark-grey">
    <p class="dropcap">
        <br>Pour résoudre des problèmes commerciaux complexes à l’aide de l’analyse, vous avez besoin de technologies nouvelles et émergentes pour effectuer le travail.  Vous n’avez pas beaucoup de temps pour créer et configurer des environnements si vous souhaitez rester souple et concentré sur la tâche à accomplir.  DataHub peut vous aider à cet égard.
        <br><br>
        Le RNCan DataHub vous permettra d’apporter vos propres algorithmes, images machines et données à utiliser avec les outils et les technologies d’analyse les plus prisés.
    </p>
</div>
<div class="nrcan-image">
    <img src="img/data_scientist.png" alt="Scientifiques des données" />
</div>
