
<div class="nrcan-title">
    <p class="weight-400">Professionnels des affaires</p>
</div>
<div class="nrcan-content font-dark-grey">
    <p class="dropcap">
        Afin d’offrir une valeur à l’organisation, vous comptez sur l’utilisation des services de GI/TI pour accomplir vos tâches quotidiennes.  Lorsque vous créez une stratégie, travaillez aux priorités ou élaborez des plans, vous avez besoin d’outils d’intelligence d’affaires pour vous aider à prendre des décisions reposant sur des données probantes.
        <br><br>
        Le RNCan DataHub est conçu de façon à rendre vos données facilement accessibles et vous donner rapidement de l’information pour la prise de décisions.
    </p>
</div>
<div class="nrcan-image">
    <img class="img-responsive" src="img/business_person.png" alt="Professionnels des affaires" />
</div>
