<div class="nrcan-title">
    <p class="weight-400">Qu’est-ce que DataHub?</p>
</div>
<div class="nrcan-content">
    <p class="dropcap">
        Une <b>plateforme d’entreprise</b> de confiance à RNCan pour stocker et utiliser des données ainsi que pour collaborer à des initiatives.
        <br><br>Cela inclut:
    </p>
    <ul class="list-icons">
        <li>
            <i class="img-responsive list-icon"><img src="img/asset_3.png" alt="Icon depicting mobile phone" /></i>
            <span>
                Procurer un environnement commun et intégré pour travailler avec les données, y compris une interface intuitive et des fonctions conçues pour la convivialité, la collaboration et la mobilité.
            </span>
        </li>
        <li>
            <i class="img-responsive list-icon"><img src="img/dash.png" alt="Icon depicting Business Intelligence dashboard" /></i>
            <span>
                Réduire les obstacles au recours aux derniers outils, cadres et technologies de pointe en matière d’intelligence d’affaires et d’analyse.
            </span>
        </li>
        <li>
            <i class="img-responsive list-icon"><img src="img/security.png" alt="Icon depicting a security shield" /></i>
            <span>
                Procurer une gestion sécurisée des données de bout en bout, y compris le catalogage automatique et la recherche fédérée, pour permettre aux utilisateurs de protéger les biens sensibles tout en continuant à collaborer à des initiatives en matière de données.
            </span>
        </li>
        <li>
            <i class="img-responsive list-icon"><img src="img/asset_38.png" alt="Icon depicting a cloud raining down data" /></i>
            <span>
                Permettre aux utilisateurs de raconter des histoires de données, de travailler avec de volumineux ensembles de données, d’effectuer des analyses et d’essayer de nouvelles technologies.
            </span>
        </li>
    </ul>
</div>
<div class="nrcan-image">
</div>
