<div class="nrcan-title">
    <p class="weight-400">Cadres supérieurs</p>
</div>
<div class="nrcan-content font-dark-grey">
    <p class="dropcap">
        Il n’est pas facile d’établir l’orientation de l’organisation et d’appuyer les décisions avec des données probantes. Vous avez besoin de données et d’outils fiables et sûrs à portée de main pour évoluer avec les affaires.
        <br><br>
        Le RNCan DataHub hébergera et optimisera vos données tout en vous donnant accès à des outils prisés d’intelligence d’affaires comme Microsoft Power BI et Tableau.  Partagez des documents, des fichiers et des données à tout moment avec vos équipes ou autres dirigeants de l’organisation.
        <br><br><a href="ContactFr" class="btn btn-blue2 btn-sm" title="Link to Contact Us Page">Commencez dès aujourd’hui</a>
    </p>
</div>
<div class="nrcan-image">
    <img class="img-responsive" src="img/Executive.png" alt="Cadres supérieurs" />
</div>
