
<div class="nrcan-title">
    <p class="weight-400">Science des données et analyse</p>
</div>
<div class="nrcan-content">
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_28.png" alt="Icon depicting AI and Machine Learning" />
        <p class="weight-400">IA et apprentissage machine</p>
    </div>    
    <div>
        <p>
            Démarrez rapidement en utilisant des machines virtuelles (MV) et des conteneurs Docker avec cadres préconfigurés. La compatibilité pour le recours à votre propre algorithme et aux MV d’apprentissage machine personnalisées sera bientôt offerte.
        </p>
    </div>
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_34.png" alt="Icon depicting Model Management" />
        <p class="weight-400">Gestion des modèles</p>
    </div>
    
    <div>
        <p>
            Gestion simplifiée des modèles et des algorithmes, y compris le versionnage ponctuel, le suivi des ensembles de données et des attributs des modèles, l’optimisation des hyperparamètres et le déploiement rapide des points finaux.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>

