<div class="nrcan-title">
    <p class="weight-400">Capacités de recherche et de gestion des données</p>
</div>
<div class="nrcan-content">
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_26.png" alt="Icon depicting a Data Catalog & Federated Search" />
        <p class="weight-400">Catalogue de données et recherche fédérée</p>
    </div>
    <div>
        <p>
            Catalogage automatisé de vos données et possibilité de gérer les métadonnées autour de votre ensemble de données afin de les rendre plus accessibles.
        </p>
    </div>
    <div class="list-points">            
        <img class="img-responsive list-icon" src="img/asset_33.png" alt="Icon depicting Data Stewardship Tools" />
        <p class="weight-400">Outils d’intendance des données</p>
    </div>
    <div>
        <p>
            Des outils pour vous aider à gérer, maintenir et documenter vos données afin d’en améliorer la qualité, la convivialité et la facilité d’accès.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>

