
<div class="nrcan-title">
    <p class="weight-400">Science des données et analyse</p>
</div>
<div class="nrcan-content">
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_30.png" alt="Icon depicting Integrated Development Environments (IDEs)" />
        <p class="weight-400">Environnements de développement intégré (EDI)</p>
    </div>
    <div>
        <p>
            Compatible avec des environnements prisés de développement de science des données (p. ex., Knime, Jupyter Notebook, Spyder) pour collaborer et travailler avec vos langages (p. ex., R, Python, SQL) et technologies (p. ex., TensorFlow, Mxnet, PyTorch) préférés.
        </p>
    </div>
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_29.png" alt="Icon depicting High Performance Compute" />
        <p class="weight-400">Calcul de haute performance</p>
    </div>
    <div>
        <p>
            Accès à des instances de calcul avec unité de traitement graphique spécialisé, massivement parallèles et hautement performantes pour accélérer la formation sur les algorithmes et vos modèles.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>

