<div class="nrcan-title">
    <p class="weight-400">Vous souhaitez l’essayer?</p>
</div>
<div class="nrcan-content">
    <p class="dropcap">
        Communiquez avec nous pour créer un compte.
        
        <br><br><a href="ContactFr" class="btn btn-primary btn-lg" title="Link to Contact Us Page">Allons-y!</a>
    </p>
</div>
<div class="nrcan-image">
</div>
