<div class="wb-frmvld">
    <form action="@Action" method="@Method" id="@Id" >
        @ChildContent
    </form>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string Action { get; set; }
    [Parameter]
    public string Method { get; set; }
}