@using Datahub.PIP.Data
@inject IStringLocalizer DataLocalizer
@inject PIPDBContext Context

<h2>Associated Risks</h2>
<AeTable Accessors="accessorFunctionsRisks"
         Renderers="RenderFunctions"
         T="PIPRisks"
         Dataset="IndicatorRisks"
         Headers="riskheaders"
         GridTemplateColumns="1fr 4fr 7fr"
         MaxHeight="200"
         OnRowClick="@OnToggleRisk" />


@code {

    [Parameter]
    public List<PIPRisks> IndicatorRisks { get; set; }

    [Parameter]
    public List<Func<PIPRisks, RenderFragment>> RenderFunctions { get; set; }

    [Parameter]
    public EventCallback<PIPRisks> ToggleRisk { get; set; }

    private List<string> riskheaders = new List<string>
{
        "Active", "Risk Id","Description"
    };

    private List<Func<PIPRisks, string>> accessorFunctionsRisks = new List<Func<PIPRisks, string>>
{
        new Func<PIPRisks, string>(p => { return string.Empty; }),
        new Func<PIPRisks, string>(p => { return p.RiskIdTXT; }),
        new Func<PIPRisks, string>(p => { return p.RiskDescriptionTXT; }),
    };


    private Task OnToggleRisk(PIPRisks risk)
    {
        return ToggleRisk.InvokeAsync(risk);
    }

   
}
