@page "/metadata/definitions"

@inject ServiceAuthManager ServiceAuthManager
@inject IUserInformationService _userInformationService

<DHPageTitle PageTitleKey=@Localizer["Metadata Definitions"] />
<AuthorizeView Roles="@string.Join(',', _authorizedRoles)">
    <Authorized>
        <div style="margin: 2rem">
            <AeTypography Variant="h2">Metadata</AeTypography>
            <AeCard>
                <ChildContent>
                    <AeTypography Variant="h3">@Localizer["Definitions"]</AeTypography>
                    <MetadataDefinitionList />
                </ChildContent>
            </AeCard>
            <div>&nbsp;</div>
            <AeCard>
                <ChildContent>
                    <AeTypography Variant="h3">@Localizer["Profiles"]</AeTypography>
                    <MetadataProfileList />
                </ChildContent>
            </AeCard>
        </div>
    </Authorized>
    <NotAuthorized>
        @Localizer["You are not authorized to edit metadata."]
    </NotAuthorized>
</AuthorizeView>

@code {

    private List<string> _authorizedRoles = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        var user = await _userInformationService.GetCurrentGraphUserAsync();
        _authorizedRoles = ServiceAuthManager.GetAdminProjectRoles(user.Id);
    }
}
