@using Datahub.Portal.Pages.Project
@using Datahub.Core.Model.Projects

@inject IDbContextFactory<DatahubProjectDBContext> _dbContextFactory

@if (_projects == null)
{
    <div style="display: flex; gap: 1rem;">
        <Skeleton Width="400px" Height="250px"/>
        <Skeleton Width="400px" Height="250px"/>
    </div>
}
else
{
    <div class="featured-projects-container">
        @foreach (var datahubProject in _projects)
        {
            <FeaturedProject Project="datahubProject"/>
        }
    </div>
}


@code {

    [CascadingParameter(Name = "GraphUser")]
    public Microsoft.Graph.Models.User User { get; set; }

    private List<Datahub_Project> _projects;

    protected override async Task OnInitializedAsync()
    {
        await using var dbContext = await _dbContextFactory.CreateDbContextAsync();
        _projects = await dbContext.Project_Users
            .Where(u => u.User_ID == User.Id)
            .Select(u => u.Project)
            .ToListAsync();
    }


}