@page "/project/{ProjectAcronym}/filelist"
@inject IStringLocalizer<FileList> Localizer
@inject IDbContextFactory<DatahubProjectDBContext> DbFactoryProject
@inject IApiService ApiService

<div style="padding-left: 2rem;padding-right: 2rem;padding-bottom: 2rem">
    <AeFlex Vertical>
        <AeTypography Variant="h2">@Localizer["Storage Explorer"]</AeTypography>
    </AeFlex>
    <AeCard>
        <Header>
            <AeTypography>@_project.ProjectName</AeTypography>
        </Header>
        <ChildContent>
            <FileGrid CurrentFolder="null" CanAddData="true" Project="@ProjectAcronym" />
        </ChildContent>
    </AeCard>

</div>

<div style="padding-left: 2rem;padding-right: 2rem">
        <AeCard>
        <Header>
            <AeTypography>AzCopy Access</AeTypography>
        </Header>
        <ChildContent>
                <div style="margin-bottom: 10px">
                    @if (_tempToken is null)
                    {
                        <div>Request SAS Token for 14 days <AeButton OnClickEvent="() => GenerateSASToken(14)">Generate Token</AeButton></div>
                    }
                    else
                    {
                        <div>SAS Token for 14 days: </div>
                        <div>@_tempToken</div>
                    }
                </div>                
        </ChildContent>
    </AeCard>

</div>

<div>
    <Resources PageName="Use-AzCopy-to-Interact-with-Azure-Storage-Account" Substitutions="_substitutions" />
</div>

<div>
    <Resources PageName="Datahub-AzureStorage" />
</div>

@code {

    [Parameter]
    public string ProjectAcronym { get; set; }

    private Datahub_Project _project;

    private List<(string, string)> _substitutions;

    private string? _tempToken;

    protected override void OnInitialized()
    {
        using var projectContext = DbFactoryProject.CreateDbContext();
        _project = projectContext.Projects.Single(p => p.Project_Acronym_CD == ProjectAcronym);        
    }

    private async Task GenerateSASToken(int days)
    {
        var uri = await ApiService.GetUserDelegationSasBlob(null, ProjectAcronym.ToLower(), 14);
        _tempToken = uri.ToString();
        _substitutions = new List<(string, string)>() { ("<sas_uri>",_tempToken) };
        StateHasChanged();
    }


}
