@inherits LayoutComponentBase
@layout Datahub.Core.Layout.MainLayout

@Body
<div class="add-data-wrapper">
    <Datahub.Portal.Pages.AddDataPage DummyParam="@Guid.NewGuid().ToString()"></Datahub.Portal.Pages.AddDataPage>
</div>
