@inherits LayoutComponentBase
@layout NRCan.Datahub.Shared.Layout.MainLayout

@Body
<div class="add-data-wrapper">
    <NRCan.Datahub.Portal.Pages.AddDataPage DummyParam="@Guid.NewGuid().ToString()"></NRCan.Datahub.Portal.Pages.AddDataPage>
</div>
