Notice - Inactive workspace ({ws}) / Espace de travail inactif ({ws})
<p>
    Your workspace <a href="https://federal-science-datahub.canada.ca/w/{ws}">{ws}</a> has been inactive for {inactive} days. <b>If no user in this workspace logs in within {remaining} days, the workspace will be deleted.</b> If you would like to disable this policy on your workspaces, please contact us.
</p>
<p>
    Votre espace de travail <a href="https://federal-science-datahub.canada.ca/w/{ws}">{ws}</a> est inactif depuis {inactive} jours. <b>Si aucun utilisateur de cet espace de travail ne se connecte dans les {remaining} prochains jours, l'espace de travail sera supprimé.</b> Si vous souhaitez désactiver cette politique sur vos espaces de travail, veuillez nous contacter.
</p>  