Federal Science DataHub (FSDH) Account Created - Création d’un compte Centre de données scientifiques fédéral (CDSF)
<p>This is a system-generated email message. Do not reply to sender.</p>
<p>Your Federal Science DataHub (FSDH) account has been created. To get started, please follow the steps in the <a href="https://ssc-sp.github.io/datahub-docs/#/UserGuide/">Federal Science DataHub User Guide</a>.</p>
<p>Federal Science DataHub Team</p>

<p>Il s’agit d’un message électronique généré par le système. Ne répondez pas à l’expéditeur.</p>  
<p>Votre compte Centre de données scientifiques fédéral (CDSF) a été créé. Pour commencer, veuillez suivre les étapes décrites dans <a href="https://ssc-sp.github.io/datahub-docs/#/fr/UserGuide/">le Guide de l’utilisateur du Centre de données scientifiques fédéral</a>.</p>  
<p>Équipe du Centre de données scientifiques fédéral</p>