@use '../common' as c;

$buttonOptions: ( 
    "default": (
        "position": relative,
        "display": inline-block,
        "padding": .25rem 1rem,
        "border-radius": 2px,
        "line-height": 1.5,
        "font-size": 0.8rem,
        "font-weight": 400,
        "white-space": nowrap,
        "text-align": center,
        "border": none,
        "transition": all .3s c.$cubic-bezier,
        "cursor": pointer,
        "color": c.$white,
        "background-color": c.$gray-600,
        "border-color": c.$gray-600,
        "&:hover": (
            "background-color": c.$gray-700,
            "border-color": c.$gray-700,
        ),
    ),
    "dark": (
        "background-color": c.$gray-800,
        "border-color": c.$gray-800,
        "&:hover": (
            "background-color": c.$gray-700,
            "border-color": c.$gray-700,
        ),
    ),
    "light": (
        "color": c.$gray-600,
        "background-color": c.$gray-100,
        "border-color": c.$gray-100,
        "&:hover": (
            "background-color": c.$gray-300,
            "border-color": c.$gray-300,
        ),
    ),
    "blue": (
        "background-color": c.$blue-600,
        "border-color": c.$blue-600,
        "&:hover": (
            "background-color": c.$blue-700,
            "border-color": c.$blue-700,
        ),
    ),
    "red": (
        "background-color": c.$red-600,
        "border-color": c.$red-600,
        "&:hover": (
            "background-color": c.$red-700,
            "border-color": c.$red-700,
        ),
    ),
    "submitbutton": (
        "background-color": c.$borderblue,
        "border-color": c.$borderblue,
        "border": none,
        "padding": 10px 20px,
        "text-align": center,
        "text-decoration": none,
        "display": inline-block,
        "margin": 4px 2px,
        "cursor": pointer,
        "border-radius": 16px,
        "font-size": smaller,
    ),
    "cancelbutton": (
        "background-color": c.$white,
        "border-color": c.$white,
        "color": c.$baseBlack,
        "border": none,
        "padding": 10px 20px,
        "text-align": center,
        "text-decoration": none,
        "display": inline-block,
        "margin": 4px 2px,
        "cursor": pointer,
        "border-radius": 16px,
        "font-size": smaller,
    ),
    "disabled": (
        "opacity": .5,
        "cursor": not-allowed
    )
);


