@use '../common' as c;

$cardOptions: (
  'default': (
    'position': relative,
    'border-radius': 2px,
    'border': 1px solid,
    'margin-right': 16px,
    'box-shadow': c.$box-shadow-card,
    'padding-top': 12px,
    'padding-left': 12px,
    'transition': all 0.3s c.$cubic-bezier,
    'background-color': c.$white,
    'border-color': c.$grey-200,
    '&:hover': (
      'box-shadow': c.$box-shadow-1,
    ),
    '.ae.card-header': (
      'display': flex,
      'font-weight': bold,
      'border-bottom': 1px solid,
      'padding': 1.25rem,
      'border-color': c.$grey-200,
    ),
    '.ae.card-content': (
      'padding-left': 1.25rem,
//'padding': 1.25rem,
    ),
    '.ae.card-footer': (
      'display': flex,
      'border-top': 1px solid,
      'border-color': c.$grey-200,
      'padding': 1.25rem,
    ),
  ),
  'small': (
    '.ae.card-header': (
      'padding': 0.75rem,
    ),
    '.ae.card-content': (
      'padding': 0.75rem,
    ),
    '.ae.card-footer': (
      'padding': 0.75rem,
    ),
  ),
  'horizontal': (
    'display': flex,
    '.ae.card-header': (
      'width': 20%,
      'display': flex,
      'align-items': center,
      'justify-content': center,
      'font-size': 5rem,
    ),
    '.ae.card-content-wrapper': (
      'width': 80%,
    ),
  ),
);

