@page "/project/{ProjectAcronym}/filelist"
@inject IStringLocalizer<FileList> Localizer
@inject IDbContextFactory<DatahubProjectDBContext> DbFactoryProject

<div style="padding-left: 2rem;padding-right: 2rem">
    <AeFlex Vertical>
        <AeTypography Variant="h2">@Localizer["Storage Explorer"]</AeTypography>
    </AeFlex>
    <AeCard>
        <Header>
            <AeTypography>@_project.ProjectName</AeTypography>
        </Header>
        <ChildContent>
            <FileGrid CurrentFolder="null" CanAddData="true" Project="@ProjectAcronym" />
            <AeMarkdown Content=""/>
        </ChildContent>
    </AeCard>
</div>

<div>
    <Resources PageName="Datahub-AzureStorage" />
</div>

@code {

    [Parameter]
    public string ProjectAcronym { get; set; }

    private Datahub_Project _project;

    protected override void OnInitialized()
    {
        using var projectContext = DbFactoryProject.CreateDbContext();
        _project = projectContext.Projects.Single(p => p.Project_Acronym_CD == ProjectAcronym);        
    }
}
