azure-functions==1.*
azure-graphrbac
azure-identity==1.*
azure-keyvault==4.*
azure-keyvault-administration==4.*
azure-keyvault-certificates==4.*
azure-keyvault-keys==4.*
azure-keyvault-secrets==4.*
azure-servicebus==7.*
azure-mgmt-authorization==4.*
azure-mgmt-keyvault==10.*
azure-mgmt-storage==21.*
msgraph-sdk==1.*
databricks-sdk
websocket-client==1.*
cryptography==44.0.1
