*:focus {
    outline: 2px solid black !important;
    outline-offset: -2px !important;
}

.mud-checkbox-input:hover {
    outline: 2px solid black !important;
    outline-offset: -2px !important;
}

.mud-button:hover {
    outline: 2px solid black !important;
    outline-offset: -2px !important;
}


.mud-nav-link:hover {
    outline: 2px solid black !important;
    outline-offset: -2px !important;
}

.mud-link {
    text-decoration: underline !important;
}
