@using Blazored.LocalStorage
@using Datahub.Core.Model.Achievements;
@using Datahub.Core.Services.Achievements;

@inject IUserInformationService _userInformationService
@inject ILocalStorageService _localStorage
@inject IPortalUserTelemetryService _telemetryService
@inject NavigationManager NavManager

<span @onclick="() => ChangeLanguage(Language)" style="cursor:pointer;">
    @LanguageDisplay
</span>

@code {

    private static string Language => Thread.CurrentThread.CurrentCulture.Name.ToLower().Contains("fr") ? "en-CA" : "fr-CA";
    private static string LanguageDisplay => Thread.CurrentThread.CurrentCulture.Name.ToLower().Contains("fr") ? "English" : "Français";
    
    private static List<string> UnauthenticatedPages = new() { "/login", "/register", "/terms-and-conditions", "account-setup" };

    private async void ChangeLanguage(string language)
    {
        // if in an unauthenticated page, user still needs to be able to translate languages
        var currentPage = NavManager.Uri;
        if (UnauthenticatedPages.Any(x => currentPage.Contains(x)))
        {
            await _localStorage.SetItemAsStringAsync("language", language);
            _userInformationService.SetLanguage(language);
        } else {
            await _userInformationService.RegisterUserLanguage(language);
            await _telemetryService.LogTelemetryEvent(TelemetryEvents.UserToggleCulture);
            _userInformationService.SetLanguage(language);
            await _localStorage.SetItemAsStringAsync("language", language);
        }
    }
}