@page "/ContactEn"

<div class="swiper-slide alt-bg" style="padding: 2rem;">
    <div class="nrcan-title">
        <p class="weight-400">How can we help?</p>
    </div>
    <div class="nrcan-content font-dark-grey">
        <div class=" text-center">
            <p>If you have questions about DataHub’s features, pilots, trials, pricing or need a demo,<br> our team is ready to answer all of your questions!</p>
            <br>
            <a href="mailto:Datahub.rncan@canada.ca?subject=Hello DataHub Team!" class="btn btn-blue2 btn-sm">Get In Touch</a>
            <br><br>
            <p>
                <span class="block"><h4 class="font300 margin-top-20">Support Hours</h4></span>
                <span class="block"><strong>Monday - Friday:</strong> &nbsp;&nbsp;&nbsp;&nbsp;9am - 5pm EST</span>
            </p>
            <br>
            <img src="img/support_team.png" alt="Support Team" />
        </div>
    </div>
</div>
