<div class="nrcan-title">
    <p class="weight-400">Data Scientists</p>
</div>
<div class="nrcan-content font-dark-grey">
    <p>
        Focused on solving complex business problems using analytics, you need new and emerging technologies to get the job done.  You do not have a lot of time to create and configure environments if you are to remain flexible and focused on the task at hand. This is where DataHub can help.
        <br><br>
        NRCAN DataHub will let you bring your own algorithms, machine images and data to use with popular analytics tools and technologies.
    </p>
</div>
<div class="nrcan-image">
    <img src="img/data_scientist.png" alt="Data Scientist" />
</div>
