<div class="nrcan-title">
    <p class="weight-400">Business Professionals</p>
</div>
<div class="nrcan-content font-dark-grey">
    <p class="dropcap">
        Responsible for delivering value to the organization, you rely on using IM/IT services to accomplish your daily tasks.  When creating strategy, delivering on priorities or developing plans, you need business intelligence tools to help you make decisions based on evidence.
        <br><br>
        NRCAN DataHub is designed to make your data readily available and give you rapid insights for decision-making.
    </p>
</div>
<div class="nrcan-image">
    <img class="img-responsive" src="img/business_person.png" alt="Business professional" />
</div>
