<div class="nrcan-title">
    <p class="weight-400">Executives</p>
</div>
<div class="nrcan-content font-dark-grey">
    <p class="dropcap">
        Setting the direction for the organization and supporting decisions with evidence is no easy task.  You need reliable and trustworthy data and tools at your fingertips to keep up with the pace of business.
        <br><br>
        NRCAN DataHub will host and optimize your data while giving you access to popular business intelligence tools like Microsoft Power BI and Tableau.  Share documents, files and data at a moment's notice with your teams or other leaders in the organization.
        <br><br><a href="ContactEn" class="btn btn-blue2 btn-sm" title="Link to Contact Us Page">Get started today</a>
    </p>
</div>
<div class="nrcan-image">
    <img class="img-responsive" src="img/Executive.png" alt="Executive" />
</div>
