<div class="nrcan-title">
    <p class="weight-400">Frequently Asked Questions</p>
</div>
<div class="nrcan-content">
    <h4 class="weight-400 letter-spacing-1">How does DataHub differ from other storage solutions?</h4>
    <p class="dropcap">
        DataHub is not simply file storage but a solution capable of ingesting, managing and analyzing data in any form. This includes working with any combination of text, tables/databases, documents, maps, images, videos, etc.
    </p>
    
    <h4 class="weight-400 letter-spacing-1">Will I have my own personal storage on DataHub?</h4>
    <p class="dropcap">
        Yes. As a user you will be given a personal storage space in which you can store data in any format. Based on your needs we will allocate an appropriate space based on the type of work you intend to do (e.g., Reporting, Algorithm Development, Experiments).
    </p>

    <h4 class="weight-400 letter-spacing-1">Can we get shared team storage as well?</h4>
    <p class="dropcap">
        Yes. Depending on your needs, we will customize a team environment that works for you.
    </p>

    <h4 class="weight-400 letter-spacing-1">Can I connect build reports and dashboards within DataHub?</h4>
    <p class="dropcap">
        Yes. Tools like Microsoft Power BI and Tableau are being integrated with DataHub as we speak.  We want you to be able to use self-serve BI tools with any data that you upload.
    </p>

    <h4 class="weight-400 letter-spacing-1">How can I use analytics and machine learning within DataHub?</h4>
    <p class="dropcap">
        You may bring-your-own-algorithm (BYOA) or develop one in DataHub using your own data.  Soon you will be able to deploy analytics models to custom workflows within DataHub too.
    </p>

    <h4 class="weight-400 letter-spacing-1">Can I bring my massive datasets to DataHub?</h4>
    <p class="dropcap">
        Yes. DataHub is designed to handle big data.  We will build custom pipelines to migrate your larger datasets to DataHub.  Whether it is Terabytes or Petabytes,we can handle it!
    </p>

    <h4 class="weight-400 letter-spacing-1">How long before I can start using DataHub?</h4>
    <p class="dropcap">
        We will try our best to get your on-boarded quickly.  We have a lot of clients and every client differs in their needs from basic reporting needs to sophisticated analytics environments.  <a href="ContactEn" title="Link to Contact Us Page">Contact us</a> and we will get you started as soon as possible.
    </p>
</div>
<div class="nrcan-image">
</div>
