
<div class="nrcan-title">
    <p class="weight-400">Data Science &amp; Analytics</p>
</div>
<div class="nrcan-content">
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_28.png" alt="Icon depicting AI and Machine Learning" />
        <p class="weight-400">AI & Machine Learning</p>
    </div>
    <div>
        <p>
            Get started quickly using pre-built virtual machines (VMs) and Docker containers with pre-configured frameworks.  Support for BYOA (“bring your own algorithm”) and custom machine learning VMs will soon be available.
        </p>
    </div>
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_34.png" alt="Icon depicting Model Management" />
        <p class="weight-400">Model Management</p>
    </div>    
    <div>
        <p>
            Simplified model and algorithm management including point-in-time versioning, data set and model attribute tracking, hyper-parameter optimization, and rapid end-point deployment.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>

