<div class="nrcan-title">
    <p class="weight-400">Data Discovery &amp; Management Capabilities</p>
</div>
<div class="nrcan-content">
    <div class="list-points">           
        <img class="img-responsive list-icon" src="img/asset_23.png" alt="Icon depicting a Data Lake" />
        <p class="weight-400">Data Lake</p>
    </div>
    <div>
        <p>
            Centralized and curated repository for storing structured and unstructured data at scale.  Works seamlessly with automated cataloging, versioning, organizing, archiving, replication and backup of data.
        </p>
    </div>
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_25.png" alt="Icon depicting a Data Pipelines" />
        <p class="weight-400">Data Pipelines</p>
    </div>        
    <div>
        <p>
            Workflows for moving data between locations and formats.  Includes the ability to create custom paths and fully automated processes for extracting, cleansing, transforming, and integrating data from any source.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>

