
<div class="nrcan-title">
    <p class="weight-400">Data Science &amp; Analytics</p>
</div>
<div class="nrcan-content">
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_30.png" alt="Icon depicting Integrated Development Environments (IDEs)" />
        <p class="weight-400">Integrated Development Environments (IDEs)</p>
    </div>
    <div>
        <p>
            Support for popular data science development environments (e.g., Knime, Jupyter Notebook, Spyder) to collaborate and work with your favourite languages (e.g., R, Python, SQL) and technologies (e.g., TensorFlow, Mxnet, PyTorch).
        </p>
    </div>
    <div class="list-points">
        <img class="img-responsive list-icon" src="img/asset_29.png" alt="Icon depicting High Performance Compute" />
        <p class="weight-400">High Performance Compute</p>
    </div>
    <div>
        <p>
            Access to high-performance, massively parallel and specialized GPU compute instances for speeding up your algorithms and model training.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>

