<div class="nrcan-title">
    <p class="weight-400">Business Intelligence</p>
</div>
<div class="nrcan-content">
    <div class="list-points">            
        <img class="img-responsive list-icon" src="img/asset_31.png" alt="Icon depicting Self-Serve BI Tools" />
        <p class="weight-400">Self-Serve BI Tools</p>
    </div>        
    <div>
        <p>
            Tools for exploring, modeling, building dashboards and reporting on data.
        </p>
    </div>
    <div class="list-points">            
        <img class="img-responsive list-icon" src="img/asset_32.png" alt="Icon depicting Enterprise Data Warehouse" />
        <p class="weight-400">Enterprise Data Warehouse</p>
    </div>
    <div>
        <p>
            A fully curated, scalable and high-performing business intelligence system designed to expedite data discovery, reports and dashboards for evidence-based decision making.
        </p>
    </div>
</div>
<div class="nrcan-image">
</div>
