<div class="project-info">
    <AeTypography class="data-sensitivity">@Localizer[Project.Data_Sensitivity]</AeTypography>
    <AeTypography Variant="h1">
        <i class="@($"fad fa-{Project.Project_Icon}")"></i>
        @Project.ProjectName
    </AeTypography>
    <AeMarkdown class="description" Content="@($"{Project.ProjectDescription}")"/>
</div>

@code {
    [Parameter]
    public Datahub_Project Project { get; set; }
}