@inherits HtmlElement

@inject IDialogService _dialogService

<a class="add-member-button" @onclick="OpenDialog">
    <AeTypography class="name" style="color:white; font-weight:bold; width:95%">@Localizer["Add New Member"]</AeTypography>
    <i class="fas fa-plus" style="color:white; justify-self:flex-end"></i>
</a>



@code {
    // TODO : Plus icon is dark

    private void OpenDialog()
    {
        var closeOnEscapeKey = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true,
            CloseButton = true
        };

        _dialogService.Show<ProjectAddMemberDialog>("Invite New User", closeOnEscapeKey);
    }

}