@inherits LayoutComponentBase

@inject IMSGraphService MSGraphService
@inject IApiService ApiService
@inject NavigationManager NavigationManager
@inject UserLocationManagerService UserLocationManagerService

@inject IDatahubAuditingService AuditingService
@inject IUserCircuitCounterService UserCircuitCounterService

@using Microsoft.Extensions.Configuration
@using Microsoft.Identity.Web
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@inject IConfiguration configuration

<PageTitle>@Localizer[configuration["Title"]]</PageTitle>

<AuthorizeView>
    <Authorized>        
        <div class="application-wrapper">
            <Sidebar />
            <div class="main-layout">
                <Topbar />
                <div class="ui-control">
                    <div class="main-page">
                        <ErrorBoundary @ref="_errorBoundary">
                            <ChildContent>
                                @if (_isSessionEnabled == true)
                                {
                                    @Body
                                }
                                @if (_isSessionEnabled == false)
                                {
                                    <TooManyTabs />
                                }                                
                            </ChildContent>
                            <ErrorContent Context="ex">
                                @if (HandleException(@ex)) 
                                {
                                    <Error CorrelationId=@_correlationId />
                                }
                                else
                                {
                                    @Body
                                }

                            </ErrorContent>
                        </ErrorBoundary>
                    </div>
                    <RightSidebar />
                    <Modal />
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>@Localizer["ERROR-PAGE.ConnectionLost-Label"]</div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private ErrorBoundary _errorBoundary;
    private string _correlationId;
    private Exception _lastException;
    private bool? _isSessionEnabled = null;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }

    protected override async Task OnInitializedAsync()
    {
        try 
        {
            _isSessionEnabled = await UserCircuitCounterService.IsSessionEnabled();
        } 
        catch (Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }
        await ApiService.LoadApplicationData();
    }

    private bool IsValidException(Exception ex)
    {
        return !(ex is ObjectDisposedException);
    }

    private bool HandleException(Exception ex)
    {
        if (!IsValidException(ex))
            return false;
        if (ex != _lastException)
        {
            _lastException = ex;
            _ = AuditExceptionAsync(ex);
        }
        return true;
    }

    private async Task AuditExceptionAsync(Exception ex)
    {
        try
        {
            var correlationId = Guid.NewGuid().ToString();
            await AuditingService.TrackException(ex, (nameof(correlationId), correlationId));
            _correlationId = correlationId;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception)
        {
        }
    }
}
