@page "/privacystatement"
@if (Thread.CurrentThread.CurrentCulture.Name == "en")
{
    <div class="textcontent" style="margin: 1.5rem">
        <h1 class="weight-500">Privacy</h1>
        <h2 class="weight-400 letter-spacing-1 size-16"><span>Last Update: September 2, 2020</span></h2>
        <p class="dropcap">
            <br>Natural Resources Canada (NRCAN) is committed to respecting the privacy and protecting the information of all visitors to NRCAN DataHub.
            <br><br>NRCAN’s administration of NRCAN DataHub includes various activities that may require the collection of personal information for both (1) administrative and (2) non-administrative purposes.
            <br><br>All personal information collected by NRCAN about visitors to NRCAN DataHub is authorized under legislation and is done in compliance with the Privacy Act. This means that you will be informed when your personal information may be required, the purpose for which it is collected, and how to exercise your right of access to that information.
            <br><br>While visiting NRCAN DataHub, you may be directed to websites controlled by other Government of Canada institutions or a third-party, or to third-party social media platforms. When visiting a website outside of NRCAN DataHub or a social media platform, personal information will be subject to the terms, conditions, and privacy policies of that other institution or third-party. In these cases, we strongly encourage you to take the time to read the specific privacy notices or statements that describe their specific terms, conditions, and policies.
            <br><br>If you have any questions, comments, concerns or complaints about the activities of NRCAN in administering the NRCAN DataHub website as they relate to the Privacy Act, the Department of Employment and Social Development Act, and privacy policies regarding NRCAN DataHub, you can contact the NRCAN Access to Information and Privacy Coordinator.
            <br><br>In addition, you may also contact the Office of the Privacy Commissioner by telephone at 1-800-282-1376.

            <h3 class="weight-400 letter-spacing-1">Communicating with NRCAN DataHub</h3>
            If you choose to send Natural Resources Canada an email or complete a feedback form online, your personal information is used by Natural Resources Canada in order to respond to your inquiry. The information you provide will only be shared with another government institution if your inquiry relates to that institution. Natural Resources Canada does not use the information to create individual profiles nor does it disclose the information to anyone other than to those in the federal government who need to provide you with a response. Any disclosure of your personal information is in accordance with the Privacy Act.
            <br><br>Emails and other electronic methods used to communicate with the Government of Canada are not secure unless it is specifically stated on a Web page. Therefore, it is recommended that you do not send sensitive personal information, such as your Social Insurance Number or your date of birth, through non-secure electronic means.
            <br><br>Personal information from emails or completed feedback forms is collected pursuant to the Privacy Act. Such information may be used for statistical, evaluation and reporting purposes and is included in Personal Information Bank Public Communications (PSU 914).

            <br><br><h3 class="weight-400 letter-spacing-1">Web Analytics</h3>
            NRCAN is responsible for the NRCAN DataHub website that includes responsibilities for web analytics, which is the collection, analysis, and reporting of web traffic data. Web analytics are done to help determine how NRCAN DataHub can be improved to better serve NRCAN, Canadians and other visitors.
            <br><br>NRCAN is responsible for the administration of the tools used by the NRCAN DataHub for web analytics.
            <br><br>For the purpose of performing web analytics, NRCAN tracks certain types of information during visits to NRCAN DataHub. For the purposes of the Privacy Act, this information is treated as personal information. When your computer or other device requests a NRCAN DataHub web page, information is collected for the purpose of web analytics. The type of information collected includes, but is not limited to:
            <br><br>
            <ul>
                <li>IP address of the device that has contacted the NRCAN DataHub website (which is not stored or retained in a format that <br>can be used to identify a visitor)</li>
                <li>type of browser used</li>
                <li>type of operating system used</li>
                <li>the date and time of the visit</li>
                <li>pages visited and documents downloaded</li>
            </ul>
            NRCAN may also use the personal information collected for non-administrative uses, such as communications and information technology statistics, audit and evaluations, research, planning, and reporting. This personal information is not used for decision making processes about an individual or to profile individual visitors to NRCAN DataHub.
            <br><br>To further protect information about visitors to NRCAN DataHub, NRCAN uses a feature from each service provider that hides part or all of the IP address of a visitor before it is used for analytics.

            <br><br><h3 class="weight-400 letter-spacing-1">Public Communications on NRCAN DataHub</h3>
            NRCAN is responsible for the NRCAN DataHub website. This includes engaging in general communications with visitors to the NRCAN DataHub website.
            <br><br>NRCAN DataHub includes a general communications section called “Help”, which allows visitors to send questions and comments. When a question or comment is about a specific activity, program, or service, it may be forwarded to the appropriate responsible officers at NRCAN or at another government institution to prepare a reply.
            <br><br>When you use the “Help” feature, you are required to provide your email address. NRCAN does not ask for or intend to use any other personal information for this activity. IP address are collected incidentally as they are a part of any Internet communication. Consequently, NRCAN does not intend or try to associate you to an IP address for this activity, or to create a profile about you. When you use the “Help” feature, please do not include any sensitive personal information in the questions/comments box, such as your social insurance number, date of birth, personal finance data, and medical or work history.
            <br><br>Incidental personal information for this activity is collected and stored in the Personal Information Bank Electronic Network Monitoring Logs (PSU 905).

            <br><br><h3 class="weight-400 letter-spacing-1">Security Incidents</h3>
            NRCAN is responsible for the NRCAN DataHub. This includes using software programs to monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage. This software receives and records information including, but not limited to:
            <br><br>
            <ul>
                <li>IP address of the device that has contacted the NRCAN DataHub website</li>
                <li>name of the domain used to access the Internet</li>
                <li>type of browser used</li>
                <li>type of operating system used</li>
                <li>the date and time of the visit</li>
                <li>pages visited and documents downloaded</li>
                <li>IP address of the website that linked directly to NRCAN DataHub</li>
            </ul>
            NRCAN will not attempt to link these addresses with the identity of visitors to the NRCAN DataHub website unless an attempt to damage the site is detected.
            <br><br>NRCAN engages in security monitoring and investigation of the NRCAN DataHub website under the authority of section 161 of the Financial Administration Act. Personal information may be shared with appropriate law enforcement authorities if suspected criminal activities are detected. It may also be used for network security-related statistical purposes, audit, evaluation, research, planning, and reporting.
            <br><br>Personal information for this activity is collected and stored in the Personal Information Bank Security Incidents and Privacy Breaches (PSU 939).
            <br><br><b>Footnote 1</b>
            <br><br>The Treasury Board of Canada Secretariat Policy on Privacy Protection defines administrative purpose as the use of personal information about an individual "in a decision making process that directly affects that individual". This includes all uses of personal information for confirming identity (i.e. authentication and verification purposes) and for determining eligibility of individuals for government programs.
            <br><br><b>Footnote 2</b>
            <br><br>The Policy on Privacy Protection defines non-administrative purpose as the use of personal information for a purpose that is not related to any decision-making process that directly affects the individual. This includes the use of personal information for research, statistical, audit and evaluation purposes.
            <br><br><b>Footnote 3</b>
            <br><br>The nature of the Internet is such that web servers automatically collect certain information about a visit to a website, including the visitor's Internet Protocol (IP) address. IP addresses are unique numbers assigned by Internet Service Providers (ISP) to all devices used to access the Internet. Web servers automatically log the IP addresses of visitors to their sites. The IP address, on its own, does not identify an individual. However, in certain circumstances, such as with the co-operation of an ISP for example, it could be used to identify an individual using the site. For this reason, the Government of Canada considers the IP address to be personal information, particularly when combined with other data automatically collected when a visitor requests a Web page such as the page or pages visited, date and time of the visit.
        </p>

    </div>
}
else
{ 
<div class="textcontent" style="margin: 1.5rem">
    <h1 class="weight-500">Confidentialité</h1>
    <h2 class="weight-400 letter-spacing-1 size-16"><span>Dernière mise à jour: 2 septembre 2020</span></h2>
    <p class="dropcap">
        <br>Ressources naturelles Canada (RNCan) s’engage à respecter la vie privée et à protéger les renseignements de tous les visiteurs de RNCan DataHub.
        <br><br>L’administration de RNCan DataHub par RNCan comprend diverses activités pouvant nécessiter la collecte de renseignements personnels à des fins 1) administratives et 2) non administratives.
        <br><br>La collecte de tout renseignement personnel par RNCan au sujet des visiteurs de RNCan DataHub est autorisée en vertu de la loi et est faite conformément à la Loi sur la protection des renseignements personnels. Cela signifie que vous serez informé du moment où vos renseignements personnels peuvent être requis, de la raison pour laquelle ils sont recueillis et de la façon dont vous pouvez exercer votre droit d’accès à ces informations.
        <br><br>Lorsque vous visitez le RNCan DataHub, vous pourriez être dirigé vers des sites Web contrôlés par d’autres établissements du gouvernement du Canada ou par des tiers, ou vers des plateformes de médias sociaux de tiers. Lorsque vous visitez un site Web à l’extérieur de RNCan DataHub ou d’une plateforme de médias sociaux, les renseignements personnels seront assujettis aux modalités, aux conditions et aux politiques de confidentialité de cet autre établissement ou tiers. Le cas échéant, nous vous encourageons fortement à prendre le temps de lire les avis ou les énoncés de confidentialité qui décrivent les modalités, les conditions et les politiques particulières.
        <br><br>Si vous avez des questions, des commentaires, des préoccupations ou des plaintes concernant les activités de RNCan en matière d’administration du site Web de RNCan DataHub ayant trait à la Loi sur la protection des renseignements personnels, la Loi sur le ministère de l’Emploi et du Développement social et les politiques de confidentialité concernant le RNCan DataHub, vous pouvez communiquer avec le coordonnateur de l’accès à l’information et de la protection des renseignements personnels de RNCan.
        <br><br>En outre, vous pouvez également communiquer avec le Commissariat à la protection de la vie privée du Canada par téléphone au 1-800-282-1376.
        <br><br>
        <h3 class="weight-400 letter-spacing-1">Communiquer avec le RNCan DataHub </h3>
        Si vous choisissez d’envoyer un courriel à Ressources naturelles Canada ou de remplir un formulaire de rétroaction en ligne, vos renseignements personnels seront utilisés par Ressources naturelles Canada pour répondre à votre demande. Les renseignements que vous fournissez ne seront partagés avec un autre établissement gouvernemental que si votre demande concerne cet établissement. Ressources naturelles Canada n’utilise pas ces renseignements pour créer des profils individuels et ne les divulgue à personne d’autre qu’aux fonctionnaires fédéraux qui doivent vous donner une réponse. Toute divulgation de vos renseignements personnels est conforme à la Loi sur la protection des renseignements personnels.
        <br><br>Les courriels et autres méthodes électroniques utilisés pour communiquer avec le gouvernement du Canada ne sont pas sécurisés, sauf si cela est indiqué dans une page Web. Il est donc recommandé de ne pas envoyer de renseignements personnels sensibles, comme votre numéro d’assurance sociale ou votre date de naissance, par des moyens électroniques non sécurisés.
        <br><br>Les renseignements personnels provenant de courriers électroniques ou de formulaires de commentaires remplis sont recueillis conformément à la Loi sur la protection de la vie privée. Ces renseignements peuvent être utilisés à des fins de statistiques, d’évaluation et de rapports et sont inclus dans le fichier de renseignements personnels –  Communications publiques (POU 914).

        <br><br><h3 class="weight-400 letter-spacing-1">Analyse du Web</h3>
        RNCan est responsable du site Web de RNCan DataHub, ce qui inclut des responsabilités en matière d’analytique Web, c’est-à-dire la collecte, l’analyse et la communication des données sur le trafic Web.
        <br><br>RNCan est responsable de l’administration des outils utilisés par le RNCan DataHub aux fins d’analytique Web.
        <br><br>Afin d’effectuer des analytiques Web, RNCan suit certains types d’information au cours des visites dans le RNCan DataHub. En vertu de la Loi sur la protection de la vie privée, cette information est traitée comme des renseignements personnels. Lorsque votre ordinateur ou autre appareil demande une page Web du RNCan DataHub, de l’information est recueillie à des fins d’analytique Web. Le type d’information recueillie inclut, sans s’y limiter, ce qui suit :
        <br><br>
        <ul>
            <li>l’adresse IP de l’appareil qui communique avec le site Web de RNCan DataHub (cette adresse n’est pas stockée ni conservée dans un format permettant d’identifier un visiteur);</li>
            <li>le type de navigateur utilisé;</li>
            <li>le type de système d’exploitation utilisé;</li>
            <li>la date et l’heure de la visite;</li>
            <li>les pages visitées et les documents téléchargés.</li>
        </ul>
        RNCan peut également utiliser les renseignements personnels recueillis à des fins non administratives, notamment les statistiques sur les communications et les technologies de l’information, la vérification et les évaluations, la recherche, la planification et la préparation de rapports. Ces renseignements personnels ne sont pas utilisés pour les processus décisionnels concernant une personne ou pour établir le profil des visiteurs particuliers de RNCan DataHub.
        <br><br>Afin de mieux protéger les renseignements sur les visiteurs de RNCan DataHub, RNCan utilise une fonction de chaque fournisseur de services qui cache une partie ou la totalité de l’adresse IP d’un visiteur avant qu’elle ne soit utilisée à des fins d’analyse.

        <br><br><h3 class="weight-400 letter-spacing-1">Communications publiques sur le RNCan DataHub </h3>
        RNCan est responsable du site web du RNCan DataHub. Cela comprend la communication générale avec les visiteurs du site Web de RNCan DataHub.
        <br><br>Le site de RNCan DataHub comporte une section de communication générale appelée « Aide » permettant aux visiteurs d’envoyer des questions et des commentaires. Lorsqu’une question ou un commentaire porte sur une activité, un programme ou un service particulier, il peut être transmis aux agents responsables appropriés de RNCan ou d’un autre établissement gouvernemental pour préparer une réponse.
        <br><br>Lorsque vous utilisez la fonction « Aide », vous êtes tenu de fournir votre adresse électronique. RNCan ne demande pas d’autres renseignements personnels pour cette activité et n’a pas l’intention de le faire. ILes adresses IP sont recueillies de manière fortuite car elles font partie de toute communication sur Internet. CPar conséquent, RNCan n’a pas l’intention ou n’essaie pas de vous lier à une adresse IP pour cette activité, ni de créer un profil à votre sujet. Lorsque vous utilisez la fonction « Aide », veuillez ne pas inclure de renseignements personnels sensibles dans la boîte de questions/commentaires, comme votre numéro d’assurance sociale, votre date de naissance, des données financières personnelles et vos antécédents médicaux ou professionnels.
        <br><br>Les renseignements personnels connexes à cette activité sont recueillis et stockés dans le fichier de renseignements personnels « Journaux de contrôle des réseaux électroniques » (POU 905).

        <br><br><h3 class="weight-400 letter-spacing-1">Incidents de sécurité</h3>
        RNCan est responsable de RNCan DataHub. TCela comprend l’utilisation de logiciels pour surveiller le trafic sur le réseau afin d’identifier les tentatives non autorisées de télécharger ou de modifier de l’information, ou de causer d’autres dommages. Le logiciel reçoit et enregistre de l’information, y compris, mais sans s’y limiter :
        <br><br>
        <ul>
            <li>l’adresse IP de l’appareil qui communique avec le site Web de RNCan DataHub;</li>
            <li>le type de navigateur utilisé;</li>
            <li>le type de système d’exploitation utilisé;</li>
            <li>la date et l’heure de la visite;</li>
            <li>les pages visitées et les documents téléchargés.</li>
            <li>l’adresse IP du site web qui est directement lié à RNCan DataHub.</li>
        </ul>
        RNCan ne tentera pas d’établir un lien entre ces adresses et l’identité des visiteurs du site Web de RNCan DataHub, à moins qu’une tentative d’endommager le site ne soit détectée.
        <br><br>RNCAN s’engage à surveiller la sécurité et à enquêter sur le site web de RNCan DataHub en vertu de l’article 161 de la Loi sur la gestion des finances publiques. Les renseignements personnels peuvent être partagés avec les autorités policières appropriées si des activités criminelles présumées sont détectées. Ils peuvent également être utilisés à des fins statistiques liés à la sécurité des réseaux ainsi que pour la vérification, l’évaluation, la recherche, la planification et la préparation de rapports.
        <br><br>Les renseignements personnels relatifs à cette activité sont recueillis et stockés dans le fichier de renseignements personnels « Incidents de sécurité et atteintes à la vie privée » (POU 939).
        <br><br><b>Note de bas de page  1</b>
        <br><br>La Politique sur la protection de la vie privée du Secrétariat du Conseil du Trésor du Canada définit les fins administratives comme étant l’utilisation de renseignements personnels concernant un particulier « dans le cadre d’une décision le touchant directement ». Cela comprend toutes les utilisations de renseignements personnels pour confirmer l’identité (c.-à-d. des fins d’authentification et de vérification) et pour déterminer l’admissibilité des personnes aux programmes gouvernementaux.
        <br><br><b>Note de bas de page  2</b>
        <br><br>La Politique sur la protection de la vie privée définit les fins non administratives comme étant l’utilisation de renseignements personnels pour une fin qui n’est pas liée à une décision touchant directement la personne. Cela inclut l’utilisation de renseignements personnels à des fins de recherche, de statistiques, de vérification et d’évaluation.
        <br><br><b>Note de bas de page  3</b>
        <br><br>La nature d’Internet est telle que les serveurs Web recueillent automatiquement certains renseignements sur une visite à un site Web, notamment l’adresse du protocole Internet (IP) du visiteur. Les adresses IP sont des numéros uniques attribués par les fournisseurs de services Internet (FSI) à tous les appareils utilisés pour accéder à Internet. Les serveurs Web enregistrent automatiquement les adresses IP des visiteurs de leurs sites. L’adresse IP en soi ne permet pas d’identifier pas une personne. Cependant, dans certaines circonstances, notamment avec la coopération d’un FSI, elle peut être utilisée pour identifier une personne utilisant le site. C’est pourquoi le gouvernement du Canada considère l’adresse IP comme un renseignement personnel, notamment lorsqu’elle est combinée à d’autres données recueillies automatiquement lorsqu’un visiteur demande une page Web, comme la ou les pages consultées, la date et l’heure de la visite.
    </p>
</div>
}