@page "/termsandconditions"

@if (Thread.CurrentThread.CurrentCulture.Name == "en")
{
    <div class="textcontent" style="margin: 1.5rem">
        <h1 class="weight-500">Terms and Conditions</h1>
        <h2 class="weight-400 letter-spacing-1 size-16"><span>Last Update: September 2, 2020</span></h2>
        <p class="dropcap">
            <br>Thanks for using NRCAN DataHub!
            <br><br>Natural Resources Canada (NRCAN) is committed to creating a more enlightened way of working by providing an intuitive, unified platform to keep your content safe and accessible while helping you and those you work with stay coordinated and in sync. These terms of service (“Terms”) cover your use and access to the NRCAN DataHub services, client software and websites ("Services"). By using our Services, you’re agreeing to be bound by these Terms and our Privacy Policy (“Privacy”).

            <h3 class="weight-400 letter-spacing-1">Your Stuff & Your Permissions</h3>
            When you use our Services, you provide us with things like your files, content, messages, contacts, and so on (“Your Stuff”). These Terms don’t give us any rights to Your Stuff except for the limited rights that enable us to offer the Services.
            <br><br>We need your permission to do things like hosting Your Stuff, backing it up, and sharing it when you ask us to. Our Services also provide you with features like commenting, sharing, searching, image thumbnails, document previews, optical character recognition (OCR), easy sorting and organization, and personalization to help reduce busywork. To provide these and other features, NRCAN DataHub accesses, stores, and scans Your Stuff. You give us permission to do those things, and this permission extends to our affiliates and trusted third parties we work with.

            <br><br><h3 class="weight-400 letter-spacing-1">Your Responsibilities</h3>
            Your use of our Services must comply with acceptable use policy (see “Acceptable Use Policy” section below). Content in the Services may be protected by others’ intellectual property rights. Please don’t copy, upload, download, or share content unless you have the right to do so.
            <br><br>NRCAN DataHub may review your conduct and content for compliance with these Terms and our Acceptable Use Policy. We are not responsible for the content people upload, post and share via the Services.
            <br><br>Help us keep Your Stuff protected. Safeguard your password to the Services and keep your account information current. Don’t share your account credentials or give others access to your account.
            <br><br>You may use our Services only as permitted by applicable law, including export control laws and regulations.

            <br><br><h3 class="weight-400 letter-spacing-1">Software</h3>
            Some of our Services allow you to download client software (“Software”) which may update automatically. So long as you comply with these Terms, we give you a limited, nonexclusive, nontransferable, revocable license to use the Software, solely to access the Services. To the extent any component of the Software may be offered under an open source license, we’ll make that license available to you and the provisions of that license may expressly override some of these Terms. Unless the following restrictions are prohibited by law, you agree not to reverse engineer or decompile the Services, attempt to do so, or assist anyone in doing so.

            <br><br><h3 class="weight-400 letter-spacing-1">Beta Services</h3>
            We sometimes release products and features that we’re still testing and evaluating (“Beta Services”). Beta Services are labeled “alpha,” “beta,” “preview,” “early access,” or “evaluation” (or with words or phrases with similar meanings) and may not be as reliable as NRCAN DataHub’s other services. Beta Services are made available so that we can collect user feedback, and by using our Beta Services, you agree that we may contact you to collect such feedback.

            <br><br>Beta Services are confidential until official launch. If you use any Beta Services, you agree not to disclose any information about those Services to anyone else without our permission.

            <br><br><h3 class="weight-400 letter-spacing-1">Our Stuff</h3>
            The Services are protected by copyright, trademark, and other US and foreign laws. These Terms don’t grant you any right, title, or interest in the Services, others’ content in the Services, NRCAN DataHub logos and other brand features. We welcome feedback but note that we may use comments or suggestions without any obligation to you.

            <br><br><h3 class="weight-400 letter-spacing-1">Copyright</h3>
            We respect the intellectual property of others and ask that you do too. We respond to notices of alleged copyright infringement if they comply with the law, and such notices should be reported using our Copyright Policy. We reserve the right to delete or disable content alleged to be infringing and terminate accounts of repeat infringers. Information posted by the NRCAN DataHub is subject to the Copyright Act.

            <br><br><h3 class="weight-400 letter-spacing-1">Paid Accounts</h3>
            Billing. We’ll automatically bill you monthly, if on a payment plan, or will expect prompt payment, if you have signed a Memorandum of Understanding (MOU) with NRCAN DataHub, for the Services that you consume.  You’re responsible for all applicable taxes, and we’ll charge tax when required to do so.
            <br><br>Changes. We may change the fees in effect but will give you advance notice of these changes via a message to the email address associated with your account.

            <br><br><h3 class="weight-400 letter-spacing-1">Termination</h3>
            You’re free to stop using our Services at any time. We reserve the right to suspend or terminate your access to the Services with notice to you if:
            <br><br>(a) you’re in breach of these Terms,
            <br><br>(b) your use of the Services would cause a real risk of harm or loss to us or other users, or
            <br><br>(c) you have left NRCAN or haven't accessed our Services for 12 consecutive months.
            <br><br>We’ll provide you with reasonable advance notice via the email address associated with your account to remedy the activity that prompted us to contact you and give you the opportunity to export Your Stuff from our Services. If after such notice you fail to take the steps we ask of you, we’ll terminate or suspend your access to the Services.
            <br><br>We won’t provide notice before termination where:
            <br><br>a) you’re in material breach of these Terms,
            <br><br>(b) doing so would cause us legal liability or compromise our ability to provide the Services to our other users, or
            <br><br>(c) we're prohibited from doing so by law.

            <br><br><h3 class="weight-400 letter-spacing-1">Discontinuation of Services</h3>
            We may decide to discontinue the Services in response to unforeseen circumstances beyond NRCAN DataHub control or to comply with a legal requirement. If we do so, we’ll give you reasonable prior notice so that you can export Your Stuff from our systems.

            <br><br><h3 class="weight-400 letter-spacing-1">Services “AS IS”</h3>
            We strive to provide great Services, but there are certain things that we can't guarantee. TO THE FULLEST EXTENT PERMITTED BY LAW, NRCAN DATAHUB AND ITS AFFILIATES, SUPPLIERS, ARCHITECTS, DEVELOPERS AND DISTRIBUTORS MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED "AS IS." WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. Some places don’t allow the disclaimers in this paragraph, so they may not apply to you.
            <br><br>WE DON’T EXCLUDE OR LIMIT OUR LIABILITY TO YOU WHERE IT WOULD BE ILLEGAL TO DO SO—THIS INCLUDES ANY LIABILITY FOR NRCAN DATAHUB OR ITS AFFILIATES’ FRAUD OR FRAUDULENT MISREPRESENTATION IN PROVIDING THE SERVICES. IN COUNTRIES WHERE THE FOLLOWING TYPES OF EXCLUSIONS AREN’T ALLOWED, WE'RE RESPONSIBLE TO YOU ONLY FOR LOSSES AND DAMAGES THAT ARE A REASONABLY FORESEEABLE RESULT OF OUR FAILURE TO USE REASONABLE CARE AND SKILL OR OUR BREACH OF OUR CONTRACT WITH YOU. THIS PARAGRAPH DOESN’T AFFECT CONSUMER RIGHTS THAT CAN'T BE WAIVED OR LIMITED BY ANY CONTRACT OR AGREEMENT.
            <br><br>IN COUNTRIES WHERE EXCLUSIONS OR LIMITATIONS OF LIABILITY ARE ALLOWED, NRCAN DATAHUB, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS WON’T BE LIABLE FOR:
            <br><br>i. ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, OR
            <br><br>ii. ANY LOSS OF USE, DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY.
            <br><br>THESE EXCLUSIONS OR LIMITATIONS WILL APPLY REGARDLESS OF WHETHER OR NOT NRCAN DATAHUB OR ANY OF ITS AFFILIATES HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES.
            <br><br>NRCAN DATAHUB, ITS AFFILIATES, SUPPLIERS, ARCHITECTS AND DEVELOPERS WILL HAVE NO LIABILITY TO YOU FOR ANY LOSS OF PROFIT, LOSS OF BUSINESS, BUSINESS INTERRUPTION, OR LOSS OF BUSINESS OPPORTUNITY. NRCAN DATAHUB AND ITS AFFILIATES AREN’T RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE SERVICES.
            <br><br>OTHER THAN FOR THE TYPES OF LIABILITY WE CANNOT LIMIT BY LAW (AS DESCRIBED IN THIS SECTION), WE LIMIT OUR LIABILITY TO YOU TO THE GREATER OF $20 CDN.

            <br><br><h3 class="weight-400 letter-spacing-1">No Class Actions</h3>
            You may only resolve disputes with us on an individual basis and may not bring a claim as a plaintiff or a class member in a class, consolidated, or representative action. Class arbitrations, class actions, private attorney general actions, and consolidation with other arbitrations aren’t allowed. If this specific paragraph is held unenforceable, then the entirety of this section will be deemed void.

            <br><br><h3 class="weight-400 letter-spacing-1">Controlling Law</h3>
            These Terms will be governed by Ontario law except for its conflicts of laws principles. However, some countries (including those in the European Union) have laws that require agreements to be governed by the local laws of the consumer's country. This paragraph doesn’t override those laws.

            <br><br><h3 class="weight-400 letter-spacing-1">Acceptable Use Policy</h3>
            NRCAN DataHub is used by many people across NRCAN and we're proud of the trust placed in us. In exchange, we trust you to use our services responsibly.
            <br><br>You agree not to misuse the NRCAN DataHub services ("Services") or help anyone else to do so. For example, you must not even try to do any of the following in connection with the Services:
            <br><br><ul>
                <li>probe, scan, or test the vulnerability of any system or network;</li>
                <li>breach or otherwise circumvent any security or authentication measures;</li>
                <li>access, tamper with, or use non-public areas or parts of the Services, or shared areas of the Services you haven't been invited to;</li>
                <li>interfere with or disrupt any user, host, or network, for example by knowingly sending a virus, overloading, flooding, <br>spamming, or mail-bombing any part of the Services;</li>
                <li>send unsolicited communications, promotions or advertisements, or spam;</li>
                <li>send altered, deceptive or false source-identifying information, including "spoofing" or "phishing";</li>
                <li>promote or advertise products or services other than your own without appropriate authorization;</li>
                <li>abuse referrals or promotions to get more storage space than deserved or to sell storage space received from referrals or <br>promotions;</li>
                <li>circumvent storage space limits;</li>
                <li>sell the Services unless specifically authorized to do so;</li>
                <li>publish or share materials that are unlawfully pornographic or indecent, or that contain extreme acts of violence or <br>terrorist activity, including terror propaganda;</li>
                <li>advocate bigotry or hatred against any person or group of people based on their race, religion, ethnicity, sex, gender <br>identity, sexual orientation, disability, or impairment;</li>
                <li>harass or abuse NRCAN DataHub personnel or representatives or agents performing services on behalf of NRCAN DataHub;</li>
                <li>violate the law in any way, including storing, publishing or sharing material that's fraudulent, defamatory, or <br>misleading; or</li>
                <li>violate the privacy or infringe the rights of others.</li>
            </ul>
            <h3 class="weight-400 letter-spacing-1">Using files located on non-Government of Canada servers</h3>
            To improve the functionality of NRCAN DataHub, certain files (such as open source libraries, images and scripts) may be delivered automatically to your browser via a trusted third-party server or content delivery network. The delivery of these files is intended to provide a seamless user experience by speeding response times and avoiding the need for each visitor to download these files. Where applicable, specific privacy statements covering these files are included in our Privacy Notice.
        </p>

        <h3 class="weight-400 letter-spacing-1">Providing content in Canada’s official languages</h3>
        The Official Languages Act, the Official Languages (Communications with and Services to the Public) Regulations and Treasury Board policy requirements establish when we use both English and French to provide services to or communicate with members of the public. When there is no obligation to provide information in both official languages, content may be available in one official language only. Information provided by organizations not subject to the Official Languages Act is in the language(s) provided. Information provided in a language other than English or French is only for the convenience of our visitors.

        <br><br><h3 class="weight-400 letter-spacing-1">Linking to non-Government of Canada websites</h3>
        Links to websites not under the control of NRCAN DataHub or the Government of Canada are provided solely for the convenience of our website visitors. We are not responsible for the accuracy, currency or reliability of the content of such websites. NRCAN DataHub and the Government of Canada does not offer any guarantee in that regard and is not responsible for the information found through these links and does not endorse the sites and their content.
        <br><br>Visitors should also be aware that information offered by non-Government of Canada sites to which this website links is not subject to the Privacy Act or the Official Languages Act and may not be accessible to persons with disabilities. The information offered may be available only in the language(s) used by the sites in question. With respect to privacy, visitors should research the privacy policies of these non-government websites before providing personal information.

        <br><br><h3 class="weight-400 letter-spacing-1">Trademark notice</h3>
        The official symbols of the NRCAN DataHub, including the DataHub wordmark, may not be reproduced, whether for commercial or non-commercial purposes, without prior written authorization.

        <br><br><h3 class="weight-400 letter-spacing-1">Our commitment to accessibility</h3>
        The NRCAN DataHub is committed to achieving a high standard of accessibility as defined in the Standard on Web Accessibility and the Standard on Optimizing Websites and Applications for Mobile Devices. In the event of difficulty using our web pages, applications or device-based mobile applications, contact us for assistance or to obtain alternative formats such as regular print or another appropriate format.

        <br><br><h3 class="weight-400 letter-spacing-1">Links to other websites and ads</h3>
        NRCAN DataHub accounts may post or display links or ads for websites that are not under the control of the NRCAN DataHub or the Government of Canada. These links are provided solely for the convenience of users. The government is not responsible for the information found through these links or ads; neither does it endorse the sites or their content.

        <br><br><h3 class="weight-400 letter-spacing-1">Comments and interaction</h3>
        The NRCAN DataHub will read comments and participate in discussions when appropriate. Your comments and contributions must be relevant and respectful.
        <br><br>The NRCAN DataHub will not engage in partisan or political issues or respond to questions that violate these Terms and Conditions.
        <br><br>The NRCAN DataHub reserves the right to remove comments and contributions, and to block users based on inappropriate criteria.
        <br><br>These kinds of comments and contributions include:
        <br><br><ul>
            <li>include personal information</li>
            <li>include protected or classified information of the Government of Canada</li>
            <li>infringe upon intellectual property or proprietary rights</li>
            <li>are contrary to the principles of the Canadian Charter of Rights and Freedoms, Constitution Act, 1982</li>
            <li>are racist, hateful, sexist, homophobic or defamatory, or contain or refer to any obscenity or pornography</li>
            <li>are threatening, violent, intimidating or harassing</li>
            <li>are contrary to any federal, provincial or territorial laws of Canada</li>
            <li>constitute impersonation, advertising or spam</li>
            <li>encourage or incite any criminal activity</li>
            <li>are written in a language other than English or French</li>
            <li>otherwise violate this notice</li>
        </ul>
        NRCAN DataHub reserves the right to report users and/or their comments and contributions to third-party social media service providers to prevent or remove the posting of content that is contrary to these Terms and Conditions, or to the Terms of Service/Use of the third-party social media platform.

        <br><br><h3 class="weight-400 letter-spacing-1">Accessibility of social media platforms</h3>
        Social media platforms are third-party service providers and are not bound by Government of Canada standards for web accessibility.

        <br><br><h3 class="weight-400 letter-spacing-1">Privacy</h3>
        Social media accounts are not Government of Canada websites and represent only their presence on third-party service providers.

        <br><br><h3 class="weight-400 letter-spacing-1">Entire Agreement</h3>
        These Terms constitute the entire agreement between you and NRCAN DataHub with respect to the subject matter of these Terms and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable to the subject matter of these Terms. These Terms create no third party beneficiary rights.

        <br><br><h3 class="weight-400 letter-spacing-1">Waiver, Severability & Assignment</h3>
        NRCAN failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable, the remaining provisions of the Terms will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights under these Terms, and any such attempt will be void. NRCAN DataHub may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services.

        <br><br><h3 class="weight-400 letter-spacing-1">Modifications</h3>
        We may revise these Terms from time to time to better reflect:
        <br><br>(a) changes to the law,
        <br><br>(b) new regulatory requirements, or
        <br><br>(c) improvements or enhancements made to our Services.
        <br><br>If an update affects your use of the Services or your legal rights as a user of our Services, we’ll notify you prior to the update's effective date by sending an email to the email address associated with your account or via an in-product notification. These updated terms will be effective no less than 30 days from when we notify you.
        <br><br>If you don’t agree to the updates we make, please cancel your account before they become effective. Where applicable, we’ll offer you a prorated refund based on the amounts you have prepaid for Services and your account cancellation date. By continuing to use or access the Services after the updates come into effect, you agree to be bound by the revised Terms.

    </div>
}
else
{
    <div class="textcontent" style="margin: 1.5rem">
        <h1 class="weight-500">Conditions générales</h1>
        <h2 class="weight-400 letter-spacing-1 size-16"><span>Dernière mise à jour: 2 septembre 2020</span></h2>
        <p class="dropcap">
            <br>Merci d’utiliser le RNCan DataHub!
            <br><br>Ressources naturelles Canada (RNCan) s’engage à créer une façon de travailler plus éclairée en procurant une plateforme intuitive et unifiée pour garder votre contenu sécuritaire et accessible tout en vous aidant, vous et vos collègues, à rester coordonnés et synchronisés. Les présentes conditions de service (« Conditions ») couvrent votre utilisation et votre accès aux services RNCan DataHub, aux logiciels clients et aux sites Web (« Services »). En utilisant nos services, vous acceptez d’être lié par les présentes conditions générales et par notre politique de confidentialité (« Confidentialité »).
            <br><br>
            <h3 class="weight-400 letter-spacing-1">Votre matériel et vos autorisations</h3>
            Lorsque vous utilisez nos services, vous nous procurez des éléments comme vos fichiers, votre contenu, vos messages, vos personnes-ressources, etc. (« Votre matériel »).  Les présentes conditions ne nous donnent aucun droit sur votre matériel, à l’exception des droits limités qui nous permettent d’offrir les services.
            <br><br>Nous avons besoin de votre autorisation pour faire certaines choses comme héberger votre matériel, le sauvegarder et le partager lorsque vous nous le demandez. Nos services incluent également des fonctions comme les commentaires, le partage, la recherche, les vignettes d’images, les aperçus de documents, la reconnaissance optique de caractères (ROC), le tri et l’organisation faciles, et la personnalisation pour vous aider à réduire votre charge de travail. Afin de vous offrir ces fonctions et autres, le RNCan DataHub accède à votre matériel, le stocke et le numérise. Vous nous donnez la permission de faire ces choses, et cette permission s’étend à nos sociétés affiliées et aux tiers de confiance avec qui nous travaillons.

            <br><br><h3 class="weight-400 letter-spacing-1">Vos responsabilités</h3>
            Votre utilisation de nos services doit être conforme à la politique d’utilisation acceptable (voir la section « Politique d’utilisation acceptable » ci-dessous). Le contenu des services peut être protégé par les droits de propriété intellectuelle d’autrui. Veuillez ne pas copier, télécharger, charger ou partager du contenu, sauf si vous en avez le droit.
            <br><br>Le RNCan DataHub peut examiner votre conduite et votre contenu pour s’assurer qu’ils sont conformes aux présentes conditions et à notre politique d’utilisation acceptable. Nous ne sommes pas responsables du contenu que les personnes téléchargent, affichent et partagent par l’intermédiaire des services.
            <br><br>Aidez-nous à assurer la protection de votre matériel. Protégez votre mot de passe pour les services et gardez votre information de compte à jour. Ne partagez pas l’information d’identification de votre compte et ne donnez pas accès à votre compte à d’autres personnes.
            <br><br>Vous pouvez utiliser nos services uniquement dans la mesure où la réglementation applicable le permet, y compris les lois et les règlements sur le contrôle des exportations.

            <br><br><h3 class="weight-400 letter-spacing-1">Logiciel</h3>
            Certains de nos services vous permettent de télécharger un logiciel client (« Logiciel »), lequel peut se mettre à jour automatiquement. Tant que vous respectez les présentes conditions, nous vous accordons une licence limitée, non exclusive, non transférable et révocable pour utiliser le logiciel, uniquement pour accéder aux services. Dans la mesure où tout composant du logiciel peut être offert sous une licence source ouverte, nous mettrons cette licence à votre disposition et les dispositions de cette licence peuvent expressément remplacer certaines des présentes conditions. Sauf si les restrictions suivantes sont interdites par la loi, vous acceptez de ne pas faire de l’ingénierie inverse ou de décompiler les services, de ne pas tenter de le faire, ni d’aider quiconque à le faire.

            <br><br><h3 class="weight-400 letter-spacing-1">Services bêta</h3>
            Nous publions parfois des produits et des fonctions que nous testons et évaluons encore (« Services bêta »). Les services bêta sont appelés « alpha », « bêta », « prévisualisation », « accès rapide » ou « évaluation » (ou avec des mots ou des expressions ayant une signification similaire) et peuvent ne pas être aussi fiables que les autres services de RNCan DataHub. BLes services bêta sont offerts afin que nous puissions recueillir les commentaires des utilisateurs, et en utilisant nos services bêta, vous acceptez que nous pourrions communiquer avec vous pour recueillir ces commentaires.

            <br><br>Les services bêta sont confidentiels jusqu’à leur lancement officiel. Si vous utilisez tout service bêta, vous acceptez de ne divulguer aucune information sur ces services à quiconque sans notre autorisation.

            <br><br><h3 class="weight-400 letter-spacing-1">Notre matériel</h3>
            Les services sont protégés par des droits d’auteur, des marques commerciales et d’autres lois américaines et étrangères.  Les présentes conditions ne vous accordent aucun droit, titre ou intérêt sur les services, le contenu d’autrui dans les services, les logos de RNCan DataHub et autres caractéristiques de marque. Nous apprécions vos commentaires, mais signalons que nous pouvons utiliser vos commentaires ou suggestions sans aucune obligation à votre égard.

            <br><br><h3 class="weight-400 letter-spacing-1">Droits d’auteur</h3>
            Nous respectons la propriété intellectuelle d’autrui et vous demandons de faire de même. Nous répondons aux avis de violation présumée des droits d’auteur s’ils sont conformes à la loi, et ces avis doivent être signalés en utilisant notre politique de droits d’auteur. WNous nous réservons le droit de supprimer ou de désactiver le contenu présumé en infraction et de fermer les comptes des contrevenants récidivistes.

            <br><br><h3 class="weight-400 letter-spacing-1">Comptes payés</h3>
            La facturation. Nous vous enverrons automatiquement une facture à tous les mois, si vous suivez un plan de paiement, ou nous nous attendons à un paiement rapide, si vous avez signé un protocole d’entente avec RNCan DataHub pour les services que vous utilisez. Vous êtes responsable de toutes les taxes applicables, et nous vous les facturerons lorsque nous sommes tenus de le faire.
            <br><br>Changements. Nous pouvons modifier les frais en vigueur, mais nous vous informerons à l’avance par un message à l’adresse électronique liée à votre compte.

            <br><br><h3 class="weight-400 letter-spacing-1">Résiliation</h3>
            YVous êtes libre de cesser d’utiliser nos services à tout moment. Nous nous réservons le droit de suspendre ou de mettre fin à votre accès aux services en vous en informant si:
            <br><br>(a) vous ne respectez pas les présentes conditions;
            <br><br>(b) votre utilisation des services entraînerait un risque réel de préjudice ou de perte pour nous ou pour d’autres utilisateurs; ou
            <br><br>(c) vous avez quitté RNCan ou n’avez pas eu accès à nos services pendant 12 mois consécutifs.
            <br><br>Nous vous donnerons un préavis raisonnable à l’adresse électronique liée à votre compte afin de remédier à l’activité qui nous incite à communiquer avec vous et de vous donner la possibilité d’exporter votre matériel de nos services. Si, après cet avis, vous ne prenez pas les mesures que nous vous demandons, nous mettrons fin ou suspendrons votre accès aux services.
            <br><br>Nous ne donnerons pas de préavis avant la résiliation si :
            <br><br>a) vous êtes en violation substantielle des présentes conditions;
            <br><br>(b) cela devait entraîner une responsabilité légale pour nous ou compromettre notre capacité à fournir les services à nos autres utilisateurs; ou
            <br><br>(c) la loi nous interdit de le faire.

            <br><br><h3 class="weight-400 letter-spacing-1">Interruption de services</h3>
            Nous pouvons décider d’interrompre les services en raison de circonstances imprévues hors du contrôle de RNCan DataHub ou pour nous conformer à une obligation juridique. Le cas échéant, nous vous donnerons un préavis raisonnable afin que vous puissiez exporter votre matériel de nos systèmes.

            <br><br><h3 class="weight-400 letter-spacing-1">Services « tels quels »</h3>
            Nous nous efforçons de fournir de bons services, mais il y a certaines choses que nous ne pouvons garantir. DANS TOUTE LA MESURE PERMISE PAR LA LOI, RNCAN DATAHUB ET SES SOCIETES AFFILIEES, FOURNISSEURS, ARCHITECTES, PROMOTEURS ET DISTRIBUTEURS NE DONNENT AUCUNE GARANTIE, EXPRESSE OU IMPLICITE, SUR LES SERVICES. LES SERVICES SONT FOURNIS « TELS QUELS ». NOUS DECLINONS EGALEMENT TOUTE GARANTIE DE QUALITE MARCHANDE, DE PERTINENCE A DES FINS PARTICULIERES ET D’ABSENCE DE CONTREFAÇON. Les clauses de non responsabilité du présent paragraphe n’étant pas autorisées à certains endroits, il est donc possible qu’elles ne vous concernent pas.
            <br><br>NOUS N’EXCLUONS NI NE LIMITONS NOTRE RESPONSABILITE ENVERS VOUS DANS LES CAS OU IL SERAIT ILLEGAL DE LE FAIRE – CELA INCLUT TOUTE RESPONSABILITE EN CAS DE FRAUDE OU DE DECLARATION FRAUDULEUSE DE LA PART DE RNCAN DATAHUB OU DE SES SOCIETES AFFILIEES DANS LE CADRE DE LA PRESTATION DES SERVICES. DANS LES PAYS OU LES TYPES D’EXCLUSIONS SUIVANTS NE SONT PAS AUTORISES, NOUS NE SOMMES RESPONSABLES ENVERS VOUS QUE DES PERTES ET DES DOMMAGES QUI SONT LE RESULTAT RAISONNABLEMENT PREVISIBLE DE NOTRE MANQUE DE DILIGENCE RAISONNABLE ET DE COMPETENCE OU DE NOTRE VIOLATION DE NOTRE CONTRAT AVEC VOUS. CE PARAGRAPHE N’A PAS D’INCIDENCE SUR LES DROITS DES CONSOMMATEURS QUI NE PEUVENT ETRE RENONCES OU LIMITES PAR UN CONTRAT OU UNE ENTENTE.
            <br><br>DANS LES PAYS OU LES EXCLUSIONS OU LES LIMITATIONS DE RESPONSABILITE SONT AUTORISEES, RNCAN DATAHUB, SES SOCIETES AFFILIEES, SES FOURNISSEURS OU SES DISTRIBUTEURS NE SERONT PAS TENUS RESPONSABLES DE CE QUI SUIT :
            <br><br>i. TOUT DOMMAGE INDIRECT, PARTICULIER, ACCESSOIRE, PUNITIF, EXEMPLAIRE OU CONSECUTIF; OU
            <br><br>ii. TOUTE PERTE D’UTILISATION, DE DONNEES, D’ACTIVITES OU DE PROFITS, QUELLE QUE SOIT LA THEORIE JURIDIQUE.
            <br><br>CES EXCLUSIONS OU LIMITATIONS S’APPLIQUERONT INDEPENDAMMENT DU FAIT QUE RNCAN DATAHUB OU L’UNE DE SES SOCIETES AFFILIEES AIT ETE OU NON AVERTI DE LA POSSIBILITE DE TELS DOMMAGES.
            <br><br>RNCAN DATAHUB, SES SOCIETES AFFILIEES, SES FOURNISSEURS, SES ARCHITECTES ET SES PROMOTEURS N’AURONT AUCUNE RESPONSABILITE ENVERS VOUS POUR TOUTE PERTE DE PROFITS, PERTE D’AFFAIRES, INTERRUPTION D’ACTIVITE OU PERTE D’OCCASION D’AFFAIRES.  RNCAN DATAHUB ET SES SOCIETES AFFILIEES NE SONT PAS RESPONSABLES DE LA CONDUITE, EN LIGNE OU HORS LIGNE, DE TOUT UTILISATEUR DES SERVICES.
            <br><br>OUTRE LES TYPES DE RESPONSABILITE QUE NOUS NE POUVONS PAS LIMITER PAR LA LOI (COMME ON LE DECRIT DANS LA PRESENTE SECTION), NOUS LIMITONS NOTRE RESPONSABILITE ENVERS VOUS AU MONTANT LE PLUS ELEVE DE 20 $ CAN.

            <br><br><h3 class="weight-400 letter-spacing-1">Aucun recours collectif</h3>
            Vous ne pouvez résoudre les litiges avec nous que sur une base individuelle et vous ne pouvez pas entamer une poursuite en tant que demandeur ou membre d’un groupe dans le cadre d’un recours collectif, d’instances réunies ou d’une action en justice représentative. Les arbitrages collectifs, les recours collectifs, les recours généraux d’un avocat privé et les regroupements avec d’autres arbitrages ne sont pas autorisés. Si ce paragraphe particulier est jugé inapplicable, alors l’ensemble de la présente section sera considéré comme nul.

            <br><br><h3 class="weight-400 letter-spacing-1">Loi applicable</h3>
            Les présentes conditions seront régies par la législation de l’Ontario, à l’exception des principes de conflit de lois. Cependant, en vertu de la loi de certains pays (y compris ceux de l’Union européenne), les ententes doivent être régies par la législation locale du pays du consommateur. Le présent paragraphe n’a pas préséance sur ces lois.

            <br><br><h3 class="weight-400 letter-spacing-1">Politique d’utilisation acceptable</h3>
            Le RNCan DataHub est utilisé par de nombreuses personnes au sein de l’organisation et nous sommes fiers de la confiance qui nous est accordée. En échange, nous vous faisons confiance pour utiliser nos services de manière responsable.
            <br><br>YVous acceptez de ne pas utiliser abusivement les services du RNCan DataHub (« Services ») ou d’aider quelqu’un d’autre à le faire. Par exemple, vous ne devez même pas essayer de faire ce qui suit en rapport avec les services :
            <br><br><ul>
                <li>sonder, scanner ou tester la vulnérabilité de tout système ou réseau;</li>
                <li>violer ou contourner de toute autre manière les mesures de sécurité ou d’authentification;</li>
                <li>accéder aux zones ou parties non publiques des services ou des zones partagées des services auxquelles vous n’avez pas été invité, ou les altérer ou les utiliser;</li>
                <li>interférer avec ou perturber tout utilisateur, hôte ou réseau, par exemple en envoyant sciemment un virus, une surcharge, une inondation;</li>
                <li>envoyer des communications, des promotions ou des publicités non sollicitées ou du pourriel;</li>
                <li>envoyer de l’information d’identification de la source altérée, trompeuse ou fausse, y compris par la « mystification » ou le « hameçonnage »;</li>
                <li>promouvoir ou faire la publicité de produits ou services autres que les vôtres sans autorisation appropriée;</li>
                <li>abuser des recommandations ou des promotions pour obtenir plus d’espace de stockage que ce que vous méritez ou pour vendre l’espace de stockage obtenu de recommandations ou de promotions;</li>
                <li>tourner les limites de l’espace de stockage;</li>
                <li>vendre les services, sauf avec une autorisation expresse;</li>
                <li>publier ou partager du matériel pornographique ou indécent illégal, ou qui renferme des actes de violence extrême ou une activité terroriste, y compris la propagande terroriste;</li>
                <li>préconiser le sectarisme ou la haine contre une personne ou un groupe de personnes sur la base de leur race, religion, ethnicité, sexe, genre, l’identité, l’orientation sexuelle, le handicap ou la déficience;</li>
                <li>harceler ou abuser le personnel de RNCan DataHub ou ses représentants ou agents offrant des services au nom de RNCan DataHub;</li>
                <li>enfreindre la loi de quelque façon que ce soit, y compris le stockage, la publication ou le partage de matériel frauduleux, diffamatoire, ou trompeur; ou</li>
                <li>violer la vie privée ou enfreindre les droits d’autrui.</li>
            </ul>
            <h3 class="weight-400 letter-spacing-1">Utilisation de fichiers situés dans des serveurs n’appartenant pas au gouvernement du Canada</h3>
            Pour améliorer la fonctionnalité de RNCan DataHub, certains fichiers (tels que les bibliothèques, les images et les scripts de source ouverte) peuvent être livrés automatiquement à votre navigateur par le truchement d’un serveur ou d’un réseau de diffusion de contenu d’un tiers de confiance.  La diffusion de ces fichiers vise à offrir une expérience utilisateur harmonieuse en accélérant les temps de réponse et en évitant à chaque visiteur de devoir télécharger ces fichiers. Selon le cas, des déclarations de confidentialité particulières visant ces fichiers sont incluses dans notre avis de confidentialité.
        </p>

        <h3 class="weight-400 letter-spacing-1">Fournir du contenu dans les langues officielles du Canada</h3>
        La Loi sur les langues officielles, le Règlement sur les langues officielles (Communications avec le public et prestation des services) et les exigences de la politique du Conseil du Trésor régissent l’utilisation du français et de l’anglais pour fournir des services ou communiquer avec les membres du public. Lorsqu’il n’y a pas d’obligation de procurer l’information dans les deux langues officielles, le contenu peut être offert dans une seule langue officielle.  Les renseignements fournis par les organismes non assujettis à la Loi sur les langues officielles le sont dans la ou les langues fournies. L’information fournie dans une langue autre que l’anglais ou le français est uniquement procurée pour aider nos visiteurs.

        <br><br><h3 class="weight-400 letter-spacing-1">Liens vers des sites Web n’appartenant pas au gouvernement du Canada</h3>
        Les liens vers les sites Web ne relevant pas de l’autorité de RNCan DataHub ou du gouvernement du Canada sont fournis uniquement pour aider les visiteurs de notre site Web. Nous ne sommes pas responsables de l’exactitude, l’actualité ou la fiabilité du contenu de ces sites Web. RNCan DataHub et le gouvernement du Canada n’offrent aucune garantie à cet égard et ne sont pas responsables des renseignements trouvés à ces liens et n’appuient pas ces sites ou leur contenu.
        <br><br>VLes visiteurs doivent aussi savoir que l’information procurée dans les sites n’appartenant pas au gouvernement du Canada dont les liens sont donnés dans le présent site n’est pas assujettie à la Loi sur la protection des renseignements personnels ni à la Loi sur les langues officielles et pourrait ne pas être accessible aux personnes handicapées. L’information pourrait être offerte uniquement dans la ou les langues utilisées dans les sites en question. En ce qui concerne la protection de la vie privée, les visiteurs doivent se renseigner sur les politiques de confidentialité de ces sites non gouvernementaux avant de fournir des renseignements personnels.

        <br><br><h3 class="weight-400 letter-spacing-1">Avis de marque</h3>
        Les symboles officiels de RNCan DataHub, y compris le mot-symbole DataHub, ne peuvent être reproduits, que ce soit à des fins commerciales ou non commerciales, sans autorisation écrite préalable.

        <br><br><h3 class="weight-400 letter-spacing-1">Notre engagement en matière d’accessibilité</h3>
        Le RNCan DataHub est engagé à offrir un haut degré d’accessibilité conformément à la Norme sur l’accessibilité des sites Web et la Norme sur l’optimisation des sites Web et des applications pour appareils mobiles. En cas de difficulté à utiliser nos pages Web, nos applications ou nos applications pour appareils mobiles, communiquez avec nous pour obtenir de l’aide ou d’autres formats, comme l’impression habituelle ou autre format approprié.

        <br><br><h3 class="weight-400 letter-spacing-1">Liens vers d’autres sites Web et annonces</h3>
        NLes comptes de RNCan DataHub peuvent afficher des liens ou des annonces pour des sites Web qui sont hors du contrôle de RNCan DataHub ou du gouvernement du Canada. Ces liens sont fournis uniquement pour aider les utilisateurs.  Le gouvernement n’est pas responsable des renseignements trouvés à ces liens ou dans ces annonces; il n’appuie pas non plus ces sites ni leur contenu.

        <br><br><h3 class="weight-400 letter-spacing-1">Commentaires et interaction</h3>
        Le RNCan DataHub lira les commentaires et participera aux discussions selon le cas. Vos commentaires et contributions doivent être pertinents et respectueux.
        <br><br>Le RNCan DataHub ne s’engagera pas dans des questions partisanes ou politiques et ne répondra pas à des questions qui enfreignent les présentes conditions générales.
        <br><br>Le RNCan DataHub se réserve le droit de supprimer des commentaires et des contributions, et de bloquer les utilisateurs sur la base de critères inappropriés.
        <br><br>Ces types de commentaires et contributions :
        <br><br><ul>
            <li>incluent des renseignements personnels;</li>
            <li>incluent des renseignements protégés ou classifiés du gouvernement du Canada;</li>
            <li>portent atteinte à la propriété intellectuelle ou aux droits de propriété;</li>
            <li>ne respectent pas les principes de la Charte canadienne des droits et libertés, de la Loi constitutionnelle de 1982;</li>
            <li>sont racistes, haineux, sexistes, homophobes ou diffamatoires, ou contiennent ou font référence à toute obscénité ou pornographie;</li>
            <li>sont menaçants, violents, intimidants ou harcelants;</li>
            <li>sont contraires à toute loi fédérale, provinciale ou territoriale du Canada;</li>
            <li>constituent une usurpation d’identité, de la publicité ou du pourriel;</li>
            <li>encouragent ou incitent toute activité criminelle;</li>
            <li>sont rédigés dans une langue autre que l’anglais ou le français;</li>
            <li>portent autrement atteinte au présent avis.</li>
        </ul>
        Le RNCan DataHub se réserve le droit de signaler les utilisateurs et/ou leurs commentaires et les contributions à des fournisseurs de services de médias sociaux tiers afin d’empêcher ou de supprimer l’affichage de contenu qui est contraire aux présentes conditions, ou aux conditions de service/utilisation de la plateforme de médias sociaux tiers.

        <br><br><h3 class="weight-400 letter-spacing-1">Accessibilité aux plateformes de médias sociaux</h3>
        Les plateformes de médias sociaux sont des fournisseurs de services tiers et ne sont pas liées par les normes du gouvernement du Canada en matière d’accessibilité du Web.

        <br><br><h3 class="weight-400 letter-spacing-1">Confidentialité</h3>
        Les comptes de médias sociaux ne sont pas des sites Web du gouvernement du Canada et ne représentent leur présence que sur des fournisseurs de services tiers.

        <br><br><h3 class="weight-400 letter-spacing-1">Entente intégrale</h3>
        Les présentes conditions constituent l’entente intégrale entre vous et RNCan DataHub ayant trait à l’objet des conditions et remplacent et annulent toute autre entente antérieure ou actuelle, ou conditions applicables à l’objet de ces conditions. Les présentes conditions ne créent aucun droit de bénéficiaire pour les tiers.

        <br><br><h3 class="weight-400 letter-spacing-1">Renonciation, dissociabilité et cession</h3>
        Le fait que RNCan n’applique pas une disposition ne constitue pas une renonciation à son droit de le faire plus tard. Si une disposition est jugée inapplicable, les autres dispositions des conditions resteront pleinement en vigueur et une clause exécutoire sera substituée, reflétant notre intention aussi étroitement que possible. Vous ne pouvez céder aucun de vos droits en vertu des présentes conditions, et toute tentative en ce sens sera nulle. Le RNCan DataHub peut céder ses droits à l’une de ses sociétés affiliées ou filiales, ou à tout successeur en intérêt de toute entreprise liée aux services.

        <br><br><h3 class="weight-400 letter-spacing-1">Modifications</h3>
        Nous pouvons réviser les présentes conditions de temps en temps pour mieux refléter :
        <br><br>(a) les modifications à la législation;
        <br><br>(b) de nouvelles exigences réglementaires; ou
        <br><br>(c) les améliorations ou perfectionnements apportés à nos services.
        <br><br>Si une mise à jour a une incidence sur votre utilisation des services ou vos droits légaux en tant qu’utilisateur de nos services, nous vous en informerons avant la date d’entrée en vigueur de la mise à jour en envoyant un courriel à l’adresse électronique liée à votre compte ou par le truchement d’un avis dans le produit. Ces conditions actualisées prendront effet au moins 30 jours après que nous vous en aurons informé.
        <br><br>Si vous n’acceptez pas les mises à jour que nous effectuons, veuillez annuler votre compte avant leur entrée en vigueur. Selon le cas, nous vous proposerons un remboursement proportionnel aux montants que vous avez prépayés pour les services et à la date d’annulation de votre compte. En continuant d’utiliser ou d’accéder aux services après l’entrée en vigueur des mises à jour, vous acceptez d’être lié par les conditions révisées.

    </div>
}