@use 'sass:math';
$totalColumns: 12;

@mixin columnMaxWidth($width) {
    -ms-flex: 0 0 percentage(math.div($width, $totalColumns));
    flex: 0 0 percentage(math.div($width, $totalColumns));
    max-width: percentage(math.div($width, $totalColumns));
}

@mixin columnCommon {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.5rem;
}

@mixin configure($options) {
  @if ($options) {
    $totalColumns: $options !global;
  }
}

@mixin styles {
  .ae.col {
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    @include columnCommon;
  }

  @for $i from 1 through $totalColumns {
    .ae.col-#{$i} {
      @include columnCommon;
      @include columnMaxWidth($i);
    }
  }
}
