@namespace Datahub.Core.Templates

<p>Good day,</p>

<p>Thank you for your interest in participating in language training with the NRCan Language School.</p>
<p>Your language training request has been sent to the section 34-delegated manager for approval. You will receive an email notifying you of the managers decision.</p>
<p>Please note that approval of the request does not guarantee that training will be available. Language training offerings are based on demand and availability of the teachers. Courses will only be offered if there is sufficient demand to fill a class (minimum 4 students).</p>

<p>For any questions, please email:</p>
<p>Language Training: languagetraining-formationlinguistique@nrcan-rncan.gc.ca</p>
<p>Thank you, </p>
<p>The NRCan Language School </p>
<p>languagetraining-formationlinguistique@nrcan-rncan.gc.ca </p>
 


<hr />

<p>Bonjour,</p>
<p>Nous vous remercions de votre intérêt à participer à une formation linguistique à l'École de langues de RNCan.  </p>
<p>Votre demande de formation linguistique a été envoyée au gestionnaire délégué en vertu de l’article 34 pour approbation. Vous recevrez un courriel vous informant de la décision du gestionnaire.</p>
<p>Veuillez noter que l'approbation de la demande ne garantit pas que la formation sera disponible. Les offres de formation linguistique sont fondées sur la demande et la disponibilité des enseignants. Les cours ne seront proposés que si la demande est suffisante pour former un groupe (minimum de 4 étudiants). </p>

<p>Pour toute question, veuillez vous adresser à : </p>
<p>Formation linguistique : languagetraining-formationlinguistique@nrcan-rncan.gc.ca</p>
<p>Merci, </p>
<p>L’École de langues de RNCan </p>
<p>languagetraining-formationlinguistique@nrcan-rncan.gc.ca </p>


@code {

    [Parameter]
    public LanguageTrainingParameters ApplicationParameters { get; set; }

}
