@namespace NRCan.Datahub.Shared.Templates

<p>Good day, </p>
<p>Thank you for your interest in participating in language training with the NRCan Language School. We are happy to confirm that a seat has been reserved for you for the following session:</p>

<p>[TRAINING TYPE]</p>
<p>[CLASS]</p>
<p>[SESSION] </p>

<p>You and your manager will receive a training agreement and invoice in the next 2 weeks, which will include the training schedule. Furthermore, specific class information will be sent to you directly from the language teachers who will be delivering your training in the week prior to the scheduled start of your training. </p>
<p>Should you have any questions or are not longer available to attend training, please inform us as soon as possible via email at:   nrcan.languagetraining-formationlinguistique.rncan@canada.ca.  </p>

<p>The NRCan Language School </p>
<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>


<hr />

<p>Bonjour, </p>
<p>Nous vous remercions de votre intérêt à participer à une formation linguistique avec l'École de langues de RNCan.  Nous sommes heureux de vous confirmer qu'une place vous a été réservée pour la session ci-suivante :</p>
<p>[TYPE DE FORMATION]</p>
<p>[CLASSE]</p>
<p>[SESSION] </p>

<p>Vous et votre gestionnaire recevrez une entente de formation et une facture, ainsi que le calendrier de formation, dans les deux prochaines semaines. En outre, dans la semaine précédant la date de début prévue de votre formation, des renseignements précis sur les cours vous seront envoyés directement par les professeurs de langue qui dispenseront votre formation. </p>
<p>Si vous avez des questions ou si vous n’êtes plus disponible pour participer à la formation, veuillez nous en informer dès que possible par courriel à l’adresse suivante :  nrcan.languagetraining-formationlinguistique.rncan@canada.ca.  </p>

<p>L’École de langues de RNCan </p>
<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>



@code {

    [Parameter]
    public string Service { get; set; }

}
