@namespace Datahub.Core.Templates

<p>Good day, </p>
<p>Thank you for your interest in participating in language training with the NRCan Language School.</p>
<p>Following a review of your language-training file, a new Language Training and Evaluation Plan (LETP) assessment is required prior to being eligible to register for language training with the NRCan Language School. </p>
<p>To request a new LETP assessment, please submit a request using the following link: </p>
<p>[INSERT LINK TO LETP FORM]</p>
<p>For any questions, please direct your questions to:</p>
<p>Language Training: nrcan.languagetraining-formationlinguistique.rncan@canada.ca</p>

<p>The NRCan Language School </p>
<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>



<hr />

<p>Bonjour, </p>
<p>Nous vous remercions de votre intérêt à participer à une formation linguistique avec l'École de langues de RNCan.  </p>
<p>Suite à l'examen de votre dossier de formation linguistique, un nouveau Plan d'évaluation et de formation linguistiques (PEFL) est requis avant de pouvoir vous inscrire à une formation linguistique à L'École de langues de RNCan. </p>
<p>Pour demander un nouveau PEFL, veuillez envoyer une demande à cet effet en utilisant le lien suivant : </p>
<p>[INSÉRER LE LIEN VERS LE FORMULAIRE PEFL]</p>
<p>Pour toute question, veuillez vous adresser à : </p>
<p>Formation linguistique : nrcan.languagetraining-formationlinguistique.rncan@canada.ca</p>

<p>L’École de langues de RNCan </p>
<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>


@code {

    [Parameter]
    public LanguageTrainingParameters ApplicationParameters { get; set; }

}
