@namespace Datahub.Core.Templates

<p>Good day, </p>
<p>A new request for language training has been approved by the section 34 manager. </p>
<p>The request can be reviewed via the following link: </p>
<p>[LINK TO WEB FORM WITH NRCAN LANGUAGE SCHOOL SECTION]</p>

<p>NRCan Language School Database</p>


<hr />

<p>Bonjour, </p>
<p>Une nouvelle demande de formation linguistique a été approuvée par le gestionnaire en vertu de l’article 34. </p>
<p>Pour examiner la demande, veuillez cliquer sur le lien suivant : </p>
<p>[LIEN VERS LE FORMULAIRE WEB AVEC LA SECTION ÉCOLE DE LANGUES DE RNCAN] </p>

<p>Base de données de l’École de langues de RNCan </p>


@code {

    [Parameter]
    public string Service { get; set; }

}
