@namespace Datahub.Shared.Templates

<p>Good day </p>
<p>Thank you for your interest in participating in language training with the NRCan Language School.  </p>
<p>Following review of your language training request, this is to confirm that the section 34 manager has denied your request. Should you have questions related to the decision, please reach out to your section 34 manager. </p>
<p>Thank you, </p>
<p>The NRCan Language School </p>
<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>


<hr />

<p>Bonjour, </p>
<p>Nous vous remercions de votre intérêt à participer à une formation linguistique avec l'École de langues de RNCan.  </p>
<p>Suite à l'examen de votre demande de formation linguistique, la présente confirme que le gestionnaire en vertu de l'article 34 a rejeté votre demande. Si vous avez des questions concernant cette décision, veuillez vous adresser à votre gestionnaire en vertu de l’article 34. </p>
<p>Merci, </p>
<p>L’École de langues de RNCan </p>
<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>


@code {

    [Parameter]
    public LanguageTrainingParameters ApplicationParameters { get; set; }

}
