@namespace NRCan.Datahub.Shared.Templates

<p>Good day,</p>

<p>@ApplicationParameters.EmployeeName has submitted a request to apply for @ApplicationParameters.TrainingType language training with the NRCan Language School. </p>
<p>As the section 34-delegated manager, your approval is required before the request is submitted to the Language School for consideration. Please note that by approving this request, it does not guarantee that training will be available. Language training offerings are based on demand and availability of the teachers. Courses will only be offered if there is sufficient demand to fill a class (minimum 4 students).   </p>

<p><u>Please review your employee information via the following link:</u></p>
<p>[LINK TO WEB FORM WITH MANAGER SECTION]</p>

<p>To approve or deny the request, simply check the appropriate box and click on <i>submit</i>. </p>

<p><b><u>By approving, I agree to:</u></b></p>
<p><b><u>•	Adjust my employee’s workload to allow them to attend classes;</u></b> </p>
<p><b><u>•	Commit the required funds to pay for language training; and</u></b></p>
<p><b><u>•	Support the employee with their efforts in using and maintaining their proficiency in the second official language upon their return to work.</u></b> </p>

<p>For more information on Language Training, please visit: https://intranet.nrcan.gc.ca/services-policies/guide-language-trainingtesting</p>

<p>For any questions, please direct your questions to:</p>

<p>Language Training: nrcan.languagetraining-formationlinguistique.rncan@canada.ca</p>

<p>Thank you, </p>
<p>The NRCan Language School </p>

<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>
 



<hr />

<p>Bonjour,</p>

<p>@ApplicationParameters.EmployeeName a présenté une demande de formation linguistique pour @ApplicationParameters.TrainingType à L’École de langues de RNCan. </p>
<p>En tant que gestionnaire délégué en vertu de l'article 34, votre approbation est requise avant que la demande soit soumise à l'École de langues pour examen. Veuillez noter qu'en approuvant cette demande, cela ne garantit pas que la formation sera disponible. Les offres de formation linguistique sont fondées sur la demande et la disponibilité des enseignants. Les cours ne seront offerts que si la demande est suffisante pour remplir une classe (minimum 4 étudiants).   </p>

<p><u>Vous pouvez consulter les renseignements relatifs à votre employé en cliquant sur le lien suivant : </u></p>
<p>[LIEN VERS LE FORMULAIRE WEB AVEC LA SECTION GESTIONNAIRE] </p>

<p>Pour approuver ou refuser la demande, il suffit de cocher la case appropriée et de cliquer sur <i>Envoyer</i>. </p>

<p><b><u>En approuvant la demande, j’accepte : </u></b></p>
<p><b><u>•	D’adapter la charge de travail de mon employé pour lui permettre de suivre des cours; </u></b></p>
<p><b><u>•	D’engager les fonds nécessaires pour payer la formation linguistique; et</u></b></p>
<p><b><u>•	De soutenir l'employé dans ses efforts pour utiliser et maintenir sa compétence dans la deuxième langue officielle à son retour au travail. </u></b></p>

<p>Pour plus d'informations sur la formation linguistique, veuillez consulter le site : https://intranet.nrcan.gc.ca/services-policies/guide-language-trainingtesting</p>

<p>Pour toute question, veuillez vous adresser à : </p>

<p>Formation linguistique : nrcan.languagetraining-formationlinguistique.rncan@canada.ca</p>

<p>Merci, </p>
<p>L’École de langues de RNCan </p>

<p>nrcan.languagetraining-formationlinguistique.rncan@canada.ca. </p>


@code {

    [Parameter]
    public LanguageTrainingParameters ApplicationParameters { get; set; }

}
