@namespace Datahub.Core.Templates

<p>Good day, </p>
<p>Thank you for your interest in participating in language training with the NRCan Language School.</p>
<p>Unfortunately, your application was received after the cut-off date for the @ApplicationParameters.Session session. </p>
<p>We encourage you to resubmit your interest in language training for the next session. A callout for interest will be posted to The Source.</p>
<p>Alternatively, should you wish to explore language-training opportunities with external providers, please contact your procurement advisor for advice on how to proceed. </p>

<p>For any questions, please email:</p>
<p>Language Training: languagetraining-formationlinguistique@nrcan-rncan.gc.ca</p>

<p>The NRCan Language School </p>
<p>languagetraining-formationlinguistique@nrcan-rncan.gc.ca </p>



<hr />

<p>Bonjour, </p>
<p>Nous vous remercions de votre intérêt à participer à une formation linguistique à l'École de langues de RNCan.  </p>
<p>Votre demande a, par contre, été reçue après la date limite d’inscription pour la session @ApplicationParameters.Session. </p>
<p>Nous vous encourageons donc à communiquer à nouveau votre intérêt pour une formation linguistique pour la prochaine session. Une annonce sera publiée dans La Source à cet effet. </p>
<p>Par ailleurs, si vous souhaitez explorer les possibilités de formation linguistique auprès de fournisseurs externes, veuillez communiquer avec votre conseiller en approvisionnement pour obtenir des conseils sur la manière de procéder. </p>

<p>Pour toute question, veuillez vous adresser à : </p>
<p>Formation linguistique : languagetraining-formationlinguistique@nrcan-rncan.gc.ca</p>

<p>L’École de langues de RNCan </p>
<p>languagetraining-formationlinguistique@nrcan-rncan.gc.ca</p>


@code {

    [Parameter]
    public LanguageTrainingParameters ApplicationParameters { get; set; }

}
