@namespace Datahub.Core.Templates

<p>Good day, </p>
<p>Thank you for your interest in participating in language training with the NRCan Language School.</p>
<p>Following a review of your language-training file, a new Language Training and Evaluation Plan (LETP) assessment is required prior to being eligible to register for language training with the NRCan Language School. </p>
<p>We will contact you regarding next steps.</p>

<p>The NRCan Language School </p>
<p>languagetraining-formationlinguistique@nrcan-rncan.gc.ca </p>



<hr />

<p>Bonjour, </p>
<p>Nous vous remercions de votre intérêt à participer à une formation linguistique à l'École de langues de RNCan.  </p>
<p>Suite à l'examen de votre dossier de formation linguistique, un nouveau Plan d'évaluation et de formation linguistiques (ELPF) est requis avant de pouvoir vous inscrire. </p>
<p>Nous communiquerons avec vous concernant les prochaines étapes. </p>

<p>L’École de langues de RNCan </p>
<p>languagetraining-formationlinguistique@nrcan-rncan.gc.ca </p>


@code {

    [Parameter]
    public LanguageTrainingParameters ApplicationParameters { get; set; }

}
