@use '../common/colors';
@use '../common/constants';
@use '../common/utils';

$buttonOptions: (
  'default': (
    'position': relative,
    'display': inline-block,
    'padding': 0.25rem 1rem,
    'border-radius': 2px,
    'line-height': 1.5,
    'font-size': 0.8rem,
    'font-weight': 400,
    'white-space': nowrap,
    'text-align': center,
    'border': none,
    'transition': all 0.3s constants.$cubic-bezier,
    'cursor': pointer,
    'color': colors.$white,
    'background-color': colors.$grey-600,
    'border-color': colors.$grey-600,
    '-webkit-touch-callout': none,
    /* iOS Safari */ '-webkit-user-select': none,
    /* Safari */ '-khtml-user-select': none,
    /* Konqueror HTML */ '-moz-user-select': none,
    /* Old versions of Firefox */ '-ms-user-select': none,
    /* Internet Explorer/Edge */ 'user-select': none,
    /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
      '&:hover':
      (
        'background-color': colors.$grey-700,
        'border-color': colors.$grey-700,
      ),
  ),
  'dark': (
    'background-color': colors.$grey-800,
    'border-color': colors.$grey-800,
    '&:hover': (
      'background-color': colors.$grey-700,
      'border-color': colors.$grey-700,
    ),
  ),
  'light': (
    'color': colors.$grey-600,
    'background-color': colors.$grey-100,
    'border-color': colors.$grey-100,
    '&:hover': (
      'background-color': colors.$grey-300,
      'border-color': colors.$grey-300,
    ),
  ),
  'blue': (
    'background-color': colors.$blue-600,
    'border-color': colors.$blue-600,
    '&:hover': (
      'background-color': colors.$blue-700,
      'border-color': colors.$blue-700,
    ),
  ),
  'red': (
    'background-color': colors.$red-600,
    'border-color': colors.$red-600,
    '&:hover': (
      'background-color': colors.$red-700,
      'border-color': colors.$red-700,
    ),
  ),
  'disabled': (
    'opacity': 0.5,
    'cursor': not-allowed,
  ),
);

@mixin configure($options) {
  @if ($options) {
    $buttonOptions: $options !global;
  }
}

@mixin styles {
  .ae.button {
    &:focus {
      outline: none;
    }
    @include utils.set-variations($buttonOptions);
  }
}
