@use 'Common' as c;



.header-wrapper {
    .pillbutton {
        background-color: c.$borderblue;
        color: c.$white;
        text-align: center;
        cursor: pointer;
        border-radius: 1rem;
        font-size: 0.6rem;
        margin-left: 2rem;
        padding: 0.25rem 0.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: rgba(c.$borderblue, 0.8);
        }

        i {
            margin-right: 0.5rem;
        }
    }
}

