.progressBarLabel {
    vertical-align: middle;
    height: 17px;
    padding-bottom: 3px;
    padding-left: 2px;
    font-size: 0.6rem;
    position: absolute;
}

.progressBarContainer {
    width: 100%;
    display: block;
}