@use 'Common' as c;

.search-popup {
    position: fixed;
    overflow-y: auto;
    max-width: 600px;
    background-color: c.$white;
    border: 1pz solid c.$gray-200;

    @include c.BoxShadow(2);

    .footer {
        border-top: 1px solid c.$gray-200;
    }

    .nrcan-close-button {
        display: none;
    }
}

.search-list-container {
    background-color: c.$white;
    max-height: 275px;
    width: 480px;
    min-width: 500px;
    border: 1px solid c.$gray-200;
    overflow-y: auto;

    .search-grid-row {
        display: grid;
        grid-template-columns: .125fr 60% auto;
        font-size: 0.8rem;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 15px 20px;
        text-align: left;
        border-width: 0 0 1px 0;

        &.icons {
            width: 32px;
            height: 32px;
        }

        .textcontent {
            justify-content: left;
            flex-grow: 1;
            
            > a {
                color: #212529;
            }

            > i {
                margin-left: 0.25rem;
                width: 1rem;
                padding-top: 0.175rem;
            }   

            &.small-text {
                font-size: 0.6rem;
            }

            &.large-text {
                font-size: 1rem;
            }
        }

        .break {
            flex-basis: 100%;
            height: 0;
        }
    }
}
