@import 'colors';
@import 'box-shadow';
@import '_constants.scss';

#add-data-wrapper {
    position: absolute;
    top: $topbarHeight;
    left: 0px;
    background-color: $white;
    width: 100%;
    height: 100vh;


    &.hidden {
        display: none;
    }
}

.icon-color {
    color: $borderblue;

    &.sm-icon {
        width: 16px;
    }
}

.roundbutton {
    background-color: $borderblue;
    border: none;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0rem 1rem;
}


.errortext {
    color: $red-300;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10rem;
}

.bodytext {
    color: $textPrimary;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;

    .privacytext {
        display: flex;
        flex-direction: row;
    }

    .drag-drop-zone {
        border: 3px $borderblue;
        width: 30rem;
        height: 4rem;
        display: flex;
        align-items: center;
        background-color: $nrcangray;
        box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
        color: #aeaeae;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        padding: 10px;
    }

    .drag-drop-zone:hover {
        background-color: $gray-200;
    }

    .drag-drop-zone input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $nrcangray;
        width: 30rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 10rem;
        font-size: 0.8rem;
        margin-top: -1rem;



        .bottomborder {
            border: solid $gray-400;
            border-width: 0 0 1px 0;
        }

        > a {
            padding: 1rem;
            cursor: pointer;
        }

        > a:hover {
            background-color: $gray-200;
            color: $gray-600;
        }
    }

    .show {
        display: flex;
        flex-direction: column;
    }

    .formlabel {
        width: 10rem;
        display: flex;
        flex-direction: row;
        padding-top: 0.17rem;
        font-weight: inherit;

        > a {
            color: #212529;
        }
    }

    .customlist {
        display: flex;
        flex-direction: column;
    }

    .custominputwrapper {
        display: flex;
        flex-direction: row;
    }

    .customuserinput {
        width: 15rem;
        flex-direction: row;
        display: flex;
        align-items: center;

        input {
            border-color: $borderblue;
            border-width: 1px;
            border-style: solid;
            background-color: $transparent;
            font-size: 0.9rem;
            width: 100%;
            padding: 0.25rem 0.5rem;
            margin-left: 10px;

            &:focus {
                outline: none;
                border-color: $blue-500;
            }
        }
    }

    .formdropdown {
        width: 29rem;
        display: flex;
        flex-direction: row;
        border-color: $borderblue;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        background-color: $transparent;
        font-size: 0.8rem;
        padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    }

    .chevronborder {
        width: 1rem;
        border-color: $borderblue;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        margin-top: auto;
        height: 1rem;
    }

    .formuserinput {
        width: 30rem;
        display: flex;
        flex-direction: row;
        border-color: $borderblue;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        background-color: $transparent;
        font-size: 0.8rem;
        padding: 0.25rem 0.25rem 0.25rem 0.5rem;

        &:focus {
            outline: none;
            border-color: $blue-500;
        }
    }

    .formtextarea {
        width: 30rem;
        display: flex;
        flex-direction: row;
        border-color: $borderblue;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        background-color: $transparent;
        font-size: 0.8rem;
        border-color: $borderblue;
        resize: none;
        padding: 0.3rem;

        &:focus {
            outline: none;
            border-color: $blue-500;
        }
    }

    .bluetext {
        color: $borderblue;

        &:hover {
            cursor: pointer;
        }
    }

    .redtext {
        color: $red-500;

        &:hover {
            cursor: pointer;
        }
    }
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 1rem 0.5rem 1rem;
}

.submitrow {
    position: relative;
    left: 550px;
    display: flex;
    flex-wrap: nowrap;
}

.submitbutton {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: smaller;
}

.finish {
    background-color: $borderblue;
    color: $white;

    &:disabled {
        background-color: $black;
        color: $nrcangray;
    }
}

.cancel {
    background-color: $white;
    color: $black;
}
