@import 'colors';
@import 'box-shadow';
@import 'constants';

#sidebar {
    z-index: 2;
    position: sticky;
    top: 0;
    width: $sidebarWidth;
    min-width: $sidebarWidth;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $white;
    //margin-top: $marginTop;
    @include BoxShadow(1);


    > a, > div {
        padding: 1rem 0.5rem;
    }

    > a {
        color: $textPrimary;
        text-decoration: none;
        font-size: 0.8rem;
        border-left: 4px solid $transparent;

        i {
            margin-left: 0.25rem;
            width: 1.75rem;
        }

        &:hover {
            background-color: #F7F7F7;
        }

        &.active {
            background-color: #F7F7F7;
            border-left: 8px solid $borderblue;
        }
    }

    .logo {
        background-color: $white;
        display: flex;
        align-items: center;
        border-bottom: 1px solid transparent;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 14px;
        margin-bottom: 50px;

        .img {
            width: 2.3rem;
            height: 2.3rem;
            background-color: $white;
        }

        .text {
            display: flex;
            flex-direction: column;
            padding-left: 0.8rem;
            color: $black;

            .title {
                font-size: 1.05rem;
                //font-weight: bold;
            }

            .subtitle {
                text-transform: uppercase;
                font-size: 0.7rem;
                max-height: 12px;
                padding-left: 1px;
            }
        }
    }

    .divider {
        padding-top: 1rem;
        border-bottom: 1px solid $gray-200;
        margin: -1rem 0 1rem;
    }
}