@import 'colors';
@import 'box-shadow';
@import 'constants';

@import 'Components/_icons.scss';


#sidebar {
    z-index: 2;
    position: sticky;
    top: 0;
    width: $sidebarWidth;
    min-width: $sidebarWidth;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $white;

    .links {
        height: 100%;
        border-right: 1px solid $gray-200;

        > a, > div {
            padding: .5rem;
        }

        > a {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-left: 4px solid $transparent;
            border-right: 4px solid $transparent;
            font-size: 0.5rem;
            text-transform: uppercase;
            text-decoration: none;
            transition: all .2s $cubic-bezier;

            @include icon-color;


            i {
                height: 36px;
                font-size: 2rem;
                margin-bottom: 2px;
            }

            .powerbi-svg {
                background-color: red;
                width: 32px;
                height: 32px;
                -webkit-mask: url('icons/svg/power-bi.svg') no-repeat center;
                mask: url('icons/svg/power-bi.svg') no-repeat center;
            }

            &:hover {
                @include icon-hover;
            }


            &.active {
                background-color: #F7F7F7;
                border-left-color: $borderblue;
                color: $gray-900;
            }
        }
    }

    .logo {
        background-color: $white;
        border-bottom: 1px solid transparent;
        height: $topbarHeight;
        margin: 0 auto;

        img {
            padding: .5rem;
        }
    }
}

