@import 'colors';
@import 'box-shadow';
@import 'constants';

#topbar {
    background-color: $white;
    z-index: 1;
    position: fixed;
    left: 200px;
    top: 0;
    width: calc( 100% - 200px );
    display: flex;
    align-items: center;
    //border-bottom: 1px solid $gray-200;
    flex-wrap: nowrap;
    height: $topbarHeight;
    //margin-top: $marginTop;
    padding-top: 8px;

    .spacer {
        flex-grow: 1;
    }

    #topSearch {
        min-width: 500px;
    }
    //.search {
    //    display: flex;
    //    align-items: center;
    //    margin: 0 2rem;
    //    max-width: 500px;
    //    min-width: 500px;
    //    padding: 0.5rem 1rem;
    //    border-radius: 8px;
    //    flex-grow: 2;
    //    background-color: $gray-100;
    //    input {
    //        border: none;
    //        background-color: $transparent;
    //        color: $textPrimary;
    //        font-size: 0.8rem;
    //        width: 100%;
    //        padding: 0.25rem 0.5rem;
    //        &:focus {
    //            outline: none;
    //        }
    //    }
    //}
    .icon {
        display: flex;
        align-items: center;
        height: 100%;

        .topbar-icon {
            padding: 0 1rem;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $nrcangray;
            }
        }
    }

    .notifications {
        position: relative;

        .count {
            position: absolute;
            top: 1rem;
            right: 0.5rem;
            background-color: $red-600;
            color: $white;
            border-radius: 5rem;
            width: 1rem;
            height: 1rem;
            font-weight: bold;
            font-size: 0.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    .help-popup {
        h3 {
            margin-top: 0;
        }

        .nrcan-typography {
            margin: 1rem 0;
        }

        .email-wrapper {
            margin: 2rem 0;
            color: $borderblue;
            text-align: center;

            a {
                color: $borderblue;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid $borderblue;
                }
            }
        }

        .help-links {
            margin: 1rem 0;

            .link-wrapper {
                display: flex;
                margin: 2rem 0 1rem;

                a {
                    display: block;
                    color: $borderblue;
                    text-decoration: none;
                    border-bottom: 1px solid $transparent;

                    &:hover {
                        border-color: $borderblue;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .profile {
        height: 100%;

        .toggle {
            height: 100%;
            display: flex;
            align-items: center;
            white-space: nowrap;
            padding: 0 1rem;
            margin-top: 0px;

            &:hover {
                background-color: $nrcangray;
                cursor: pointer;
            }
        }

        .picture {
            margin-left: 1rem;
            height: 2rem;
            width: 2rem;
            border-radius: 4rem;
            background-color: $gray-800;
        }

        .user-popup {
            right: 0;
            width: 750px;

            .user-section {
                display: flex;

                .profile-circle {
                    margin: 1rem;
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 1rem 0;

                    .email {
                        font-size: 0.7rem;
                    }
                }

                .language-toggle {
                    flex-grow: 1;
                    margin: 1rem 2rem;
                    display: flex;
                    flex-direction: row-reverse;

                    .nrcan-typography {

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }

            .description {
                margin: 1rem;
            }

            .signout {
                margin: 1rem 1rem 0;
            }
        }
    }
}
