@import '../../_colors.scss';

$icon-colors: (
  "blue": (
    "primary": $blue-300,
    "secondary": $blue-400,
  ),
  "indigo": (
    "primary": $indigo-500,
    "secondary": $indigo-600,
  ),
  "purple": (
    "primary": $purple-500,
    "secondary": $purple-600,
  ),
  "pink": (
    "primary": $pink-500,
    "secondary": $pink-600,
  ),
  "yellow": (
    "primary": $yellow-500,
    "secondary": $yellow-700,
  ),
  "green": (
    "primary": $green-500,
    "secondary": $green-600,
  ),
  "grey": (
    "primary": $gray-700,
    "secondary": $gray-700,
  ),
  "base": (
    "primary": $gray-500,
    "secondary": $gray-500,
  )
);

@mixin icon-colors {
  @each $color, $palette in $icon-colors {
    &.#{$color} {
      --fa-primary-color: #{map-get($palette, "primary")};
      --fa-secondary-color: #{map-get($palette, "secondary")};
    }
  }
}

@mixin base-icon-color {
  --fa-primary-color: #{map-get(map-get($icon-colors, "base"), "primary")};
  --fa-secondary-color: #{map-get(map-get($icon-colors, "base"), "secondary")};
}

@mixin base-icon-hover {
  &:hover {
    --fa-primary-color: #{map-get(map-get($icon-colors, "grey"), "primary")};
    --fa-secondary-color: #{map-get(map-get($icon-colors, "grey"), "secondary")};
  }
}