@inject IStringLocalizer DataLocalizer
@inject FinanceDBContext Context


<h2>Selected Program</h2>
<AeTable Accessors="accessorFunctions"
         T="SectorAndBranch"
         Dataset="_sectors"
         Headers="headers"
         GridTemplateColumns="4fr 8fr"
         MaxHeight="200" />


@code {

    [Parameter]
    public string sector { get; set; }

    private List<SectorAndBranch> _sectors;

    protected override async Task OnInitializedAsync()
    {
        // load projects
        _sectors = Context.SectorAndBranches.Where(p => p.SectorBranch_ID == Convert.ToInt32(sector)).ToList();
    }


    private List<string> headers = new List<string>
{
        "Sector","Branch"
    };

    private List<Func<SectorAndBranch, string>> accessorFunctions = new List<Func<SectorAndBranch, string>>
{
        new Func<SectorAndBranch, string>(p => { return p.Sector_TXT; }),
        new Func<SectorAndBranch, string>(p => { return p.Branch_TXT; }),
    };


}
